<%= simple_form_for(@team) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "Nama #{type_translated(@type)}" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Daftarkan Tim", class: "btn btn-primary" %>
  </div>
<% end %>
