<% title("Cari Grup Terdaftar") %>

<div class="container">
  
  <h3 class="text-center">Cari Grup Terdaftar </h3>
    <div class="col-md-8 col-md-offset-2" id="join-firm">
      <%= render 'search' %>
      <hr>
      <%= link_to 'Kembali ke laman pendaftaran', sti_team_path(@type, nil, :new) %>
    </div>
  <% if search_params_exist? %>
    <div class="col-md-12 search-result">

    <h3 class="text-center">Hasil Pencarian </h3>
      <p><%= @teams.count %> hasil ditemukan</p>
      <div class="row">
        <div id="no-more-tables">
          <table class="col-md-12 table-bordered table-striped table-condensed cf text-center">
            <thead class="cf">
              <tr>
                <th class="text-center">Nama Grup</th>
                <th class="text-center">Jenis</th>
                <th class="text-center">Alamat</th>
                <th class="text-center">Dibuat</th>
                <th class="text-center">Lihat</th>
                <th class="text-center">Bergabung</th>
              </tr>
            </thead>
            <tbody>
            <% @teams.each_with_index do |firm, index| %>
              <%= render partial: 'team', locals: { team: team, index: index, roster: "true" } %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>    

      
    </div>
  <% end %>
  
</div>