<% title("Daftarkan Bisnismu") %>
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>Buat <%= type_translated(@type) %> Baru</h1>

    <%= render 'form' %>
    <br>
  </div>
</div