<p id="founding">
	<i class="fa fa-birthday-cake"></i> 
	<span class="title">Didirikan Pada:</span> 
	<%= @business.anno %>
	  <i class="fa fa-anchor"></i> 
	<span class="title">Jumlah Pendiri</span> 
	<%= @business.founding_size %>	
</p>

<p id="address">
	<i class="fa fa-globe"></i> 
	<span class="title">Alamat:</span>  
	St. Revutskogo, Kiev, Ukraine
</p>
<p>
	<i class="fa fa-briefcase"></i>
	<span class="title">Tentang Bisnis</span>  
	<p id="bio"	><%= @business.about %></p>
</p>  