<% title("All Firms") %>

<div class="col-md-12 search-result">

<h3 class="text-center">Pengelola Arena Yang Terdaftar </h3>
  <p><%= @firms.count %> hasil ditemukan</p>
  <div class="row">
    <div id="no-more-tables">
      <table class="col-md-12 table-bordered table-striped table-condensed cf text-center">
        <thead class="cf">
          <tr>
            <th class="text-center">Nama Bisnis</th>
            <th class="text-center">Arena</th>
            <th class="text-center">Kota</th>
            <th class="text-center">Alamat</th>
            <th class="text-center">Dibuat</th>
          </tr>
        </thead>
        <tbody>
        <% @firms.each_with_index do |firm, index| %>
          <%= render partial: 'firms/firm', locals: { firm: firm, index: index }  %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>    

  
</div>