<% meta title: "Ruang Diskusi", description: "Tempat kamu untuk bertanya sekaligus bertukar informasi" %>

<h3>Tempat diskusi dan tanya jawab</h3>
<hr>
<p>Kalau kamu ada pertanyaan, silahkan tulis di sini dan kami akan menjawabnya sebisa dan secepat mungkin</p>

<div id="disqus_thread"></div>
<%= render partial: 'elements/disqus_script', locals: { identifier: 'Ruang Diskusi' } %>