<%
meta title: "Blog",
     description: "Blog yang membahas ekonomi & keuangan syariah serta kesuksesan dunia & akhirat",
     keywords: %w(ekonomi keuangan syariah islam kesuksesan kebahagiaan)
%>

<div id="posts-list">
<% @posts.each do |post| %>
  <%= render partial: 'elements/post', locals: { post: post, multiple: true } %>
  <div class="spacing"></div>
<% end %>
</div>

<div class="pagination-control text-center">
  <%= paginate @posts %>
</div>	