<div class="nested-fields">
  <div class="form-group">

    <div class="col-xs-12 col-sm-12" data-toggle="tooltip" title="">
      <%= f.text_field :name, label: "Nama Alamat", placeholder: "contoh: Rumah, Kantor Pusat, Toko 1", required: true %>
    </div>
    <div class="col-xs-12 col-sm-12" data-toggle="tooltip" title="">
      <%= f.text_field :full_address, label: "Alamat Lengkap", placeholder: "sesuai dengan yang ada di kartu identifikasi", required: true %>
    </div>
  
  </div>
</div>