<div class="modal-header modal-header-success">
  <h3><%= "Profil Pengguna" %></h3>
</div>
<div class="modal-body">
  <center>
    <h3 class="media-heading"><%= "Buat Profil Pengguna" %></h3>
	<% if @profile_type == 'team' %>	
	  <%= render partial: 'profiles/form', locals: { team: true } %>
	<% elsif @profile_type == 'user' %>
	  <%= render partial: 'profiles/form', locals: { user: true } %>
	<% end %>    
  </center>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Tutup</button>
</div>

