<div class="modal-header modal-header-success">
  <h3><%= "Info Profil" %></h3>
</div>
<div class="modal-body">
  <center>
    <%= render partial: 'profiles/profile', locals: { profile: @profile, category: @category } %>
  </center>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Kembali</button>
</div>