<% title("Edit Profil") %>

<h1>Edit Profil dan Alamat</h1>
<% if @profile_type == 'firm' %>	
	<%= render partial: 'form', locals: {firm: true, number_type: 'Firm'} %>
<% else %>
	<%= render partial: 'form', locals: {number_type: 'User', number: current_user.id} %>
<% end %>