<% title("Buat Profil") %>

<h1>Buat Profil dan Alamat</h1>
	<% if @profile_type == 'team' %>	
	  <%= render partial: 'profiles/form', locals: { team: true } %>
	<% elsif @profile_type == 'user' %>
	  <%= render partial: 'profiles/form', locals: { user: true } %>
	<% end %>    