<div class="modal-header modal-header-success">
  <h3>Koreksi Pengajuan<span class="light"><%= @category.titleize %></span></h3><hr class="light"></hr>
</div>
<div class="modal-body">
  <center>
  	<%= render 'form' %>
  </center>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Batalkan</button>
</div>