<div class="modal-header modal-header-primary">
  <h3>Pengajuan <span class="light"><%= @category.titleize %></span></h3>
</div>
<div class="modal-body">
  <center>
    <h5 class="media-heading"><%= "Mohon isi formulir di bawah ini" %></h5>
    <br>
	  <%= render 'form' %>
  </center>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Batalkan</button>
</div>