
<div class="home" style="">
  <h3 class="primary"><i class="ion ion-briefcase"></i> Bursa</h3><hr class="light">

  <div class="row" id="home-view">
    <div class="col-md-12">
      <%= render partial: 'tenders/tenders', locals: { tenders: @tenders } %>      
    </div>
  </div>
</div>