<%= simple_form_for([:admin, @house], html: { class: 'form-horizontal' }, wrapper: :horizontal_form) do |f| %>

  <div class="form-inputs">
	<h5>Galeri Foto</h5>
	  <%= f.attachinary_file_field :photos %>
	<hr>  
  </div>

<% end %>