<div class="blankslate">
	<div class="spacious">
		<h3>Belum Ada Aktifitas</h3>
		<p>Wikis provide a place in your repository to lay out the roadmap of your project, show the current status, and document software better, together.</p>
		<%= link_to 'Tunggu', '#', class: "btn btn-outlined btn-theme", :remote => true  %>
	</div>
</div>