<div class="modal-header modal-header-primary">
  <h3>Kontak</h3>
</div>
<div class="modal-body primary-background">
  <center>
    <h3 class="white media-heading"><%= "Kirim pesan kepada kami" %></h3>
	  <%= render 'elements/form_contact' %>
  </center>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Batalkan</button>
</div>