  <div class="panel panel-default">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
      <div class="panel-heading">
        <h3 class="panel-title">
          Apa yang dimaksud dengan murabahah?
          <i class="fa fa-angle-double-down extend-icons pull-right primary"></i>
        </h3>
      </div>
    </a>
    <div id="collapseTwo1" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="media accordion-inner">
          <div class="pull-left">
          </div>
          <div class="media-body">
            <p>Murabahah sederhananya adalah akad jual-beli barang yang boleh dilakukan secara angsuran atau tunai selama mematuhi rambu-rambu syariah Islam. Salah satu rambu yang penting adalah barang harus telah dimiliki secara fisik oleh penjual sebelum akad jual-beli dilakukan. Dalam hal dimana penjual belum memiliki barangnya, maka pemesanan boleh dilakukan namun tidak boleh ada kontrak jual-beli yang mengikat si pemesan/pembeli, dengan kata lain apabila pembeli ingin membatalkan pesanan atau transaksi, tidak ada konsekuensi baginya.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
      <div class="panel-heading">
        <h3 class="panel-title">
          Kalau musyarakah?
          <i class="fa fa-angle-double-down extend-icons pull-right primary"></i>
        </h3>
      </div>
    </a>
    <div id="collapseThree1" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="media accordion-inner">
          <div class="pull-left">
          </div>
          <div class="media-body">
            <p>Musyarakah mutanaqishah (MMQ) adalah akad syirkah (berkerja sama) salah satunya untuk kepemilikan bersama atas suatu barang. Barang tersebut kemudian disewakan kepada kamu sebagai rekan syirkah, jika kamu mau memakainya (dalam hal rumah, tinggal di rumah tersebut), atau kepada pihak ketiga. Si penyewa barang (rumah), kamu atau pihak ketiga, kemudian membayar sewa kepada pihak syirkah yang tidak menggunakan aset tersebut. Rekan syirkah atau pihak ketiga dapat membeli porsi kepemilikan rekan yang lain selama ada persetujuan dari rekan tersebut. Ketika barang dimiliki penuh (100%) oleh satu rekan, maka syirkah disebut selesai. Yang perlu diingat adalah tidak ada kewajiban bagi kamu atau pihak syirkah lain untuk menyewa aset atau membeli habis kepemilikan rekan syirkah yang lain.</p>
          </div>
        </div>
      </div>
    </div>
  </div>  