<div id="showcase">
	<div class="container">
		<div class="row">
			<h3 class="landing">Sekilas Tanya-Jawab</h3>
			<br>
			<div class="col-lg-8 col-lg-offset-2">
				<!-- Accordion START -->
        <div class="accordion">
            <div class="panel-group" id="accordion1">

  <div class="panel panel-default">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
      <div class="panel-heading active">
        <h3 class="panel-title">
          Bagaimana pembiayaan bisa dilakukan menurut syariah?
          <%= inline_svg "0323-circle-right.svg", class: 'extend-icons pull-right primary' %>
        </h3>
      </div>
    </a>
    <div id="collapseOne1" class="panel-collapse collapse in">
      <div class="panel-body">
        Syariah menganjurkan beberapa jenis akad (perjanjian) yang bisa digunakan untuk berbagai kasus. Akad-akad yang dimaksud adalah: Musharakah, Mudharabah, Murabahah, Ijarah, Salam & Istisna, dan sebagainya. Akad-akad inilah yang akan diterapkan di platform ini.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
      <div class="panel-heading">
        <h3 class="panel-title">
          Apa yang membedakan pembiayaan syariah dengan pembiayaan konvensional?
          <%= inline_svg "0323-circle-right.svg", class: 'extend-icons pull-right primary' %>
        </h3>
      </div>
    </a>
    <div id="collapseTwo1" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="media accordion-inner">
          <div class="pull-left">
          </div>
          <div class="media-body">
            <p>Pembiayaan syariah berdasar pada dua sumber, yaitu Al-Qur'an dan Hadits, mempunyai beberapa dasar larangan yang harus dipatuhi yaitu: </p>
              <h4>Riba</h4>
              <p>Riba secara praktis dapat didefinisikan sebagai pengenaan bunga dalam transaksi.</p>
              <h4>Gharar</h4>
              <p>Didefinisikan sebagai ketidakjelasan atau ketidakpastian, larangan ini mewajibkan transparansi dan kejelasan dalam bertransaksi dan pembuatan kontrak.</p>
              <h4>Maysir</h4>
              <p>Syariah melarang tindakan spekulasi dan perjudian, dan juga dapat diperluas maknanya menjadi "mendapatkan sesuatu dengan mudah atau tanpa usaha".</p>
              <h4>Keuntungan bebas risiko</h4>
              <p>Islam melarang adanya pihak yang mendapatkan profit tanpa mengambil risiko sama sekali. Semua keuntungan yang didapatkan harus merupakan buah dari usaha dan risiko yang telah diambil.</p>
              <h4>Tidak etis</h4>
              <p>Islam juga melarang aktifitas bisnis dan investasi yang melibatkan beberapa produk seperti alkohol, babi, dan hal-hal yang diharamkan oleh Islam lainnya.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
      <div class="panel-heading">
        <h3 class="panel-title">
          Informasi-informasi apa saja yang harus diberikan?
          <%= inline_svg "0323-circle-right.svg", class: 'extend-icons pull-right primary' %>
        </h3>
      </div>
    </a>
    <div id="collapseThree1" class="panel-collapse collapse">
      <div class="panel-body">
        Dalam mengisi formulir dan proposal pembiayaan, informasi mengenai bisnis serta tujuan wajib diperlukan untuk menghindari maysir dan gharar. Informasi pribadi yang diminta adalah nomor identitas (KTP), nomor telepon, akun sosial media (Twitter, Facebook). Dalam beberapa kasus, informasi tambahan seperti slip gaji, bukti bayar kebutuhan (sewa, listrik, telepon) akan diminta. Nomor PIN rekening bank dan info sensitif lainnya tidak akan diminta, begitu juga halnya dengan jaminan.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
      <div class="panel-heading">
        <h3 class="panel-title">
          Bagaimana bila saya gagal membayar atau memenuhi kewajiban?
          <%= inline_svg "0323-circle-right.svg", class: 'extend-icons pull-right primary' %>
        </h3>
      </div>
    </a>
    <div id="collapseFour1" class="panel-collapse collapse">
      <div class="panel-body">
        Dalam Islam, kerugian harus ditanggung oleh semua pihak yang terlibat dalam akad, seperti yang telah dituliskan dalam kontrak. Selama kamu jujur dalam berbisnis dan pelaporannya, maka kerugian akan diterima bersama. Keuangan syariah tidak mengenali adanya penyitaan jaminan ataupun penggunaan kekerasan dalam menyelesaikan transaksi yang bermasalah.
      </div>
    </div>
  </div>

            </div><!--/#accordion1-->
        </div>
        <!-- Accordion END -->
			</div>
		</div>
		<br>
		<br>
		<br>	
	</div><!-- /container -->
</div>			