<div id="faq">
	<div class="container">
		<div class="row">
			<h3 class="landing">Sekilas Tanya-Jawab</h3>
			<br>
			<div class="col-lg-8 col-lg-offset-2">
				<!-- Accordion START -->
        <div class="accordion">
            <div class="panel-group" id="accordion1">

  <div class="panel panel-default">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
      <div class="panel-heading active">
        <h3 class="panel-title">
          Bagaimana pembiayaan rumah bisa dilakukan tanpa hutang dan bunga?
          <%= inline_svg "0323-circle-right.svg", class: 'extend-icons pull-right primary' %>
        </h3>
      </div>
    </a>
    <div id="collapseOne1" class="panel-collapse collapse in">
      <div class="panel-body">
        Keuangan syariah menganjurkan beberapa jenis akad (perjanjian) yang bisa digunakan dalam kasus ini. Akad-akad yang dimaksud adalah: Musharakah, Ijarah (Sewa), Murabahah (Penjualan). Akad-akad inilah yang akan diterapkan di siKapiten.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
      <div class="panel-heading">
        <h3 class="panel-title">
          Apa pembiayaan ini bisa dijamin kebenarannya dari sisi syariah?
          <%= inline_svg "0323-circle-right.svg", class: 'extend-icons pull-right primary' %>
        </h3>
      </div>
    </a>
    <div id="collapseTwo1" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="media accordion-inner">
          <div class="pull-left">
          </div>
          <div class="media-body">
            <p>Insya Allah, kami berinteraksi secara konstan dengan para ahli fiqih dan keuangan syariah untuk menjamin apa yang kami tawarkan dari aspek produk, akad, dan kontrak 100% sesuai dengan syariah.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
      <div class="panel-heading">
        <h3 class="panel-title">
          Informasi-informasi apa saja yang harus diberikan?
          <%= inline_svg "0323-circle-right.svg", class: 'extend-icons pull-right primary' %>
        </h3>
      </div>
    </a>
    <div id="collapseThree1" class="panel-collapse collapse">
      <div class="panel-body">
        Dalam mengisi formulir dan proposal pembiayaan, informasi mengenai bisnis serta tujuan wajib diperlukan untuk menghindari maysir dan gharar. Informasi pribadi yang diminta adalah nomor identitas (KTP), nomor telepon, akun sosial media (Twitter, Facebook). Dalam beberapa kasus, informasi tambahan seperti slip gaji, bukti bayar kebutuhan (sewa, listrik, telepon) akan diminta. Nomor PIN rekening bank dan info sensitif lainnya tidak akan diminta, begitu juga halnya dengan jaminan.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
      <div class="panel-heading">
        <h3 class="panel-title">
          Bagaimana bila saya gagal membayar atau memenuhi kewajiban?
          <%= inline_svg "0323-circle-right.svg", class: 'extend-icons pull-right primary' %>
        </h3>
      </div>
    </a>
    <div id="collapseFour1" class="panel-collapse collapse">
      <div class="panel-body">
        Dalam Islam, kerugian harus ditanggung oleh semua pihak yang terlibat dalam akad, seperti yang telah dituliskan dalam kontrak. Selama kamu jujur dalam berbisnis dan pelaporannya, maka kerugian akan diterima bersama. Keuangan syariah tidak mengenali adanya penyitaan jaminan ataupun penggunaan kekerasan dalam menyelesaikan transaksi yang bermasalah.
      </div>
    </div>
  </div>

            </div><!--/#accordion1-->
        </div>
        <!-- Accordion END -->
			</div>
		</div>
		<br>
		<br>
		<br>	
	</div><!-- /container -->
</div>			