<div class="box">
  <div class="box-content">
    <h1 class="tag-title">Murabaha</h1>
    <hr class="light">
    <h3><small>Pembelian Rumah</small></h3>
    <p>Pembelian rumah dengan sistem cicilan tanpa bunga, denda, dan penyitaan. Apabila gagal bayar, maka rumah akan dijual dan hasil penjualan digunakan untuk membayar hutang, selebihnya dikembalikan.</p>
    <br />
    <% unless defined?(linkless) && linkless == true %>
      <%= link_to 'Pilih Murabahah', new_tender_path(user_id: current_user, type: 'murabaha', intent: 'fundraising', asset: "Stock"), class: "btn btn-block btn-round-lg btn-info", remote: true  %>
    <% end %>    
  </div>
</div>