<div class="phone">
  <% if defined?(type) && type == 'firm' %>
    <%= image_tag("admin.png", class: "img-responsive img-rounded") %>
  <% else %>
    <%= image_tag("home_screen.png", class: "img-responsive img-rounded") %>
  <% end %>
</div>