<section>
  <div class="container">
    <div class="row">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Murabahah</a></li>
        <li><a href="#tab2" data-toggle="tab">Musyarakah</a></li>
      </ul>


      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
          <%= form_tag simulation_path, method: 'get', remote: true, class: "form-inline lead-big", role: "form" do %>

            <div class="form-group">
              <label for="name">Hai, saya ingin membeli rumah seharga Rp <span>Harga rumahnya </span></label>
              
              <%= number_field_tag :price, '', in: 50000000..1000000000, step: 10000000, placeholder: " ", required: true %>
            </div>

            <div class="form-group">
              <label for="company"> dan berniat mencicilnya selama <span>Lama cicilan</span></label>
              <%= number_field_tag :maturity, '', in: 5..10, step: 1, placeholder: " ", required: true %>
              tahun.
            </div>

            <div class="form-group">
              <label for="company"> Modal yang telah saya kumpulkan adalah sebesar <span>Modalmu</span></label>
              <%= number_field_tag :contribution_percent, '', in: 30..90, step: 10, placeholder: " ", required: true %>
              % dari harga rumah.
            </div><br>

            <button type="submit" class="btn btn-default btn-lg submit"> Hitung Cicilan Bulanan </button>
          <% end %>          
        </div>

        <div class="tab-pane fade" id="tab2">

        </div>
      </div>
      
    </div>
  </div>  
</section>
<style type="text/css">
section {
    padding: 100px 0;
    background-color: #f0f0f0;
    text-align: center;
}

  .lead-big {
    font-size: 20px;
    line-height: 48px;
    color: #999;
}
.form-inline input,
.form-inline textarea,
.form-inline select {
    max-width: 235px;
    height: 40px;
    overflow: hidden;
    line-height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 1px dotted;
    vertical-align: text-bottom;
    cursor: pointer;
}
.form-inline .form-group label {
  width: inherit;
}
.form-inline .form-group label {
    position: relative;
}
.form-inline .form-group label > span {
    position: absolute;
    top: -25px;
    left: 0;
    font-size: 12px;
    color: #bdc3c7; 
    opacity: 1;
}
.submit.btn.btn-lg {
    font-size: 28px;
    color: #999;
    border: 1px dotted;
    background-color: transparent;
    border-radius: 0;
}
</style>