<!-- small box -->
<div class="small-box bg-aqua">
  <div class="inner">
    <h3>150 </h3>
    <p>Bazaar</p>
  </div>
  <div class="icon">
    <i class="ion-ios-bolt"></i>
  </div>
  <%= link_to marketplace_path, class: "small-box-footer" do %>
    Telusuri <i class="fa fa-arrow-circle-right"></i>
  <% end %>
</div>