<!--  notification start -->
<ul class="nav top-menu">
<!-- settings start -->
<li class="dropdown">
  <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
    <i class="fa fa-tasks"></i>
    <span class="badge bg-theme">4</span>
  </a>
  <ul class="dropdown-menu extended tasks-bar">
    <div class="notify-arrow notify-arrow-green"></div>
    <li>
      <p class="green">You have 1 pending tasks</p>
    </li>
    <li>
      <a href="index.html#">
        <div class="task-info">
            <div class="desc">DashGum Admin Panel</div>
            <div class="percent">40%</div>
        </div>
        <div class="progress progress-striped">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                <span class="sr-only">40% Complete (success)</span>
            </div>
        </div>
      </a>
    </li>
    <li class="external">
        <a href="#">See All Tasks</a>
    </li>
  </ul>
</li>

<!-- inbox dropdown start-->
<li id="header_inbox_bar" class="dropdown">
  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
      <i class="fa fa-envelope-o"></i>
      <span class="badge bg-theme">5</span>
  </a>
  <ul class="dropdown-menu extended inbox">
    <div class="notify-arrow notify-arrow-green"></div>
    <li>
        <p class="green">You have 1 new messages</p>
    </li>
    <li>
      <a href="#">
      <span class="photo"><img alt="avatar" src="assets/img/ui-zac.jpg"></span>
      <span class="subject">
      <span class="from">Zac Snider</span>
      <span class="time">Just now</span>
      </span>
      <span class="message">
          Hi mate, how is everything?
      </span>
      </a>
    </li>
    <li>
      <a href="#">See all messages</a>
    </li>
  </ul>
</li>
<!-- inbox dropdown end -->

<li id="header_inbox_bar" class="dropdown">
  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
      <i class="fa fa-envelope-o"></i>
      <span class="badge bg-theme">5</span>
  </a>
  <ul class="dropdown-menu extended inbox">
    <div class="notify-arrow notify-arrow-green"></div>
    <li>
        <p class="green">You have 1 new messages</p>
    </li>
    <li>
      <a href="#">
      <span class="subject">
      <span class="from">Berkas</span>
      <span class="time">1</span>
      </span>
      <span class="message">
         Belum mencukupi
      </span>
      </a>
    </li>
    <li>
      <a href="#">
      <span class="subject">
      <span class="from">Status</span>
      <span class="time">1</span>
      </span>
      <span class="message">
         Belum mencukupi
      </span>
      </a>
    </li>               
    <li>
      <a href="#">See all messages</a>
    </li>
  </ul>
</li>
<!-- inbox dropdown end -->           
</ul>
<!--  notification end -->