<%= form_tag subscribe_path, method: 'post', html: {role: "form"} do %>
  <div class="input-group">
    <%= text_field_tag :email, '', placeholder: "Alamat Email kamu", class: "form-control" %>
    <%= hidden_field_tag :category, @category, readonly: true %>
    <span class="input-group-btn">
    	<%= submit_tag "Simpan Email", class: "btn btn-outlined btn-theme" %>
    </span>
  </div>
<% end %>  