<div id="takeover_details" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Penelusuran</h4>
      </div>

<div class="modal-body">
  <div class="col-md-4">

    <ul class="article-list-basic"><li>
      <a href="#">
        <img src="http://res.cloudinary.com/instilla/image/upload/s--zI7LdhyW--/c_scale,w_400/v1454471660/cup-hot-hands_kcdfrd.jpg"  alt="Sahale Wa" />
      </a>
      <div>
        <h2><a href="#">Taubat</a></h2>
        <p>Bagi kamu, pemilik rumah, yang ingin terbebas dari hutang riba demi ketenangan dunia dan akhirat.</p>       
      </div>
    </li></ul>
  </div>
  <div class="col-md-8">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        
      <!-- panel 1 -->
      <div class="panel panel-default">
        <!--wrap panel heading in span to trigger image change as well as collapse -->
        <span class="side-tab" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="false">
          <div class="panel-heading" role="tab" id="headingOne"data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h4 class="panel-title">Penjelasan</h4>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
          </div>
        </span>
        
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p>Dengan skema Taubat, kamu tak perlu terus terjebak dalam hutang riba atas rumahmu. Dengan bergabung dalam syirkah al-milk (kepemilikan bersama) yang dibentuk oleh Kapiten, rumahmu menjadi aset syirkah hingga kerja sama selesai dan kamu terbebas dari riba dan juga hutang.</p>
          </div>
        </div>
      </div> 
      <!-- / panel 1 -->
      
      <!-- panel 2 -->
      <div class="panel panel-default">
        <!--wrap panel heading in span to trigger image change as well as collapse -->
        <span class="side-tab" data-target="#tab2" data-toggle="tab" role="tab" aria-expanded="false">
            <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h4 class="panel-title collapsed">Persyaratan</h4>
              <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
            </div>
        </span>

        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            Syarat-syarat untuk skema ini:
          </div>
          <ul class="list-group">
            <li class="list-group-item">Telah menempati rumah minimal selama 3 tahun dan berniat menempatinya seterusnya</li>
            <li class="list-group-item">Nilai hutang/hipotik tersisa maksimal 500 jt</li>
            <li class="list-group-item">Bersedia memberikan data diri serta menjalani proses skema Rintisan oleh Kapiten</li>
            <li class="list-group-item">Rumah memenuhi kriteria investasi Kapiten</li>
          </ul>
        </div>
      </div>
      <!-- / panel 2 -->
      
      <!--  panel 3 -->
<!--       <div class="panel panel-default">
        <span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
            <div class="panel-heading" role="tab" id="headingThree"  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h4 class="panel-title">Cara</h4>
              <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
            </div>
        </span>

        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            Cara untuk mendaftar skema Rintisan:
          </div>
          <ul class="list-group">
            <li class="list-group-item">Silahkan tekan tombol "Kirim Permintaan"</li>
            <li class="list-group-item">Isi formulir yang ada dan dalam 1x24 jam tim kami akan memberikan tanggapan dan informasi lanjutan</li>
          </ul>
        </div>
      </div> -->
    </div><!-- / panel-group -->
  </div> <!-- End of right column -->
</div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Kembali</button>
      </div>

    </div>
  </div>
</div>