<div class="profile-userpic">
  <img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
</div>
<div class="profile-usertitle">
  <div class="profile-usertitle-name">
    <%= current_user.name %>
  </div>
  <div class="profile-usertitle-job">
    Developer
  </div>
</div>
<div class="status-row" id="">
		<%= render 'elements/statuses' %>
</div>        
<div class="profile-userbuttons">
  <button type="button" class="btn btn-success btn-sm">Follow</button>
  <button type="button" class="btn btn-danger btn-sm">Message</button>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 profile-stats">
  <div class="col-md-6 col-sm-6 col-xs-12 stats-col">
      <div class="stats-value pink">85</div>
      <div class="stats-title">KREDIBILITAS</div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 stats-col">
      <div class="stats-value pink">10</div>
      <div class="stats-title">FOLLOWERS</div>
  </div>
</div>