<section class="bg-custom-lg">
<!--   <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="padding-md">
          <h2><span class="white"><%= @house.address %></span></h2>
          <h4><span class="white"><%= @house.city + ", " + @house.province %></span></h4>
          <a href="##" class="btn btn-white btn-outline">Buy Now!</a>
        </div>
      </div>
    </div>
  </div>
  <section class="bg-black-trans">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          
        </div>
      </div>
    </div>  
  </section> -->
</section>


<% unless @house.display_picture.nil? %>
  <style type="text/css">
    .bg-custom-lg {
      background: #252931 url("<%= cl_image_path(@house.display_picture.path, house_header_options) %>");
      background-repeat:no-repeat;
      background-position: center center;
    }
  </style>
<% end %>