<section class="bg-custom-lg">

</section>



  <style type="text/css">
    .bg-custom-lg {
      background: white url("<%= cl_image_path(@house.display_picture('path'), house_header_options) %>");
      background-repeat:no-repeat;
      background-position: center center;
    }
  </style>
