
<div id="direct_upload" class="centered extra-bottom-margin">
  <h5 class="centered">Unggah Foto</h5>
  <p>Unggah foto untuk properti ini. Format yang diterima adalah .jpg atau .png maksimal 2 MB. <br><small>Klik 'Choose Files' untuk memulai memilih, kemudian tekan tombol kirim.</small></p>
  <div class="form_line">
    <%= f.label "Status:" %><br>
    <%= f.submit "0 % Uploading", class: "btn btn-sm btn-coral", disabled: true %>
    <div class="spacing"></div>
    <div class="row">
      <div class="form_controls col-sm-6 col-sm-offset-3">
       <%= f.attachinary_file_field :photos %>
      </div>
    </div>
  </div>
  <div class="spacing"></div>
</div>
<div class="spacing extra-bottom-margin"></div>


<script>
  document.getElementsByClassName("attachinary-input")[0].addEventListener("click", function(){
    $("body").addClass("disable-nprogress");
  });
</script>      