<% meta title: "Edit Rumah" %>

<section class="intro bordered-section ">
  <div class="container">
    <div class="inner-skeleton">
      <h2>Koreksi Rumah</h2>
   		<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
		  	<%= render 'form' %>
   		</div>
   	</div>
  </div>
</section>
<section class="intro padded">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <div class="inner-skeleton danger-zone">
          <h2>Danger Zone <br><small>Pertimbangkan dengan matang sebelum kamu menghapus rumah ini. Dengan menghapus properti, kamu juga akan menghapus semua proposal yang berkaitan dengan properti ini.</small></h2>
          <p></p>
          <p>
            <%= link_to house_path(@house), method: :delete, data: {confirm: 'Kamu yakin mau melanjutkan?', object: 'Penghapusan properti'}, class: 'btn btn-danger btn-lg' do %>
                <span class="glyphicon glyphicon-trash reset-link"></span> Hapus Rumah
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>