<% meta title: "Edit Rumah" %>

<section class="intro bordered-section ">
  <div class="container">
    <div class="inner-skeleton">
      <h2>Koreksi Rumah</h2>
   		<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
		  	<%= render 'form' %>
   		</div>
   	</div>
  </div>
</section>