
<div class="home" style="">
  <h3 class="primary"><i class="ion ion-cube"></i> Properti</h3><hr class="light">
  <div class="row">
  	<div class="col-md-6">
  		<%= render partial: "house", collection: @houses %>
  	</div>
  </div>
</div>