
<div class="home" style="">
  <h3 class="primary"><i class="ion ion-cube"></i> Properti</h3><hr class="light">
  <div class="row">
  	<%= render partial: "houses/houses", locals: { houses: @houses } %>
  </div>
</div>