<% content_for :step_title do %>
  <h4 class="centered mt dark"><%= 'Karakteristik' %></h4>
<% end %>

<%= render layout: 'form' do |f| %>

  <%= f.input :category, collection: house_categories, prompt: "Pilih", selected: @house.category, label: "Kategori", required: true %>
  <%= render 'houses/characteristics_fields', f: f %>
   
<% end %>