<div class="modal-header modal-header-success">
  <% if defined?(edit) && edit %>
  	<h3>Koreksi Penawaran</h3>
  <% else %>
  	<h3>Pengajuan Penawaran</h3>
  <% end %>
</div>
<div class="modal-body">
  <center>
    <h3 class="media-heading"><%= heading %></h3>
	  <%= render 'form' %>
  </center>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Batalkan</button>
</div>