<div class="info-box bg-red">
  <span class="info-box-icon"><i class="fa fa-comments-o"></i></span>
  <div class="info-box-content">
    <span class="info-box-text"><%= bid.ticker %></span>
    <span class="info-box-number"><%= bid.volume %> lembar</span>
    <div class="progress">
      <div class="progress-bar" style="width: 70%"></div>
    </div>
    <span class="progress-description">
      untuk pengajuan <%= bid.tender.ticker %>
    </span>
  </div><!-- /.info-box-content -->
</div><!-- /.info-box -->