<div class="timeline-panel credits">
    <ul class="timeline-panel-ul">
        <li><span class="importo"><%= bid.ticker %></span></li>
        <li><span class="causale">Penawaran atas <%= link_to bid.tender.ticker, tender_path(bid.tender) %> dengan jumlah <%= bid.volume %> lembar</span> </li>
        <li>
        	<p><small class="text-muted">
        		<i class="glyphicon glyphicon-money"></i> <%= idr_money(bid.contribution) %>
        		<i class="glyphicon glyphicon-time"></i> 11/09/2014
        		</small>
        	</p> 
        </li>
    </ul>
</div>