<div class="modal-header modal-header-success">
  <h3>Pengajuan Penawaran</h3>
</div>
<div class="modal-body">
  <center>
    <h3 class="media-heading"><%= "Buat Proposal" %></h3>
	  <%= render 'form' %>
  </center>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Batalkan</button>
</div>