<%= form_for(current_user.relationships.build(followed_id: followed.id,followed_type: followed.class.name), remote: true, format: :js) do |f| %>

	<div><%= f.hidden_field :followed_id %></div>
	<div><%= f.hidden_field :followed_type %></div>
	<%= f.submit "Follow", class: "btn btn-sm btn-primary" %>

<% end %>