<div class="modal-header modal-header-primary">
  <h3>Pengajuan <span class="light">Proposal</span></h3>
</div>
<div class="modal-body">
  <center>
    <h5 class="media-heading"><%= "Berapa modal yang kamu miliki?" %></h5>
    <p>% dari harga rumah yang kamu pilih</p>
    <br>
	  <%= form_tag tenders_path, method: 'post', html: {role: "form"} do %>
	  	<%= number_field_tag :seed_capital, '', min: 20, max: 80, placeholder: "Modal kamu", class: "form-control", required: true %>
	  <% end %>
  </center>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Batalkan</button>
</div>