<h3>Bursa</h3>
<div class="col-md-6">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Fundraising</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div><!-- /.box-tools -->
    </div><!-- /.box-header -->
    <div class="box-body">
      <%= render_blank_or_show(@fundraisings) %>
    </div><!-- /.box-body -->
  </div><!-- /.box -->
</div>
<div class="col-md-6">
  <div class="box box-success ">
    <div class="box-header with-border">
      <h3 class="box-title">Trading</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div><!-- /.box-tools -->
    </div><!-- /.box-header -->
    <div class="box-body">
      <%= render_blank_or_show(@tradings) %>
    </div><!-- /.box-body -->
  </div><!-- /.box -->
</div>