<h3>Pengajuan <span class="light"><%= @category.titleize %></span></h3><hr class="light"></hr>
<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
  <%= render 'form' %>
</div>



<script type="text/javascript">

$(function() {

  var inputSliderValue = 0;
  var humanizer = 1000000;

  function changeValue(){
    var currentSliderValue = inputSliderValue / humanizer;
    $( "#amount-inputSliderVal" ).text( currentSliderValue );
  }

  $(".slide-input").slider();
  $("#tender_price").on("slide", function(slideEvt) {
    inputSliderValue = slideEvt.value;
    changeValue();
  })
  $("#tender_annum").on("slide", function(slideEvt) {
    $("#duration-inputSliderVal").text(slideEvt.value);
  })
  $("#tender_seed_capital").on("slide", function(slideEvt) {
    $("#seed-inputSliderVal").text(slideEvt.value);
  })
});
</script>