

    <div class="panel-body">
      <div class="clearfix"></div>
      <h3>Penawaran</h3>
      <% if tenders.empty? %>
        <div class="blankslate">
          <div class="spacious">
            <h3><%= "Belum Ada Penawaran" %></h3>
          </div>
        </div>
      <% else %>
        <div class="timeline-centered">
            <%= render tenders %>
        </div>      
      <% end %>
    </div>