<% title("Pengajuan Pembiayaan") %>

<h1>Buat Pengajuan</h1>
<% if @category == 'BizPartnership' %>	
  <%= render partial: 'tenders/form', locals: { business: true } %>
<% elsif @category == 'ConsumerFinancing' %>
  <%= render partial: 'tenders/form', locals: { consumer: true } %>
<% end %>  