<% title("Pengajuan Pembiayaan") %>

<h1>Buat Pengajuan</h1>
<% if @tenderable.class.name == 'Business' %>	
  <%= render partial: 'tenders/form', locals: { business: true } %>
<% elsif tenderable.class.name == 'User' %>
  <%= render partial: 'tenders/form', locals: { consumer: true } %>
<% end %>  