<div class="modal-header modal-header-success">
  <h3>Isi Profil</h3>
</div>
<div class="modal-body">
  <center>
  	<h3> <%= user.name %></h3>
  	<%= render partial: 'users/profile_form', locals: { user: user } %>
  </center>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Batalkan</button>
</div>