<% unless current_user? @user %>

  <div id="like-form">
  	<% if @user.liked_by?(current_user) %>
    	<%= render partial: 'users/unlike_button', locals: { user: @user } %>
	  <% else %>
	    <%= render partial: 'users/like_button', locals: { user: @user } %>
	  <% end %>
  </div>

<% else %>
<% end %>