<div class="modal-header modal-header-success">
  <h3>Profil <%= current_user.name %></h3>
</div>
<div class="modal-body">
  <center>
    <h3 class="media-heading">Unggah Gambar Profil</h3>
  
  <%= form_for(@user, url: {action: "update"}) do |f| %>
    <%= render partial: 'elements/direct_photo_upload', locals: {f: f} %>
  <% end %>

  </center>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning pull-left" data-dismiss="modal">Batalkan</button>
</div>



<div id="info"></div>