<%= render partial: 'insides/user_header', locals: {profile: true} %>
<%= render partial: 'insides/user_actions', locals: {user: @user } %>

<%= yield %>

<div id="user-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" id="inner-user-modal">



    </div>
  </div>
</div>