<% meta title: "Profil #{@user.name}" %>

<%= render layout: 'user_layout' do  %>

  <div class="white-background">
    <section class="intro bordered-section">
      <div class="container">
        <div class="inner-skeleton">
          <div class="col-md-10 col-md-offset-1">
            <%= render 'profile' %>
          </div>
        </div>
      </div>
    </section>
    <section class="intro bordered-section" style="margin-bottom: -30px;">
      <div class="container">
        <div class="inner-skeleton">
          <%= render 'documents/doc_list' %>
        </div>
      </div>
    </section>  
  </div>

<% end %>


<style type="text/css">

</style>