/* Blog */
#blue {
    background: $brand-coral;
    margin-top: 50px;
    /*margin-bottom: 60px;*/
    padding-top: 25px;
    padding-bottom: 25px;
}

#blue h3 {
    color: white;
    margin-left: 15px;
}

#blog-body{
  /*color: #797979;*/
  background: #f2f2f2;
  padding-top: 20px;
}

.ctitle {
    color: #00b3fe;
    font-weight: 700;
    margin-bottom: 15px;
}

csmall {
    font-size: 12px;
    color: #b3b3b3;
}
csmall2 {
    font-size: 12px;
    color: #f39c12
}

.spacing {
    margin-top: 40px;
    margin-bottom: 40px;
}

.badge-theme {
    background: #00b3fe;
}
.popular-posts { 
    margin: 0px;
    padding-left: 0px;
    }
    
.popular-posts li {
    list-style: none; 
    margin-bottom: 5px; 
    min-height: 70px;
}
.popular-posts li a, 
.popular-posts li a:hover {
    color:#2f2f2f; 
    text-decoration: none;
    }
    
.popular-posts li img {
    float: left; 
    margin-right: 20px;
    }
    
.popular-posts li em {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: #b3b3b3
    }

.popular-posts p {
    line-height: normal;
    margin-bottom: auto;
}   

.share i {
    padding-right: 15px;
    font-size: 18px;
}

.post-box {
    border: 1px solid #ddd;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}