/* Buttons */

.btn-round-lg{
border-radius: 22.5px;
}
.btn-round{
border-radius: 17px;
}
.btn-round-sm{
border-radius: 15px;
}
.btn-round-xs{
border-radius: 11px;
padding-left: 10px;
padding-right: 10px;
}

.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green{
    background-color:#5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}



@media( max-width : 585px ){
    
.btn-outline-rounded {
    padding:12px 20px;
    }
}
.btn-kapiten {
    border-radius: 100px !important;
    padding: 8px 0;
    text-transform: uppercase;
    width: 200px;
    color: #ffffff;
    border: none;	
}

.button-row {
    /*background: white;*/
    /*padding: 0 0 0 0;*/
    /*border:1px solid #999;*/
}

.dash-icon {
    background: inherit;
    &:hover { border:1px solid #999; }
    i.fa {
      font-size: 2em;
    }
    h4 {
      font-size: 0.5em;
    }
}

@media (max-width: 480px) {
  .dash-icon {
    font-size: 28px;
  }
}


@media (min-width: 481px) and (max-width: 767px) {
    .dash-icon {
    font-size: 32px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .dash-icon {
    font-size: 36px;
    }
}

@media (min-width: 980px) {
  .dash-icon {
    font-size: 46px;
  }
}

.btn {
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  -ms-border-radius: 3em;
  -o-border-radius: 3em;
  border-radius: 3em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 5px 25px;
}
.btn.btn-white {
  border: 2px solid #ffffff;
  background: none;
  color: #ffffff;
}
.btn.btn-white:hover {
  color: #ffffff;
}
.btn.btn-default {
  border: none;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ffffff), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* IE10+ */
  background: linear-gradient(180deg, #ffffff 0%, #cccccc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#cccccc, GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.btn.btn-lg {
  padding: 10px 25px;
}
.btn:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}