/* Buttons */

.btn-round-lg{
border-radius: 22.5px;
}
.btn-round{
border-radius: 17px;
}
.btn-round-sm{
border-radius: 15px;
}
.btn-round-xs{
border-radius: 11px;
padding-left: 10px;
padding-right: 10px;
}

.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green{
    background-color:#5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}


@media( max-width : 585px ){
    
.btn-outline-rounded {
    padding:12px 20px;
    }
}
.button-row {
    /*background: white;*/
    /*padding: 0 0 0 0;*/
    /*border:1px solid #999;*/
}

.dash-icon {
    background: inherit;
    &:hover { border:1px solid #999; }
    i.fa {
      font-size: 2em;
    }
    h4 {
      font-size: 0.5em;
    }
}

@media (max-width: 480px) {
  .dash-icon {
    font-size: 28px;
  }
}


@media (min-width: 481px) and (max-width: 767px) {
    .dash-icon {
    font-size: 32px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .dash-icon {
    font-size: 36px;
    }
}

@media (min-width: 980px) {
  .dash-icon {
    font-size: 46px;
  }
}

.btn {
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  -ms-border-radius: 3em;
  -o-border-radius: 3em;
  border-radius: 3em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 5px 25px;
  &.btn-white {
    border: 2px solid #ffffff;
    background: none;
    color: #ffffff;
    &:hover{
      background-color: white;
      color: $brand-primary;
    }
  }
  &.btn-primary {
    &:hover{
      background-color: white;
      color: $brand-primary;
    }
  }
  &.btn-secondary {
    color: white; background-color: $brand-coral;
    &:hover{
      background-color: white;
      color: $brand-coral;
      border: 2px solid $brand-coral;
    }
  }
  &.btn-inverse {
    background-color: white; border: 1px solid $brand-primary;
    color: $brand-primary; 
    &:hover { background-color: $brand-primary; color: white; }
  }
}


.btn.btn-default {
  background-color: black; 
  &:hover { background-color: white; color: black;}
}

.btn.btn-lg {
  padding: 10px 25px;
}
.btn:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}