/* Buttons */

.btn-round-lg{
border-radius: 22.5px;
}
.btn-round{
border-radius: 17px;
}
.btn-round-sm{
border-radius: 15px;
}
.btn-round-xs{
border-radius: 11px;
padding-left: 10px;
padding-right: 10px;
}

.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green{
    background-color:#5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}



@media( max-width : 585px ){
    
.btn-outline-rounded {
    padding:12px 20px;
    }
}
.btn-kapiten {
    border-radius: 100px !important;
    padding: 8px 0;
    text-transform: uppercase;
    width: 200px;
    color: #ffffff;
    border: none;	
}

.button-row {
    /*background: white;*/
    /*padding: 0 0 0 0;*/
    /*border:1px solid #999;*/
}

.dash-icon {
    background: inherit;
    &:hover { border:1px solid #999; }
    i.fa {
      font-size: 2em;
    }
    h4 {
      font-size: 0.5em;
    }
}

@media (max-width: 480px) {
  .dash-icon {
    font-size: 28px;
  }
}


@media (min-width: 481px) and (max-width: 767px) {
    .dash-icon {
    font-size: 32px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .dash-icon {
    font-size: 36px;
    }
}

@media (min-width: 980px) {
  .dash-icon {
    font-size: 46px;
  }
}