/* Property*/
.estate {
  h5 {
    letter-spacing: 0.1em; font-weight: 400;
    text-transform: uppercase;  
  }  

}

/*House list for tender selection*/
#property-listings {
  .list-inline>li { padding: 0 10px 0 0; }
  .bgc-fff { background-color: #fff!important; }
  .box-shad {
      -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
      box-shadow: 1px 1px 0 rgba(0,0,0,.2);
  }
  .brdr { border: 1px solid #ededed; }

  /* Font changes */
  .fnt-smaller {font-size: .9em; }
  .fnt-lighter { color: #bbb; }

  /* Color  */
  .clr-535353 { color: #535353; }
  .property-listing {
    .media img {
      padding-left: 0px; padding-right: 0px; padding-top: 1.2em;
    }
    .media-outer-right { padding-top: 15px;}    
  }
}


/**** MEDIA QUERIES ****/
@media (max-width: 767px) {
  #property-listings {
    .property-listing {
      padding: 5px!important;
      a { margin: 0; }
      .media-body { 
        padding: 4px; 
        h4 { font-size: 16px; }
        p { font-size: 12px; }
      }  
      .media-outer-right {
        padding-left: 5px; padding-right: 5px; padding-top: 0px;
      }
    }
    .list-inline>li {
      padding: 0 4px 0 0; font-size: 14px; margin: 0;
    }    
  }
}
@media only screen and (min-width: 992px) {
  #property-listings .property-listing img { max-width: 600px; }
}


div.house-listing {
  border-radius: 0px;
  padding-left: 0px;padding-right: 0px;padding-top: 0px;
  img { height: 300px; }
  .caption {
    background-color: white;
    cursor: pointer;
    padding: 14px 18px 0px;
    .top-desc{
      font-size: 14px;
      /*white-space: nowrap; text-overflow: ellipsis;*/
      h3 { font-size: 1.5em; color: $brand-coral; } 
      &.address {
        font-weight: 500;
      }      
    }    
    .city { 
      margin-left: .5em; color: #70828f; font-size: 12px;
    }
      .price {
        /*font-weight: 700; */color: $brand-primary;
      }
  }
}
  .listing-address, .listing-prompt {
    padding: 2.3em 0;
    background: #f3f5f7;
    margin-left: -100vw;
    margin-right: -100vw;
    padding-left: 100vw;
    padding-right: 100vw;
    margin-bottom: 0px; 
  } 
  .listing-address h4, h3, h2, p {
    color: #595959; font-weight: 400;
  } 
  .listing-address h4, h2 {
    font-weight: 400;
  } 
  .listing-address p {
    font-weight: 300;
  }     
  .listing-address .address .street {
    float: left; margin-right: 12px;
    line-height: 36px;
  }
  .listing-address .address h4{
    line-height: 36px;
  }
  .listing-remark { margin-top: 3em; }
  .listing-remark .border-box {
    padding: 1em 20px;
    margin: 2em 0 0;
    border: 1px solid #dedede;
  }
  .listing-section {
      padding: 0; max-width: 1600px;
      margin: 1.5em 0;
  }
  .at_a_glance {
    padding: 20px 0;
    border-bottom: 1px solid rgba(192, 192, 191, 0.3);    
  }
  .at_a_glance .features-container {
    color: #9ba1a6;
    font-weight: 500;
    font-size: 14px  
  }
  .at_a_glance .features-container ul {
    margin: 0;
    padding: 0;
    line-height: 1.6em;
    }
  .features-container .feature-label {
      display: inline-block;
  } 
  .table-grid {
      margin-top: 20px;
  }
  .table-grid .row:first-child {
      border-top: 1px solid rgba(192, 192, 191, 0.3);
  }
  .table-grid .row {
      margin-left: 0;
      margin-right: 0;
      border-bottom: 1px solid rgba(192, 192, 191, 0.3);
      line-height: 1.6em;
  }
.listing_activity .table-grid div[class^="col-"] {
    padding: 20px 20px;
} 
.table-grid .row div[class^="col-"]:first-child {
    border-left: 1px solid rgba(192, 192, 191, 0.3);
}
.table-grid .title .table-content {
    font-weight: 500;
    font-size: 14px;
}
.table-grid .title { color: #9ba1a6; }
.table-grid .row div[class^="col-"]:last-child {
    border-right: 1px solid rgba(192, 192, 191, 0.3);
}
.table-grid .row div[class^="col-"] {
    padding: 10px 20px;
}
.listing_activity .activity {
    float: left;
    margin-right: 15px;
}
.listing_activity span.count {
    margin-top: 8px;
    display: inline-block;
}
.listing_activity span.count small { font-size: 50%; }

.estate h5 {
  letter-spacing: 0.1em; font-weight: 400;
  text-transform: uppercase;  
}

.content-item {
    padding:30px 0;
  background-color:#FFFFFF;
}

.content-item.grey {
  background-color:#F0F0F0;
  padding:50px 0;
  height:100%;
}

.content-item h2 {
  font-weight:700;
  font-size:35px;
  line-height:45px;
  text-transform:uppercase;
  margin:20px 0;
}

.content-item h3 {
  font-weight:400;
  font-size:20px;
  color:#555555;
  margin:10px 0 15px;
  padding:0;
}

.content-headline {
  height:1px;
  text-align:center;
  margin:20px 0 70px;
}

.content-headline h2 {
  background-color:#FFFFFF;
  display:inline-block;
  margin:-20px auto 0;
  padding:0 20px;
}

.grey .content-headline h2 {
  background-color:#F0F0F0;
}

.content-headline h3 {
  font-size:14px;
  color:#AAAAAA;
  display:block;
}


#gallery .row {
    margin:0;
}

#gallery .row > div {
  padding:0;
}

#gallery .overlay-wrapper:hover .overlay {
  background-color:rgba(0,0,0,0.7);
}

#gallery-item h2 {
  font-size:28px;
  margin-top:0;
}

#gallery-item img {
  background-color:#FFFFFF;
  border:3px solid #999999;
  padding:7px;
}

.overlay-wrapper {
  position:relative;
  &:hover .overlay {
    background-color:rgba(0,0,0,0.5);
    opacity:1;
  }
  .overlay {
    bottom:0;
    left:0;
    opacity:0;
    overflow:hidden;
    position:absolute;
    right:0;
    top:0;
    text-align:center;
    padding-top:25%;
    transition:all 0.4s ease;
    svg.svg-white-icon {
      width: 2em; height: 2em;
      path { fill: white; }
    }
    img.svg-white-icon { 
      width: 2em; height: 2em; color: white;
    }
    a {
      font-size:20px; padding-top: 5px;
      width:100px; height:100px;
      color:#FFFFFF;
      display:inline-block;
      text-align:center;
      padding-top:12px;
      border-radius:50%;
      margin-right:15px;
      opacity:0.8;
      &:last-child { margin-right:0; }
      &:hover { 
        color: $brand-primary; 
        svg.svg-white-icon { path { fill: $brand-primary; } }
      }
    }  
  }  
}

/*House show page header*/
.bg-custom-lg {
  position: relative;
  -webkit-background-size: cover;
  background-size: cover; min-height: 400px;
  .padding-md { padding: 2em !important; }
  .bg-black-trans {
    margin-top: 4em;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    bottom: 2px;
  }
  .bg-info {
    background-color: white; 
  }
}
.border-default {
    border-width: 1px;
    border-style: solid;
    border-color: #bdc3c7;
}
.section-xs {
  padding: 1em 0;
  .top-desc{
    h3 { font-size: 1.5em; color: $brand-coral; } 
    p { margin-bottom: 3px; }
    .words{
      font-size: 0.9em;
    }
  }
  .bg-white { background-color: white; }
}
#house-photos{
  .photo-box{ padding-left: 0px; padding-right: 0px;}
  .blankslate {
    background-color: white; 
     border: 1px solid white; 
     box-shadow: inset 0 0 10px white;
  }
}

.tile_count {
  margin-bottom: 20px;
  margin-top: 20px;
}
.tile_count {

  div:last-child {
    border: 0;
  }
}
.tile_stats_count {
  border-left: 0px solid #333; padding: 0; padding-bottom: 10px; 
  margin-bottom: 10px; border-bottom: 1px solid #333;
  .left {
    width: 15%;
    float: left;
    height: 65px;
    /*border-left: 2px solid #ADB2B5;*/
    margin-top: 10px;
  }
  .right {
    padding-left: 10px;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    span {
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .count_top {
    color: $brand-dark;
  }
  .count_bottom {
    color: $brand-grey;
    i { width: 12px;  }
  }  
  .count {
    font-size: 40px; color: $brand-dark;
    line-height: 47px;
    font-weight: 600;
    small {
      font-size: 20px;
      line-height: 20px;
      font-weight: 600;
    }  
  }
}

.center-xs {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
