.product-list-basic{
    list-style:none;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;
    padding: 0;
}

.product-list-basic li{
    box-sizing:border-box;
    display: inline-block;

    text-align:left;
    font:normal 12px sans-serif;

    background-color:#ffffff;
    border:1px solid #dbe3e7;
    border-radius: 3px;
    box-shadow: 1px 3px 1px rgba(0, 0, 0, 0.08);

    margin: 0 12px 14px 0;
    padding: 25px;
}

/* The product image */

.product-list-basic .product-photo{
    display: block;
    text-align: center;
    box-shadow : 0 0 20px 8px #f3f3f3 inset;

    width: 275px;
    margin-bottom: 25px;
    padding: 20px 0;
    box-sizing: border-box;
}

/* The product name */

.product-list-basic h2{
    display: block;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    max-width: 200px;
    margin:0;
}

.product-list-basic h2 a{
    text-decoration: none;
    color: #2b2b2b;
}

.product-list-basic .product-compare{
    float:right;

    color: #808080;
    text-decoration: none;

    margin-top: -16px;
}

/* Rating */

.product-list-basic .product-rating div{
    display: inline-block;
    width: 80px;
    margin-top: 10px;
}

.product-list-basic .product-rating .product-stars{
    display: inline-block;

    color: #f09911;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
}

.product-list-basic .product-rating .product-stars i{
    margin-right: 2px;
}

.product-list-basic .product-rating span{
    margin-bottom: -2px;
}

.product-list-basic .product-rating span a{
    color: #808080;
    text-decoration: none;
}

/* Product description */

.product-list-basic .product-description{
    margin-top: 20px;

    color: #5d5d5d;
    font-size: 14px;
    line-height: 1.45;
    white-space: normal;

    max-width: 260px;
    margin-bottom: 20px;
}

/* Price and order button */

.product-list-basic button{
    border-radius: 2px;
    background-color:  #87bae1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
    border: 0;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;

    width: 95px;
    height: 32px;
}

.product-list-basic .product-out-of-stock{
    color: #c15017;;
    font-weight: bold;
    line-height: 32px;

    width: 95px;
    height: 32px;
}

.product-list-basic .product-price{
    float: right;

    color:  #4e4e4e;
    font-weight: bold;
    font-size: 20px;

    padding-top: 6px;
    margin: 0;
}

/* Making the list responsive */

@media (max-width: 800px){

    .product-list-basic .product-photo{
        width: 225px;
    }

    .product-list-basic .product-description{
        max-width: 225px;
    }
}



/* Property*/
.store-item-info {
    padding: 20px;
    background-color: #f9f9f9;
}

.estate .primary-image {
  border: 1px solid #e0eded;
  padding: 5px;
}

.estate .thumbnail-images {
  display: table;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 25px;
}

.estate .thumbnail-images a {
  display: table-cell;
  width: 100px;
  padding: 5px;
  border: 1px solid #e0eded;
  border-top: 0;
}

.estate .thumbnail-images a img {
  width: 100%;
}

.estate .product-info h3 {
  font-weight: 500;
  font-size: 18px;
}

.product-info h3 {
  margin-bottom: 10px;
}

.wp-block.property.list {
  border: 1px solid #e0eded;
}

.wp-block {
  margin: 0 0 15px 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  position: relative;
  cursor: default;
  border-radius: 2px;
}

.no-border {
  border: 0 !important;
}

.wp-block.property.list .wp-block-content .content-title {
  font-size: 20px;
  color: #3498db;
  margin-bottom: 5px;
}

.wp-block.property.list .wp-block-content .description {
  padding-bottom: 10px;
  border-bottom: 1px solid #e0eded;
}

.mb-15 {
  margin-bottom: 15px;
}

.wp-block.property.list .wp-block-content .price {
  font-size: 22px;
  color: #9cd70e;
  font-weight: 600;
}

.wp-block.property.list .wp-block-content .period {
  margin-left: 5px;
  color: #999;
}

.wp-block.property.list .wp-block-content .capacity {
  font-size: 16px;
  color: #999;
}

.mt-15 {
  margin-top: 15px;
}

.wp-block-footer.style2 ul.aux-info {
  display: table;
  width: 100%;
  border: 1px solid #e0eded;
}

.wp-block-footer ul.aux-info {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  background: #fcfcfc;
  border-top: 1px solid #e0eded;
}

.wp-block-footer.style2 ul.aux-info li {
  padding: 10px 10px;
  font-size: 11px;
  text-align: center;
}

.wp-block-footer ul.aux-info li {
  display: table-cell;
  padding: 10px 15px;
  vertical-align: middle;
  border-right: 1px solid #e0eded;
}

.wp-block-footer.style2 ul.aux-info li i {
  display: block;
}

.wp-block-footer ul.aux-info li i {
  font-size: 18px;
  margin-right: 8px;
  color: #333;
}

.rating span.star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  float: left;
  padding: 0 1px;
  cursor: pointer;
}

p {
  line-height: 22px;
  margin-bottom: 10px;
}

ol, ul {
  list-style: none;
}

.tabs-framed {
  border: 1px solid #e0eded;
}

.tabs li a {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #333;
  padding: 12px 25px;
  margin: 0 -1px;
  border-bottom: 3px solid transparent;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.boxed {
  background: #fff;
  border: 1px solid #e0eded;
  position: relative;
}

.tabs {
  border-bottom: 1px solid #e0eded;
}

.tabs li {
  float: left;
  border-right: 1px solid #e0eded;
  margin-bottom: -1px;
}

.tab-body {
  padding: 15px;
}                

.house-item:hover {
  opacity: 1;
}


/*Comments*/
.chat-message {
  padding: 20px 20px 60px;
}

.chat {
    list-style: none;
    margin: 0;
    padding-left: 10px;
}

.chat-message{
    background: #f9f9f9;  
}

.chat li img {
  width: 45px;
  height: 45px;
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
}

.chat-body {
  padding-bottom: 20px;
}

.chat li.left .chat-body {
  margin-left: 70px;
  background-color: #fff;
}

.chat li .chat-body {
  position: relative;
  font-size: 11px;
  padding: 10px;
  border: 1px solid #f1f5fc;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.chat li .chat-body .chat-header {
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f5fc;
}

.chat li .chat-body p {
  margin: 0;
}

.chat li.left .chat-body:before {
  position: absolute;
  top: 10px;
  left: -8px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  border-top: 1px solid #f1f5fc;
  border-left: 1px solid #f1f5fc;
  content: '';
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.chat li.right .chat-body:before {
  position: absolute;
  top: 10px;
  right: -8px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  border-top: 1px solid #f1f5fc;
  border-right: 1px solid #f1f5fc;
  content: '';
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.chat li {
  margin: 15px 0;
}

.chat li.right .chat-body {
  margin-right: 70px;
  background-color: #fff;
}

.chat-box {
  /*position: fixed;*/
  bottom: 0;
  /*left: 444px;*/
  right: 0;
  padding: 15px;
  border-top: 1px solid #eee;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}

/*Timeline*/
/*
 * Component: Timeline
 * -------------------
 */
.timeline {
  position: relative;
  margin: 0 0 30px 0;
  padding: 0;
  list-style: none;
}
.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4px;
  background: #ddd;
  left: 31px;
  margin: 0;
  border-radius: 2px;
}
.timeline > li {
  position: relative;
  margin-right: 10px;
  margin-bottom: 15px;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-item {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-top: 0;
  background: #fff;
  color: #444;
  margin-left: 60px;
  margin-right: 15px;
  padding: 0;
  position: relative;
}
.timeline > li > .timeline-item > .time {
  color: #999;
  float: right;
  padding: 10px;
  font-size: 12px;
}
.timeline > li > .timeline-item > .timeline-header {
  margin: 0;
  color: #555;
  border-bottom: 1px solid #f4f4f4;
  padding: 10px;
  font-size: 16px;
  line-height: 1.1;
}
.timeline > li > .timeline-item > .timeline-header > a {
  font-weight: 600;
}
.timeline > li > .timeline-item > .timeline-body,
.timeline > li > .timeline-item > .timeline-footer {
  padding: 10px;
}
.timeline > li > .fa,
.timeline > li > .glyphicon,
.timeline > li > .ion {
  width: 30px;
  height: 30px;
  font-size: 15px;
  line-height: 30px;
  position: absolute;
  color: #666;
  background: #d2d6de;
  border-radius: 50%;
  text-align: center;
  left: 18px;
  top: 0;
}
.timeline > .time-label > span {
  font-weight: 600;
  padding: 5px;
  display: inline-block;
  background-color: #fff;
  border-radius: 4px;
}
.timeline-inverse > li > .timeline-item {
  background: #f0f0f0;
  border: 1px solid #ddd;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.timeline-inverse > li > .timeline-item > .timeline-header {
  border-bottom-color: #ddd;
}

/* Product Chooser Item */
div.clear
{
    clear: both;
}

div.product-chooser{
}

    div.product-chooser.disabled div.product-chooser-item
    {
        zoom: 1;
        filter: alpha(opacity=60);
        opacity: 0.6;
        cursor: default;
    }

    div.product-chooser div.product-chooser-item{
        background: white;
        padding: 11px;
        border-radius: 6px;
        cursor: inherit;
        position: relative;
        border: 1px solid #efefef;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10x;
    }
    
    div.product-chooser div.product-chooser-item:hover,
    div.product-chooser div.product-chooser-item.selected{
        border: 2px solid $brand-primary;
        background: #efefef;
        padding: 8px;
/*      filter: alpha(opacity=70);
        opacity: 1;*/
    }
    
        div.product-chooser div.product-chooser-item img{
            padding: 0;
        }
        
        div.product-chooser div.product-chooser-item span.title{
            display: block;
            margin: 10px 0 5px 0;
            font-weight: bold;
            font-size: 12px;
        }
        
        div.product-chooser div.product-chooser-item span.description{
            font-size: 12px;
        }
        
        div.product-chooser div.product-chooser-item input{
            position: absolute;
            left: 0;
            top: 0;
            visibility:hidden;
        }



.article-list-basic{
    list-style:none;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    padding: 0;
}

.article-list-basic li{
    display: inline-block;
    box-sizing:border-box;
    border-radius: 3px;
    box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);
    border:1px solid #cfcfcf;
    background-color: #fff;

    font: normal 13px sans-serif;
    text-align: left;

    margin: 20px;
    max-width: 315px;
}

/* Article photo */

.article-list-basic li > a{
    display: block;
    width: 100%;
    height: 155px;
    overflow: hidden;
}

.article-list-basic li > a img{
    width: 100%;
}

.article-list-basic li div{
    padding: 25px 20px;
}

/* Article title */

.article-list-basic li h2{
    font: bold 16px sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin:0;
}

.article-list-basic li h2 a{
    color: #2b2b2b;
    text-decoration: none;
}

/* Article excerpt */

.article-list-basic li div p{
    line-height: 20px;
    color: #5d5d5d;

    margin: 20px 0;
}

/* Read more */

.article-list-basic li a.read-more{
    background-color: #87bcd7;
    cursor: pointer;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 2px;
    margin: 20px 0;
    font-weight: bold;
}

.wp-block.property.list {
  border: 1px solid #e0eded;
}

.wp-block {
  margin: 0 0 15px 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  position: relative;
  cursor: default;
  border-radius: 2px;
}

.wp-block.property.list .wp-block-title {
  padding: 15px 15px 0 15px;
}

.wp-block.property.list .wp-block-title h3 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}

.wp-block .wp-block-body {
  padding: 15px;
}

.wp-block.property.list .wp-block-img {
  display: table-cell;
  width: 250px;
}

.wp-block.property.list .wp-block-img img {
  width: 100%;
}

.wp-block.property.list .wp-block-content .content-title {
  font-size: 20px;
  color: #3498db;
  margin-bottom: 5px;
}

.wp-block.property.list .wp-block-body .wp-block-content {
  display: table-cell;
  vertical-align: top;
  padding-left: 15px;
}

.wp-block.property.list .wp-block-content .description {
  padding-bottom: 10px;
  border-bottom: 1px solid #e0eded;
}

.wp-block.property.list .wp-block-footer ul.aux-info {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  background: #fcfcfc;
  border-top: 1px solid #e0eded;
}

.wp-block.property.list .wp-block-footer ul.aux-info li {
  display: table-cell;
  padding: 10px 15px;
  vertical-align: middle;
  border-right: 1px solid #e0eded;
}
