/* Bid list */
.quantumCard {
  background-color: #fff;
  margin-bottom: 48px;
  word-wrap: break-word;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  max-width: 600px; height: 120px;  
  .quantumCardAccent {
    height: 8px;
    background-color: #82b1ff;
  }
  .quantumCardContent {
    color: rgba(0,0,0,.87);
    padding: 0px 15px;
    h3, h5 { margin-top: 0px; }    
  }
  .social {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    width: 40px;
    ul {
      list-style: none;
      margin: 10px 0px 0px;
      padding: 0px;
      width: 100%;
      text-align: center;
      border-left: 1px solid rgb(230, 230, 230);
      margin: 0px;
      li {
        cursor: pointer;
        color: rgb(30, 30, 30);
        font-size: 11pt;
        font-weight: 300;
        padding: 3px 0px;
        a { padding: 3px 0px; } 
        &:hover > a{
          color: rgb(30, 30, 30);
          background-color: rgb(200, 200, 200);
        }        
      }      
    }    
  }
  ul > li > a {
    display: block;
    width: 40px;
    padding: 10px 0px 9px;
  }    
}

@media (min-width: 768px){
  .social > ul > li {
    display: block;
    padding: 0px;
  }
}

/*Comments*/
.chat-message {
  padding: 20px 20px 60px;
}

.chat {
    list-style: none;
    margin: 0;
    padding-left: 10px;
}

.chat-message{
    background: #f9f9f9;  
}

.chat li img {
  width: 45px;
  height: 45px;
  border-radius: 50em;
  -moz-border-radius: 50em;
  -webkit-border-radius: 50em;
}

.chat-body {
  padding-bottom: 20px;
}

.chat li.left .chat-body {
  margin-left: 70px;
  background-color: #fff;
}

.chat li .chat-body {
  position: relative;
  font-size: 11px;
  padding: 10px;
  border: 1px solid #f1f5fc;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.chat li .chat-body .chat-header {
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f5fc;
}

.chat li .chat-body p {
  margin: 0;
}

.chat li.left .chat-body:before {
  position: absolute;
  top: 10px;
  left: -8px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  border-top: 1px solid #f1f5fc;
  border-left: 1px solid #f1f5fc;
  content: '';
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.chat li.right .chat-body:before {
  position: absolute;
  top: 10px;
  right: -8px;
  display: inline-block;
  background: #fff;
  width: 16px;
  height: 16px;
  border-top: 1px solid #f1f5fc;
  border-right: 1px solid #f1f5fc;
  content: '';
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.chat li {
  margin: 15px 0;
}

.chat li.right .chat-body {
  margin-right: 70px;
  background-color: #fff;
}

.chat-box {
  /*position: fixed;*/
  bottom: 0;
  /*left: 444px;*/
  right: 0;
  padding: 15px;
  border-top: 1px solid #eee;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}


                                        
/* Product Chooser Item */
div.clear
{
    clear: both;
}

div.product-chooser{
}

    div.product-chooser.disabled div.product-chooser-item
    {
        zoom: 1;
        filter: alpha(opacity=60);
        opacity: 0.6;
        cursor: default;
    }

    div.product-chooser div.product-chooser-item{
        background: white;
        padding: 11px;
        border-radius: 6px;
        cursor: inherit;
        position: relative;
        border: 1px solid #efefef;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10x;
    }
    
    div.product-chooser div.product-chooser-item:hover,
    div.product-chooser div.product-chooser-item.selected{
        border: 2px solid $brand-primary;
        background: #efefef;
        padding: 8px;
/*      filter: alpha(opacity=70);
        opacity: 1;*/
    }
    
        div.product-chooser div.product-chooser-item img{
            padding: 0;
        }
        
        div.product-chooser div.product-chooser-item span.title{
            display: block;
            margin: 10px 0 5px 0;
            font-weight: bold;
            font-size: 12px;
        }
        
        div.product-chooser div.product-chooser-item span.description{
            font-size: 12px;
        }
        
        div.product-chooser div.product-chooser-item input{
            position: absolute;
            left: 0;
            top: 0;
            visibility:hidden;
        }



.article-list-basic{
    list-style:none;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    padding: 0;
}

.article-list-basic li{
    display: inline-block;
    box-sizing:border-box;
    border-radius: 3px;
    box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);
    border:1px solid #cfcfcf;
    background-color: #fff;

    font-size: 13px;
    text-align: left;

    margin: 20px;
    max-width: 315px;
}

/* Article photo */

.article-list-basic li > a{
    display: block;
    width: 100%;
    height: 155px;
    overflow: hidden;
}

.article-list-basic li > a img{
    width: 100%;
}

.article-list-basic li div{
    padding: 25px 20px;
}

/* Article title */

.article-list-basic li h2{
    font-size: 16px; font-style: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin:0;
}

.article-list-basic li h2 a{
    color: #2b2b2b;
    text-decoration: none;
}

/* Article excerpt */

.article-list-basic li div p{
    line-height: 20px;
    color: #5d5d5d;

    margin: 20px 0;
}

.wp-block-item {
  margin: 0 0 15px 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  position: relative;
  cursor: default;
  border-radius: 2px;  
  &.property-list {
    border: 1px solid #e0eded;
    .wp-block-title {
      padding: 15px 15px 0 15px;
       h3 {
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-weight: 400;
      }      
    }
    .wp-block-content {
      .content-title {
        font-size: 20px;
        color: #3498db;
      }
      .description {
        padding-bottom: 10px;
        border-bottom: 1px solid #e0eded;
        line-height: 1.4; font-size: 14px;
        color: $brand-grey;
      }      
    }
    .body{
      padding:-right 10px; padding-bottom: 0px;
      padding-left: 0px; padding-top: 0px;
      .wp-block-img {
        display: table-cell;
        width: 10em;
      }    
      .wp-block-content {
        display: table-cell;
        vertical-align: top;
        padding-left: 15px;
      }      
    } 
    .list-footer ul.aux-info {
      width: 100%;
      margin: 0;
      padding: 0;
      display: block;
      background: #fcfcfc;
      border-top: 1px solid #e0eded;
      li {
        display: table-cell;
        padding: 10px 15px;
        vertical-align: middle;
        border-right: 1px solid #e0eded;
      }  
    }            
  }
}
