.extend-icons {
  margin: 0 auto;
/*  fill: #ace63c; */
/*  color: $brand-primary;*/
  width: 17px;
  height: 17px;
}
path {
	fill: $brand-primary;
}  

.small-icons {
  width: 1em;
  height: 1em;		
}

.mid-icons {
  margin: 0 auto;
  width: 3em;
  height: 3em;	
}

.plain path{
  fill: white;
}

.asphalt path {
  fill: #b3b3b3;
}

.blue-image {
	background-color: $brand-primary;
}