/*For the list item of tender and bids*/
.list-wing{
  height: 50%; margin: auto;
  /*position: absolute;*/
  top: 0; left: 0; bottom: 0; right: 0;
  h4{
    text-align: center;
  }
}
.timeline-footer{
    margin-top: 25px;
    padding-top:10px; padding-left: 10px; padding-right: 10px;
}
.timeline-footer > a{
    cursor: pointer; margin-right: 10px;
    text-decoration: none;
}
.timeline-panel {
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  background-color: #FFFFFF;
  color: #666;
  padding: 10px; padding-bottom: 0px;
  margin-bottom: 10px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  .timeline-footer {
    border-top: 1px solid #d4d4d4;
  }
}
.timeline-panel .timeline-panel-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.timeline-panel.credits .timeline-panel-ul {
  text-align: right;
}
.timeline-panel.credits .timeline-panel-ul li {
  color: #666;
}
.timeline-panel.credits .timeline-panel-ul li span.importo {
  color: #468c1f;
  font-size: 1.3em;
}
.timeline-panel.debits .timeline-panel-ul {
  text-align: left;
}
.timeline-panel.debits .timeline-panel-ul span.importo {
  color: #e2001a;
  font-size: 1.3em;
}

/*Test tab*/
#top_menu > li, ul.top-menu > li {
    float: left;
    max-width: 35%;
}

.tab-row {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.tab-row .notification span.label {
    display: inline-block;
    height: 18px;
    width: 20px;
    padding: 5px;
}
.tab-row .badge {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 100;
}

.tender-item {
  background-color: white;
}