<div id="features">
	<div class="container">
		<div class="row">
			<h3 class="landing">Langkah-langkah</h3>
			<br>
			<br>
			
			<div class="col-md-8 col-md-offset-2">
				<br>
			<!-- ACCORDION -->
        <div class="accordion ac" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                <span class="primary">Registrasi</span> 
                <%= inline_svg "0324-circle-down.svg", class: 'extend-icons' %>
              </a>
            </div><!-- /accordion-heading -->
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
								<p>Masukkan alamat email di kotak pendaftaran di atas dan tunggu kabar dari kami. Kemudian daftar gratis dan isi profil serta unggah dokumen-dokumen penting sebagai bukti diri. Proses ini hanya memakan waktu >30 menit.</p>
							</div><!-- /accordion-inner -->
	          </div><!-- /collapse -->
	        </div><!-- /accordion-group -->
	        <br>
	
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              	<span class="primary">Pilih Proposal</span> 
                <%= inline_svg "0324-circle-down.svg", class: 'extend-icons' %>
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
								<p>Lihat daftar proposal pengajuan pembiayaan yang telah divalidasi oleh siKapiten dan kemudian pilih yang menurutmu menarik.</p>
							</div><!-- /accordion-inner -->
            </div><!-- /collapse -->
          </div><!-- /accordion-group -->
	        <br>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                <span class="primary">Penawaran dan Negosiasi</span> 
                <%= inline_svg "0324-circle-down.svg", class: 'extend-icons' %>
              </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>Ajukan penawaran atas proposal yang kamu mau. Di tahap ini kamu hanya sebatas menyampaikan niat dan tawaran, belum memberikan uang. 
                </p>
              </div><!-- /accordion-inner -->
            </div><!-- /collapse -->
          </div><!-- /accordion-group -->
          <br>
	
         	<div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                <span class="primary">Penanganan Kontrak & Hasil</span> 
                <%= inline_svg "0324-circle-down.svg", class: 'extend-icons' %>
              </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>Apabila jumlah target dana telah tercapai, maka kontrak akan disusun bagi pihak-pihak yang terlibat. Setelah peresmian kontrak, kamu memberikan dana yang telah disetujui sebelumnya. Dapatkan hasil sesuai dengan kontribusimu dalam investasi. Tentunya kami akan membantu kamu mendapatkan hakmu sesuai dengan yang tertulis di kontrak, jangan khawatir. <i class="fa fa-smile-o"></i>
                </p>
							</div><!-- /accordion-inner -->
            </div><!-- /collapse -->
        	</div><!-- /accordion-group -->
        	<br>

				</div><!-- Accordion -->
			</div>
		</div>
	</div><!--/ .container -->
</div><!--/ #features -->	