<div class="col-md-4 col-sm-6 col-xs-12">
    <figure>
        <div class="img-wrapper">
            <img src="<%= page.thumbnail %>" class="img-responsive" alt="" >
            <div class="overlay">
                <div class="buttons">
                    <%= link_to "Telusuri", wiki_page_path( page.path )  %>
                </div>
            </div>
        </div>
        <figcaption>
            <h4><%= link_to page.title, wiki_page_path(page.path) %></h4>
            <p>Terakhir diperbarui pada tanggal <%= page.updated_at.strftime("%-d %B %Y") %></p>
        </figcaption>
    </figure>    
</div>