<div class=" item masonry-brick">
    <div class="picture">
      <%= link_to wiki_page_path(page.path), class: 'image' do %>
        <img src="<%= page.thumbnail %>" alt="" >
      <% end %>
      <div class="item-content">
        <div class="description">
            <h4><%= link_to page.title, wiki_page_path(page.path) %></h4>
        </div>
        <div class="author"></div>
        <div class="meta">
            <span class="time">
                <i class="fa fa-calendar"></i>
                <%= page.updated_at.strftime("%-d %B %Y") %>
            </span>
        </div>
      </div>
    </div>
</div>