<%= wiki_page_style -%>

<% if current_user.try(:admin) %>
  <%= link_to new_wiki_page_path, class: "btn btn-md btn-inverse" do %>
    <span>Buat Halaman</span><b>Wiki Baru</b>        
  <% end %>
  <div class="spacing"></div>
<% end %>

<h4>Artikel Wiki</h4><hr>
<div id="items">
  <%= wiki_paginate @pages do -%>
  	<% @pages.each do |page| -%>
  	  <%= render 'wiki_pages/wiki_page', page: page %>
  	<% end %>
  <% end -%>
</div>

<script type="text/javascript">
var $container = $('#items');
  $container.imagesLoaded(function(){
    $container.masonry({
      itemSelector : '.item',
      columnWidth : 320,
      isAnimated: true
  });
});	
</script>