<% meta title: "Home" %>

<div class="home" style="">
  <h1 class="primary">Markas</h1><hr class="light">
  <div class="row" id="prompts">
    <div class="col-md-2 col-sm-1"></div>
    <div class="col-md-4 col-sm-5 col-xs-6">
      <%= render_double_button('lightbulb-o', 'Ajukan', 'Fundraising', choose_product_path, true) %>
    </div>
    <div class="col-md-4 col-sm-5 col-xs-6">
      <%= render_double_button('search', 'Pilih', 'Investasi', marketplace_path, true) %>
    </div>
    <div class="col-md-2 col-sm-1"></div>
  </div>
  <div class="row" id="home-view">
    <div class="col-md-10 col-md-offset-1 right-display">
      <ul class="nav nav-tabs list-group list-group-horizontal centered">
        <li class="list-group-item active">
          <a href="#tab_default_1" data-toggle="tab">Komitmen</a>
        </li>
        <li class="list-group-item">
          <a href="#tab_default_2" data-toggle="tab">Pengajuan</a>
        </li>        
      </ul          
      <div class="item">
          <h5 class="grey">Pengajuan</h5>
          <div class="row">
            <%= render partial: 'tenders/tenders', locals: {tenders: @tenders}  %>
          </div>
        </div>
        <div class="item">
          <h5 class="grey">Penawaran</h5>
          <%= render partial: 'bids/bid', collection: @bids  %>
        </div>
        <div class="item">
          <h5 class="grey">Aset</h5>
          <small>Belum ada aset dimiliki</small>
        </div>
      </div>
  </div>
  <div class="side-view" id="marketplace" style="display: none;">
  </div>
  <div class="side-view" id="houses" style="display: none;">
  </div>
  <div class="side-view" id="profile" style="display: none;">
  </div>
</div>