<div class="col-sm-6 col-xs-6">
  <%= link_to choose_product_path, remote: true, class: "" do %>
    <div class="panel panel-colorful dash-icon">
        <div class="panel-body text-center">
          <h4 class="text-uppercase mar-btm text-sm">Pendanaan</h4>
          <i class="fa fa-clipboard fa-3x"></i>
          <hr>
        </div>
    </div>
  <% end %>
</div>
<div class="col-sm-6 col-xs-6">
  <%= link_to houses_path, class: "" do %>
    <div class="panel panel-colorful dash-icon">
      <div class="panel-body text-center">
        <h4 class="text-uppercase mar-btm text-sm">Rumah</h4>
        <i class="fa fa-shopping-cart fa-3x"></i>
        <hr>
      </div>
    </div>
  <% end %>
</div>