<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-dark panel-colorful">
        <div class="panel-body text-center">
          <p class="text-uppercase mar-btm text-sm">Pengajuan</p>
          <i class="fa fa-clipboard fa-3x"></i>
          <hr>
          <p class="h2 text-thin">254,487</p>
          <%= link_to 'Buat Pengajuan', choose_product_path, remote: true, class: "btn btn-block btn-primary btn-round-lg" %>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="panel panel-danger panel-colorful">
    <div class="panel-body text-center">
      <p class="text-uppercase mar-btm text-sm">Pendanaan</p>
      <i class="fa fa-building fa-3x"></i>
      <hr>
      <p class="h2 text-thin">873</p>
      <%= link_to "Lihat Bursa", marketplace_path, remote: true, class: "btn btn-block btn-primary btn-round-lg" %>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="panel panel-primary panel-colorful">
    <div class="panel-body text-center">
      <p class="text-uppercase mar-btm text-sm">Rumah</p>
      <i class="fa fa-shopping-cart fa-3x"></i>
      <hr>
      <p class="h2 text-thin">2,423</p>
      <%= link_to "Ke Galeri", houses_path, class: "btn btn-block btn-primary btn-round-lg" %>
    </div>
  </div>
</div>