
<% if current_user.has_proposals? %>
  <%= render @tenders %>
<% else %>
<div class="card">
  <div class="blankslate backgroundless">
    <div class="spacious">
      <h4><%= "Ingin mengajukan pendanaan?" %></h4>
      <small>Pilih rumah yang sudah didaftarkan di Kapiten atau daftarkan rumah yang kamu inginkan terlebih dahulu</small>
      <h1><i class="ion ion-compose"></i></h1>
      <p>
        <%= link_to "Pilih Rumah", choose_path, remote: true, class: "btn btn-lg btn-inverse" %>
      </p>
    </div>
  </div>
</div>
<% end %>