<% meta title: "Home" %>

<%= render partial: 'elements/modal_placeholder', locals: { modal_name: 'home' } %>

<div class="home" style="">
  <h3 class="primary"><i class="ion ion-flag"></i> Markas</h3><hr class="light">

  <div class="row" id="home-view">
    <div class="col-xs-12 right-display">
      <!-- <div class="row"> -->
<!--         <div class="col-md-12">
          <h3>Bursa</h3><hr>
          <%= render 'investment' %>
        </div> -->
        <div class="col-md-12">
          <%= render 'request' %>
          <%= link_to 'Daftarkan Rumah', houses_path(build: 'true'), method: :post %>
        </div>
      <!-- </div> -->
    </div>
  </div>
</div>