<section id="feature">
  <div class="container">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="section-heading text-center">
        <h1>Musyarakah</h1>
        <p class="wow fadeInDown" data-wow-delay=".5s">
            Ini yang kami tawarkan kepada calon pembeli rumah atau pemilik rumah
        </p>
        <br>
        <br>
    </div>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">

        <div class="section-heading text-center">
            <div class="controlsBlock">
                <div class="controls">
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                    <h3 class="title landing" data-wow-delay=".3s">Untuk Pendana</h3>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Halal</h4>
                        <p>Imbal hasil dari pendapatan sewa dan penjualan porsi kepemilikan.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="fa fa-magic"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Fleksibel</h4>
                        <p>Jual sahammu atau terus nikmati keuntungan sewa dan apresiasi aset.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Aman</h4>
                        <p>Investasi dilindungi oleh aset serta terdapat langkah-langkah memitigasi risiko.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">

        <div class="section-heading text-center">
            <div class="controlsBlock">
                <div class="controls">
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                    <h3 class="title landing" data-wow-delay=".3s">Untuk Pembeli Rumah</h3>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Halal</h4>
                        <p>Kombinasi antara 3 transaksi yang terpisah: Kerja sama, Sewa, dan Pembelian Sukuk.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="fa fa-smile-o"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Tanpa Hutang</h4>
                        <p>Tidur di rumah tanpa perlu khawatir akan hutang.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="fa fa-rocket"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Bebas</h4>
                        <p>Tanpa denda atau pemaksaan untuk membeli habis kepemilikan, it's your choice.</p>
                    </div>
                </div>
            </div>            
        </div>  
        <center>
        <%= link_to open_simulation_path(type: 'client', aqad: 'musharaka'), remote: true, class: "btn btn-primary btn-round-lg" do %>
            <i class="fa fa-calculator fa-3x pull-left"></i>
            <span>Jalankan Simulasi</span><br>
            <b>Untuk Klien</b>        
        <% end %>
        </center>
    </div>
  </div>

            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol>  
</div>
    
</div>
</section> <!-- /#feature -->