<section id="feature">
<div class="container">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">


  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">

        <div class="section-heading text-center">
            <h1 class="title landing" data-wow-delay=".3s">Fitur Murabaha</h1>
            <br>
            <br>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="fa fa-magic"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Sederhana</h4>
                        <p>Jual-beli putus dengan sistem mencicil.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="fa fa-magnet"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Stabil</h4>
                        <p>Imbal hasil berasarl dari pembayaran cicilan penjualan rumah yang tetap hingga jatuh tempo.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Aman</h4>
                        <p>Investasi dilindungi oleh aset serta terdapat langkah-langkah memitigasi risiko.</p>
                    </div>
                </div>
            </div>
        </div>
        <center>
          <%= link_to "Simulasikan Murabaha", open_simulation_path(type: 'client', aqad: 'murabaha'), remote: true, class: "btn btn-round-lg btn-primary" %>
        </center>
    </div>
    <div class="item">

        <div class="section-heading text-center">
            <h1 class="title landing" data-wow-delay=".3s">Fitur Musyarakah</h1>
            <br>
            <br>            
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="fa fa-rocket"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Fleksibel</h4>
                        <p>Kombinasi antara 3 kontrak yang terpisah, tidak memaksa, dan adil.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="fa fa-smile-o"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Tanpa Hutang</h4>
                        <p>Pihak yang memakai rumah tidak perlu terlibat dalam hutang.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="media-left">
                        <div class="icon">
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Potensial</h4>
                        <p>Potensi keuntungan lebih besar dari penjualan saham dan pendapatan sewa.</p>
                    </div>
                </div>
            </div>            
        </div>  
        <center>
          <%= link_to "Simulasikan Musyarakah", open_simulation_path(type: 'client', aqad: 'musharaka'), remote: true, class: "btn btn-primary btn-round-lg" %>
        </center>
    </div>
  </div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol> 
</div>
    
</div>
</section> <!-- /#feature -->