<section class="explaining-kapiten padded centered extra-bottom-margin">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="prose">
          <h2 class="fh5co-lead">Berjamaah dalam bermuamalah</h2>
          <h5 class="fh5co-sub-lead">Keuntungan Investasi di Sikapiten</h5>
        </div>
      </div>
    </div>
    <div class="spacing extra-bottom-margin"></div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <ul class="row center-xs around-xs">
          <li class="col-sm-4 col-xs-12 illustrated-point">
            <%= image_tag('//res.cloudinary.com/instilla/image/upload/v1461390836/svg/paper-pin.svg') %>
            <div class="illustrated-point-description">
              <h4>Sesuai Syariah.</h4>
              <p>Menggunakan Musyarakah sebagai akad dan mengikuti standar yang ditetapkan oleh AAOIFI.</p>
            </div>
          </li>
          <li class="col-sm-4 col-xs-12 illustrated-point">
            <%= image_tag('//res.cloudinary.com/instilla/image/upload/v1461391107/svg/couch.svg') %>
            <div class="illustrated-point-description">
              <h4>Mudah</h4>
              <p>We'll handle everything, dari kontrak, serah terima, dan lain-lain.</p>
            </div>
          </li>
          <li class="col-sm-4 col-xs-12 illustrated-point">
            <%= image_tag('http://res.cloudinary.com/instilla/image/upload/v1461390717/svg/places-taj-mahal.svg') %>
            <div class="illustrated-point-description">
              <h4>Bermanfaat</h4>
              <p>Mendapat keuntungan sekaligus membantu sesama menjauhi riba</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>