<section class="closing detail-box active">

<div class="fh5co-faq">
  <div class="container prose">
    <div class="row">
      <h2 class="centered">Frequently Asked Questions</h2>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
        <div class="box-faq">
          <h3>Apa ini pinjaman?</h3>
          <p>Tidak, akad yang digunakan bukan qardh (pinjaman) melainkan Musyarakah.</p>
        </div>
        <div class="box-faq">
          <h3>Lalu perbedaannya dengan pinjaman?</h3>
          <p>Pinjaman dalam Islam adalah transaksi non-komersial, yang apabila dijadikan komersial, merupakan sebuah perbuatan riba. Skema pendanaan yang diterapkan di Kapiten adalah transaksi komersial yang menggunakan akad Musyarakah Mutanaqishah. Dalam akad ini rumah yang didanai menjadi milik syirkah (pihak yang bekerja sama) dan secara legal disusun dimana salah satu anggotanya dapat memiliki rumah tersebut sepenuhnya (100% kepemilikan).</p>
        </div>
        <div class="box-faq">
          <h3>Yang dimaksud dengan 'secara legal disusun...'?</h3>
          <p>Jadi di dalam akad akan dijabarkan bagaimana ketentuan dan cara pembelian porsi kepemilikan atas objek syirkah (rumah). Dalam kasus akad yang diterapkan oleh Kapiten, anggota syirkah yang merupakan calon pemilik rumah diberikan hak utama untuk mengakuisisi porsi kepemilikan anggota syirkah yang lainnya agar dia dapat memiliki rumah tersebut sepenuhnya di akhir masa syirkah.</p>
        </div>        
        <div class="box-faq">
          <h3>Bagaimana bila setelah akhir masa syirkah (10 tahun), calon pemilik rumah belum mengakuisisi rumah seluruhnya?</h3>
          <p>Ada dua langkah. Yang pertama, anggota syirkah yang merupakan calon pemilik rumah diberikan kesempatan dalam 1 bulan untuk: 1)mengakuisisi sisa kepemilikan rekan pendana, 2)mencari pihak di luar syirkah yang mau mengakuisisi kepemilikan rekan pendana. Jika kedua langkah tersebut gagal, maka Kapiten akan melikuidasi aset syirkah dengan menjualnya. Hasil penjualan akan dibagikan kepada semua anggota syirkah, termasuk calon pemilik rumah, sesuai dengan porsi kepemilikan.</p>
        </div>
        <div class="box-faq">
          <h3>Kenapa dalam skema ini klien harus membayar sewa? Bukankah klien termasuk sebagai pemilik rumah?</h3>
          <p>Betul, klien merupakan pemilik rumah, namun tidak sepenuhnya. Selain klien, anggota syirkah lainnya juga memiliki kepemilikan atas rumah. Maka pihak yang memakai rumah harus membayar sewa kepada pemilik rumah. Dalam kasus dimana yang memakai rumah adalah anggota syirkah, termasuk klien, maka dia perlu membayar sewa atas porsi kepemilikan yang dimiliki oleh anggota syirkah yang tidak memakai rumah, sebagai kompensasi atas hak pakai anggota syirkah lainnya. Dengan kata lain, besaran sewa atas objek syirkah terdiskon oleh porsi kepemilikannya. Semakin besar porsi kepemilikan klien, semakin kecil biaya sewa yang perlu dia bayar.
          </p>
          <p> Klien berhenti membayar sewa ketika 100% kepemilikan atas rumah dimilikinya. Ketentuan yang sama juga berlaku terhadap anggota syirkah yang bukan klien, tapi klien diberikan hak utama untuk memakai objek syirkah.</p>
        </div>        
        <div class="box-faq">
          <h3>Mengapa Kapiten tidak menggunakan akad Murabahah?</h3>
          <p>Murabahah, bila diterapkan dengan benar, memang merupakan akad yang dibolehkan dalam syariah. Namun murabahah untuk pembelian rumah bukanlah solusi ideal bagi Kapiten karena akan menempatkan klien (calon pemilik rumah) terlibat dalam hutang dengan rekan pendana. Walau Islam membolehkan hutang, banyak hadits shahih dan hasan yang menerangkan bahwa hutang merupakan sesuatu yang berat dan mempunyai dampak serius bagi seorang muslim di dunia dan akhirat. </p>
          <p>Dengan menggunakan Musyarakah, klien terhindarkan dari hutang. </p>
        </div>

      </div>

    </div>
  </div>
</div>


</section>