<section class="steps padded detail-box active">
  <div class="container">
    <div class="row center-xs step-1">
      <div class="col-sm-4">
        <div class="image img-circle"></div>
      </div>
      <div class="col-xs-10 col-sm-6">
        <div class="row start-xs">
          <div class="col-xs-2">
            <h2 class="number blue text-right">1</h2>
          </div>
          <div class="col-xs-10">
            <div class="prose">
              <h4>Registrasi</h4>
              <p>Registrasi dengan akun facebook, linkedin, atau buat akun Kapiten. Singkat, kurang dari 1 menit. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row center-xs step-2">
      <div class="col-sm-4">
        <div class="image img-circle"></div>
      </div>
      <div class="col-xs-10 col-sm-6">
        <div class="row start-xs">
          <div class="col-xs-2">
            <h2 class="number blue text-right">2</h2>
          </div>
          <div class="col-xs-10">
            <div class="prose">
              <h4>Daftarkan Rumah</h4>
              <p>Kamu sebagai Klien mendaftarkan rumah yang kamu inginkan dengan memberikan informasi yang terkait dengan rumah tersebut.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row center-xs step-3">
      <div class="col-sm-4">
        <div class="image img-circle"></div>
      </div>
      <div class="col-xs-10 col-sm-6">
        <div class="row start-xs">
          <div class="col-xs-2">
            <h2 class="number blue text-right">3</h2>
          </div>
          <div class="col-xs-10">
            <div class="prose">
              <h4>Buat Pengajuan</h4>
              <p>Mengajukan proposal penawaran musyarakah  di platform Kapiten. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row center-xs step-4">
      <div class="col-sm-4">
        <div class="image img-circle"></div>
      </div>
      <div class="col-xs-10 col-sm-6">
        <div class="row start-xs">
          <div class="col-xs-2">
            <h2 class="number blue text-right">4</h2>
          </div>
          <div class="col-xs-10">
            <div class="prose">
              <h4>Penilaian</h4>
              <p>Mengisi kuesioner dan diwawancara. Kapiten mempublikasikan penilaian secara terbuka di platform Kapiten.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row center-xs step-5">
      <div class="col-sm-4">
        <div class="image img-circle"></div>
      </div>
      <div class="col-xs-10 col-sm-6">
        <div class="row start-xs">
          <div class="col-xs-2">
            <h2 class="number blue text-right">5</h2>
          </div>
          <div class="col-xs-10">
            <div class="prose">
              <h4>Penawaran</h4>
              <p>Jika pengajuanmu lolos verifikasi, maka Kapiten akan mempublikasikannya dan membuka penawaran investasi kepada para pendana. Apabila dalam kurun waktu 4 bulan semua saham telah dipesan dan kemudian dibayar, maka lanjut ke tahap selanjutnya, apabila tidak tercapai, maka pengajuan diaggap gagal.</p>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <div class="row center-xs step-6">
      <div class="col-sm-4">
        <div class="image img-circle"></div>
      </div>
      <div class="col-xs-10 col-sm-6">
        <div class="row start-xs">
          <div class="col-xs-2">
            <h2 class="number blue text-right">6</h2>
          </div>
          <div class="col-xs-10">
            <div class="prose">
              <h4>Eksekusi Kontrak Musyarakah</h4>
              <p>Kontrak Musyarakah Mutanaqishah diteken antara Kapiten sebagai wakil para pendana dengan kamu sebagai pembeli rumah. Setelah itu Kapiten membeli rumah atas nama syirkah.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row center-xs step-6">
      <div class="col-sm-4">
        <div class="image img-circle"></div>
      </div>
      <div class="col-xs-10 col-sm-6">
        <div class="row start-xs">
          <div class="col-xs-2">
            <h2 class="number blue text-right">7</h2>
          </div>
          <div class="col-xs-10">
            <div class="prose">
              <h4>Sukses!</h4>
              <p>Selamat, kamu telah memiliki rumah tanpa terlibat dalam hutang. Rumah tersebut belum sepenuhnya kamu miliki, tapi kamu memiliki hak dan kewajiban atas rumah tersebut sesuai dengan porsi kepemilikanmu, yang dapat kamu tingkatkan kapan saja dengan membeli saham kepemilikan dari para pendana.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  