<section id="works" class="works">
    <div class="container">
        <div class="section-heading text-center">
            <h1>Produk</h1>
            <p class="wow fadeInDown" data-wow-delay=".5s">
                Ini yang kami tawarkan kepada calon pembeli rumah atau pemilik rumah
            </p>
        </div>
        <ul class="article-list-basic">
            <li>
                <a href="#">
                    <img src="http://res.cloudinary.com/instilla/image/upload/s--HjbjwXjc--/c_scale,w_400/v1454471660/sea-sunset-bird-flying_qv7mju.jpg" alt="Industrial Mech" />
                </a>
                <div>
                    <h2><a href="#">Hijra</a></h2>
                    <p>Skema kepemilikan rumah tanpa hutang untuk mereka yang belum memiliki rumah</p>
                    <!-- <a href="#" class="read-more">Read more &rarr;</a> -->
                </div>
            </li>

            <li>
                <a href="#">
                    <img src="http://res.cloudinary.com/instilla/image/upload/s--zI7LdhyW--/c_scale,w_400/v1454471660/cup-hot-hands_kcdfrd.jpg"  alt="Sahale Wa" />
                </a>
                <div>
                    <h2><a href="#">Remedy</a></h2>
                    <p>Takeover hipotik rumah, untuk mereka yang ingin terbebas dari praktik penindasan</p>
                    <!-- <a href="#" class="read-more">Read more &rarr;</a> -->
                </div>
            </li>
    </div>
</section>