<section class="explaining-kapiten extra-bottom-margin">
    <div class="container">
        </div>    
    	  <div class="row">
              <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="prose centered">
                  <h5 class="primary">Bagaimana Cara Kerja Sikapiten</h5>
                  <h2 class="extra-bottom-margin">Investasimu menjadi solusi pendanaan syariah<br> untuk pembelian rumah sebuah keluarga.</h2>                  
                </div>
              </div>            
    	  </div> <!--/ .row -->
          <div class="spacing"></div>
          <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <%= image_tag('//res.cloudinary.com/instilla/image/upload/s---fDFxlil--/c_scale,w_400/v1461420831/svg/boilerplate_diagram.svg', class: 'img-responsive')  %>
              </div>
              <div class="col-md-5 goleft">
                <div class="col-xs-12">
                  <h4 class="grey">Menerima proposal pendanaan.</h4>
                  <p>Isi proposal adalah rumah yang diinginkan serta informasi dari pemohon.</p>
                </div>
                <div class="col-xs-12">
                  <h4 class="grey">Investor memilih proposal.</h4>
                  <p>Para investor menimbang proposal mana yang ingin didanai dan seberapa besar pendanaannya.</p>
                </div>
                <div class="col-xs-12">
                    <h4 class="grey">Ekseksusi Proposal.</h4>
                    <p>Jika proposal mencapai target komitmen dana, maka proses eksekusi dimulai.</p>                  
                </div>                
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-6 col-md-offset-3 button-group get-offer-button-group">
                <div class="col-sm-6 col-sm-offset-3 centered">
                    <%= link_to "Telusuri →", page_path('how_it_works'), class: 'btn btn-lg btn-primary' %>   
                </div>
              </div>
              <div class="spacing"></div>
          </div>
      </div>
</section>