<section class="explaining-kapiten">
    <div class="container">
    	  <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2 class="fh5co-lead">Berjamaah dalam bermuamalah</h2>
                <p class="fh5co-sub-lead">
                    Sikapiten adalah komunitas yang bertujuan untuk membantu keluarga memiliki rumah melalui aktifitas investasi.
                </p>
            </div>
    	  </div> <!--/ .row -->
          <div class="spacing"></div>
          <div class="row">
              <div class="col-md-4">
                  
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-6 goleft">
                  <h4>Musyarakah sebagai akadnya</h4>
                  <p>ar far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-4">
                  
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-6 goleft">
                  <h4>Crowdfunding</h4>
                  <p>ar far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-6 col-md-offset-3 button-group get-offer-button-group">
                <div class="col-md-1"></div>
                <div class="col-sm-6 col-md-5">
                    <%= link_to "Telusuri", '/how_it_works', class: 'btn btn-lg btn-primary' %>      
                </div>
                <div class="col-sm-6 col-md-5">
                    <a class="btn btn-lg btn-success" ui-sref="how_it_works" href="/how-it-works">Learn more →</a>
                </div>
                <div class="col-md-1"></div>
            </div>          
              <div class="spacing"></div>
          </div>
      </div>
</section>


<style type="text/css">
    .fh5co-lead {
        font-size: 50px;
        font-weight: 300;
        color: #484c50;
        margin-bottom: 10px;
    }
    .fh5co-sub-lead {
        font-size: 18px;
        line-height: 32px;
        font-weight: 300;
        /*color: #666666;*/
        color: #85919d;
    }    
    section.explaining-kapiten {
        margin-top: 80px;        
    }
    .get-offer-button-group {
        margin-top: 45px;
        display: inline-flex; text-align: center;
    }
</style>