<div>
	<div class="container">
		<div class="row">
			<h3 class="landing">Sekilas Tanya-Jawab</h3>
			<br>
			<div class="col-lg-8 col-lg-offset-2">
				<!-- Accordion START -->
        <div class="accordion">
            <div class="panel-group" id="accordion1">


  <div class="panel panel-default">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
      <div class="panel-heading active">
        <h3 class="panel-title">
          Apakah Kapiten akan menghimpun dana hasil crowdfunding?
          <i class="fa fa-angle-double-down extend-icons pull-right primary"></i>
        </h3>
      </div>
    </a>
    <div id="collapseOne1" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>Tidak, Kapiten tidak menghimpun dana seperti bank, koperasi, atau manajer investasi. Untuk menghimpun dana hasil crowdfunding, Kapiten akan bekerja sama dengan lembaga keuangan yang memiliki izin untuk menghimpun dana dan mempunyai track record yang bagus. Untuk setiap penggalangan dana yang 100% tercapai, baru para pendana diminta untuk mengumpulkan uang ke rekening mitra lembaga keuangan.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
      <div class="panel-heading">
        <h3 class="panel-title">
          Bagaimana cara menjadi crowdfunder? Kapan platform akan bisa diakses?
          <i class="fa fa-angle-double-down extend-icons pull-right primary"></i>
        </h3>
      </div>
    </a>
    <div id="collapseTwo1" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="media accordion-inner">
          <div class="pull-left">
          </div>
          <div class="media-body">
            <p>Platform akan bisa diakses mulai akhir Januari 2016 karena dari sisi teknis dan bisnis masih ada yang perlu dikembangkan. Saat ini pendaftaran ditutup, tapi kamu akan dikabari ketika  platform sudah bisa diakses dengan mengisi kotak alamat email di bagian atas laman ini.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
      <div class="panel-heading">
        <h3 class="panel-title">
          Apa aspek legalitas dari Kapiten dan jasa yang ditawarkannya?
          <i class="fa fa-angle-double-down extend-icons pull-right primary"></i>
        </h3>
      </div>
    </a>
    <div id="collapseFour1" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="media accordion-inner">
          <div class="pull-left">
          </div>
          <div class="media-body">
            <p>Alhamdulillah Kapiten sudah memiliki status badan hukum dengan nama PT Kapiten Teknologi Indonesia. Kapiten bukan merupakan lembaga keuangan karena hingga saat ini Otoritas Jasa Keuangan belum menerbitkan lisensi untuk jasa crowdfunding, yang mana merupakan inti dari jasa Kapiten.</p>
            <p>Untuk model crowdfunding (equity-based) yang dilakukan oleh Kapiten, walau OJK belum mempunyai regulasi spesifik mengenai ini, OJK meminta Kapiten mematuhi peraturan BAPEPAM yang menyangkut "penawaran umum bukan efek". Dua hal yang perlu dipatuhi oleh Kapiten adalah tiap penawaran yang diberikan kepada crowdfunder harus bernilai kurang dari 1 miliar rupiah DAN/ATAU berlangsung kurang dari 12 bulan.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive1">
      <div class="panel-heading">
        <h3 class="panel-title">
          Saya mau membeli rumah dengan jasa Kapiten, bagaimana caranya?
          <i class="fa fa-angle-double-down extend-icons pull-right primary"></i>
        </h3>
      </div>
    </a>
    <div id="collapseFive1" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Saat ini Kapiten akan fokus untuk melayani segmen pembeli rumah subsidi. Ini berarti penghasilan kamu harus dibawah UMR dan rumah yang mau kamu beli harus mematuhi harga rumah subsidi yang berlaku di provinsi tersebut. Kapiten sedang menjalin kerjasama dengan pengembang rumah subsidi dan rumah di bawah 300 juta, dan para pengembang yang akan menyarankan pembeli rumah mana yang patut dibiayai melalui Kapiten.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix1">
      <div class="panel-heading">
        <h3 class="panel-title">
          Bagaimana bila ada kegagalan memenuhi kewajiban oleh pembeli rumah?
          <i class="fa fa-angle-double-down extend-icons pull-right primary"></i>
        </h3>
      </div>
    </a>
    <div id="collapseSix1" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Dalam Islam, kerugian harus ditanggung oleh semua pihak yang terlibat dalam akad, seperti yang telah dituliskan dalam kontrak. Selama kamu jujur dalam berbisnis dan pelaporannya, maka kerugian akan diterima bersama. Untuk murabahah, apabila kamu gagal membayar angsuran setelah beberapa bulan, maka sesuai dengan kontrak, aset yang kamu beli tersebut harus dijual dan hasil penjualannya digunakan untuk membayar kewajibanmu tersebut dan selebihnya dikembalikan kepada kamu. Untuk musyarakah, kewajiban yang ada hanyalah membayar sewa apabila kamu memutuskan menggunakan aset syirkah(rumah). Apabila kamu gagal membayar uang sewa untuk beberapa bulan, maka kamu diwajibkan keluar dari rumah namun masih memiliki kepemilikan atas rumah tersebut.</p>
      </div>
    </div>
  </div>

            </div><!--/#accordion1-->
        </div>
        <!-- Accordion END -->
			</div>
		</div>
		<br>
		<br>
		<br>	
	</div><!-- /container -->
</div>			