<div id="features">
	<div class="container">
		<div class="row">
			<h3 class="landing">Fitur Yang Ada</h3>
			<br>
			<br>
			
			<div class="col-md-8 col-md-offset-2">
				<br>
			<!-- ACCORDION -->
        <div class="accordion ac" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                <span class="primary">Buat Proposal</span> <i class="fa fa-caret-square-o-down"></i>
              </a>
            </div><!-- /accordion-heading -->
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
								<p>Daftar gratis dan isi formulir pengajuan serta unggah dokumen identitas kamu. Proses ini hanya memakan waktu >30 menit. Tidak butuh jaminan BPKB dll ataupun informasi sensitif dari kamu</p>
							</div><!-- /accordion-inner -->
	          </div><!-- /collapse -->
	        </div><!-- /accordion-group -->
	        <br>
	
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              	<span class="primary">Terima Tawaran</span> <i class="fa fa-caret-square-o-down"></i>
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
								<p>Terima tawaran berbasis syariah <strong>(terhindar riba, hore!)</strong> dalam waktu 3 hari. Tak perlu takut dan bingung dalam memilih, kami bantu sepanjang saat melalui analisis dan konsultasi gratis!</p>
							</div><!-- /accordion-inner -->
            </div><!-- /collapse -->
          </div><!-- /accordion-group -->
	        <br>

          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                <span class="primary">Penanganan Akad & Kontrak</span> <i class="fa fa-caret-square-o-down"></i>
              </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse">
              <div class="accordion-inner">
                <p>Kami bantu kamu dalam memilih akad yang tepat serta penyusunan proposal pengajuan. Kemudian kontrak atas persetujuan pembiayaan akan dibuat dengan transparan serta jelas bagi pihak-pihak yang terlibat <strong>untuk menghindari maysir dan gharar</strong>, dua hal yang dilarang dalam keuangan syariah. Tentunya kami akan membantu kamu dalam menangani dan memenuhi kewajiban kontrakmu, jangan khawatir. <i class="fa fa-smile-o"></i> 
                </p>
              </div><!-- /accordion-inner -->
            </div><!-- /collapse -->
          </div><!-- /accordion-group -->
          <br>
	
         	<div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                <span class="primary">Bangun Kredibilitas</span> <i class="fa fa-caret-square-o-down"></i>
              </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner">
								<p>Penuhi kewajiban kamu dengan jujur dan adil agar kamu selanjutnya lebih mudah mendapatkan pembiayaan syariah karena dapat dipercaya dan kami rekomendasikan kepada mitra lembaga keuangan syariah kami.</p>
							</div><!-- /accordion-inner -->
            </div><!-- /collapse -->
        	</div><!-- /accordion-group -->
        	<br>

				</div><!-- Accordion -->
			</div>
		</div>
	</div><!--/ .container -->
</div><!--/ #features -->	