<div id="features">
	<div class="container">
		<div class="row">
			<h1 class="centered">Fitur Yang Ada</h1>
			<br>
			<br>
			<div class="col-lg-6 centered">
				<%= render 'elements/phone_mockup' %>
			</div>
			
			<div class="col-lg-6">
				<br>
			<!-- ACCORDION -->
        <div class="accordion ac" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                Terima Tawaran <i class="fa fa-caret-square-o-down"></i>
              </a>
            </div><!-- /accordion-heading -->
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
								<p>Daftar gratis dan dapatkan penawaran pembiayaan dengan sistem tender tertutup. Tidak perlu lagi kamu pusing melihat banyak pilihan dan memikirkannya</p>
							</div><!-- /accordion-inner -->
	          </div><!-- /collapse -->
	        </div><!-- /accordion-group -->
	        <br>
	
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              	Rekomendasi Pilihan <i class="fa fa-caret-square-o-down"></i>
              </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
								<p>Tak perlu takut dan bingung dalam memilih, kami bantu sepanjang saat melalui analisis dan konsultasi langsung gratis!</p>
							</div><!-- /accordion-inner -->
            </div><!-- /collapse -->
          </div><!-- /accordion-group -->
	        <br>
	
         	<div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                Bangun Kredibilitas <i class="fa fa-caret-square-o-down"></i>
              </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner">
								<p>Lengkapi berkas-berkas identitas dan mulai bangun kredibilitas keuanganmu dengan mendapatkan pembiayaan serta melunasinya. Ini akan membuat kamu menjadi lebih mudah untuk mendapatkan pembiayaan selanjutnya.</p>
							</div><!-- /accordion-inner -->
            </div><!-- /collapse -->
        	</div><!-- /accordion-group -->
        	<br>
	                
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                Responsive Design <i class="fa fa-caret-square-o-down"></i>
              </a>
            </div>
            <div id="collapseFour" class="accordion-body collapse">
              <div class="accordion-inner">
								<p>Nyaman digunakan dan dilihat menggunakan smartphone, tablet, dan laptop. Android app akan menyusul segera. </p>
							</div><!-- /accordion-inner -->
            </div><!-- /collapse -->
        	</div><!-- /accordion-group -->
        	<br>			

				</div><!-- Accordion -->
			</div>
		</div>
	</div><!--/ .container -->
</div><!--/ #features -->	