        <div class="col-xs-12 col-sm-4">
            <%= link_to for_developers_path do %>       
            <div class="project">
                <figure class="img-responsive">
                    <img src="http://res.cloudinary.com/instilla/image/upload/c_scale,h_233,w_350/v1449582919/asset/signature-962355_640.jpg">
                    <figcaption>
                        <span class="project-details"><%= t("landing.developer") %></span>
                        <span class="project-creator">developer dan penjual rumah</span>
                    </figcaption>
                    <span class="hovered">
                            <button class="btn btn-info btn-action" type="submit" ><%= t("links.view") %></button>
                    </span>
                </figure>
            </div>
            <% end %>
        </div>   