<section class="closing detail-box active">

<div class="fh5co-faq">
	<div class="container prose">
		<div class="row">
			<h2 class="centered">Frequently Asked Questions</h2>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
				<div class="box-faq">
					<h3>Apakah Kapiten akan menghimpun dana hasil crowdfunding?</h3>
					<p>Tidak, Kapiten tidak menghimpun dana seperti bank, koperasi, atau manajer investasi. Untuk menghimpun dana hasil crowdfunding, Kapiten akan bekerja sama dengan lembaga keuangan yang memiliki izin untuk menghimpun dana dan mempunyai track record yang bagus. Untuk setiap penggalangan dana yang 100% tercapai, baru para pendana diminta untuk mengumpulkan uang ke rekening Kapiten sebagai transit dan dalam 24 jam Kapiten akan mengeksekusi pembelian.</p>
				</div>
				<div class="box-faq">
					<h3>Apa aspek legalitas dari Kapiten dan jasa yang ditawarkannya? </h3>
					<p>Alhamdulillah Kapiten sudah memiliki status badan hukum dengan nama PT Kapiten Teknologi Indonesia. Kapiten bukan merupakan lembaga keuangan karena hingga saat ini Otoritas Jasa Keuangan belum menerbitkan lisensi untuk jasa crowdfunding, yang mana merupakan inti dari jasa Kapiten.</p>
            		<p>Untuk model equity-based crowdfunding yang diterapkan oleh Kapiten, walau OJK belum mempunyai regulasi spesifik mengenai ini, OJK meminta Kapiten mematuhi peraturan BAPEPAM yang menyangkut "penawaran umum bukan efek". Dua hal yang perlu dipatuhi oleh Kapiten adalah tiap penawaran yang diberikan kepada crowdfunder harus bernilai kurang dari 1 miliar rupiah DAN/ATAU berlangsung kurang dari 12 bulan.</p>
				</div>
				<div class="box-faq">
					<h3>Bagaimana bila setelah 10 tahun, calon pemilik rumah belum mengakuisisi rumah seluruhnya?</h3>
					<p>Ada dua langkah. Yang pertama, anggota syirkah yang merupakan calon pemilik rumah diberikan kesempatan dalam 1 bulan untuk: 1)mengakuisisi sisa kepemilikan rekan pendana, 2)mencari pihak di luar syirkah yang mau mengakuisisi kepemilikan rekan pendana. Jika kedua langkah tersebut gagal, maka Kapiten akan melikuidasi aset syirkah dengan menjualnya. Hasil penjualan akan dibagikan kepada semua anggota syirkah, termasuk calon pemilik rumah, sesuai dengan porsi kepemilikan.</p>
				</div>
				<div class="box-faq">
					<h3>Mengapa Kapiten tidak mau memberikan jaminan atas pendapatan investor?</h3>
					<p>Karena melakukan hal tersebut merupakan elemen riba. Semua pendapatan dan keuntungan yang diperoleh oleh semua pihak dalam skema ini adalah halal karena merupakan hasil dari usaha dan risiko yang ditanggung oleh masing-masing. </p>
				</div>
		        <div class="box-faq">
		          <h3>Kenapa dalam skema ini klien harus membayar sewa? Bukankah klien termasuk sebagai pemilik rumah?</h3>
		          <p>Betul, klien merupakan pemilik rumah, namun tidak sepenuhnya. Selain klien, anggota syirkah lainnya juga memiliki kepemilikan atas rumah. Maka pihak yang memakai rumah harus membayar sewa kepada pemilik rumah. Dalam kasus dimana yang memakai rumah adalah anggota syirkah, termasuk klien, maka dia perlu membayar sewa atas porsi kepemilikan yang dimiliki oleh anggota syirkah yang tidak memakai rumah, sebagai kompensasi atas hak pakai anggota syirkah lainnya. Dengan kata lain, besaran sewa atas objek syirkah terdiskon oleh porsi kepemilikannya. Semakin besar porsi kepemilikan klien, semakin kecil biaya sewa yang perlu dia bayar.
		          </p>
		          <p> Klien berhenti membayar sewa ketika 100% kepemilikan atas rumah dimilikinya. Ketentuan yang sama juga berlaku terhadap anggota syirkah yang bukan klien, tapi klien diberikan hak utama untuk memakai objek syirkah.</p>
		        </div>        				
			</div>

		</div>
	</div>
</div>


</section>