<section class="steps padded detail-box active">
  <div class="container">
    <div class="row center-xs step-1">
      <div class="col-sm-4">
        <div class="image img-circle"></div>
      </div>
      <div class="col-xs-10 col-sm-6">
        <div class="row start-xs">
          <div class="col-xs-2">
            <h2 class="number blue text-right">1</h2>
          </div>
          <div class="col-xs-10">
            <div class="prose">
              <h4>Registrasi</h4>
              <p>Registrasi dengan akun facebook, linkedin, atau buat akun Kapiten. Singkat, kurang dari 1 menit. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row center-xs step-2">
      <div class="col-sm-4">
        <div class="image img-circle"></div>
      </div>
      <div class="col-xs-10 col-sm-6">
        <div class="row start-xs">
          <div class="col-xs-2">
            <h2 class="number blue text-right">2</h2>
          </div>
          <div class="col-xs-10">
            <div class="prose">
            <h4>Pilih Penawaran</h4>
            <p>Kamu sebagai Klien mendaftarkan rumah yang kamu inginkan dengan memberikan informasi yang terkait dengan rumah tersebut.</p>            
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row center-xs step-3">
      <div class="col-sm-4">
        <div class="image img-circle"></div>
      </div>
      <div class="col-xs-10 col-sm-6">
        <div class="row start-xs">
          <div class="col-xs-2">
            <h2 class="number blue text-right">3</h2>
          </div>
          <div class="col-xs-10">
            <div class="prose">
              <h4>Konfirmasi</h4>
              <p>Apabila semua saham untuk proposal tersebut sudah dipesan, maka kamu akan diminta konfirmasi dengan menandatangani kontrak Wakalah dan membayar untuk jumlah saham yang kamu pesan.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row center-xs step-4">
      <div class="col-sm-4">
        <div class="image img-circle"></div>
      </div>
      <div class="col-xs-10 col-sm-6">
        <div class="row start-xs">
          <div class="col-xs-2">
            <h2 class="number blue text-right">4</h2>
          </div>
          <div class="col-xs-10">
            <div class="prose">
              <h4>Eksekusi Kontrak</h4>
              <p>Kontrak Musyarakah Mutanaqishah diteken antara Kapiten sebagai wakil para pendana dengan pembeli rumah sebagai klien. Setelah itu Kapiten membeli rumah atas nama  syirkah.</p>              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row center-xs step-5">
      <div class="col-sm-4">
        <div class="image img-circle"></div>
      </div>
      <div class="col-xs-10 col-sm-6">
        <div class="row start-xs">
          <div class="col-xs-2">
            <h2 class="number blue text-right">5</h2>
          </div>
          <div class="col-xs-10">
            <div class="prose">
              <h4>Terima Pendapatan</h4>
              <p>Kamu sebagai pendana dan anggota syirkah yang tidak memakai aset syirkah (rumah) berhak kompensasi dari si pemakai aset syirkah dalam bentuk pembayaran sewa. Selain itu, kamu juga mempunyai potensi keuntungan dari penjualan saham kepemilikan.</p>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <div class="row center-xs step-6">
      <div class="col-sm-4">
        <div class="image img-circle"></div>
      </div>
      <div class="col-xs-10 col-sm-6">
        <div class="row start-xs">
          <div class="col-xs-2">
            <h2 class="number blue text-right">6</h2>
          </div>
          <div class="col-xs-10">
            <div class="prose">
              <h4>Syirkah Selesai</h4>
              <p>Syirkah selesai ketika salah satu anggota syirkah telah memiliki 100% kepemilikan atas obyek syirkah atau sesudah melewati jangka waktu 10 tahun.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  