
  
	<h1><i class="glyphicon glyphicon-list-alt"></i> Index</h1>  
    
    <div class="row">

      <div class="col-md-8">
        <div class="panel panel-primary">
          <div class="panel-heading">
             <h3 class="panel-title">Daftar Lapangan</h3>
          </div>
            <ul class="list-group">

              <%= render @venues %>

             </ul>
        </div>

      </div>

	  </div>

