<div class="tab-pane fade" id="messages">
  <div class="container">
  	<h1><i class="glyphicon glyphicon-comment"></i> Forum</h1>
	<h3 class="head text-center">Create a Bootsnipp<sup>™</sup> Profile</h3>
	<p class="narrow text-center">
	  Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
	</p>

	<p class="text-center">
		<a href="" class="btn btn-success btn-outline-rounded green"> create your profile <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
	</p>
  
  </div>
</div>