<div class="tab-pane fade" id="messages">
  <div class="container">
  	<h1><i class="glyphicon glyphicon-comment"></i> Forum</h1>
	<h3 class="head text-center">Coming Soon!</h3>
	<p class="narrow text-center">
	  Tempat untuk mengajak sparring sesama pengguna dan interaksi lainnya.
	</p>


  
  </div>
</div>