<div class="spacing"></div>
<div class="container-fluid home-tour">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
              <h2 class="section-title">Mau beli rumah?</h2>
              <h1 class="section-headline">Kami merancang skema tanpa hutang untuk mendanai pembelian rumahmu</h1>
            </div>            
        </div>
    </div>
    <!-- row requires "row-divided" class -->
    <div class="row">
        <div class="col-sm-5 tour-items centered">
            <div class="proposition">
                <h2>Hijrah</h2>
                <%= embedded_svg('iconmonstr-key-9.svg', class: 'svg-bg') %>
                <p>Membeli rumah impian tanpa terlibat dalam hutang dan riba dengan prinsip dan metode yang syar'i</p>
                <div class="spacing"></div>
                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#buying_details">Telusuri</button> -->
            </div>
        </div>
        <div class="col-sm-7 tour-items centered">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              
              <!-- panel 1 -->
              <div class="panel panel-default">
                <!--wrap panel heading in span to trigger image change as well as collapse -->
                <span class="side-tab" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="false">
                  <div class="panel-heading" role="tab" id="headingOne"data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h4 class="panel-title">Penjelasan</h4>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                  </div>
                </span>
                
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    Dengan skema Hijrah, kamu akan memiliki rumah tanpa perlu terlibat dalam hutang. Dengan akad Musyarakah Mutanaqishah, kamu tergabung dalam kerja sama kepemilikan bersama dengan para pendana dan kamu tidak mempunyai kewajiban untuk membeli saham kepemilikan mereka. Kewajibanmu hanya sebatas membayar sewa yang didiskon oleh porsi kepemilikanmu, artinya semakin besar porsimu maka semakin rendah sewa yang harus kamu bayarkan kepada para pendana.
                  </div>
                </div>
              </div> 
              <!-- / panel 1 -->
              
              <!-- panel 2 -->
              <div class="panel panel-default">
                  <!--wrap panel heading in span to trigger image change as well as collapse -->
                  <span class="side-tab" data-target="#tab2" data-toggle="tab" role="tab" aria-expanded="false">
                      <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <h4 class="panel-title collapsed">Persyaratan</h4>
                          <span class="pull-right clickable" style="margin-top: -20px;font-size: 15px;"><i class="glyphicon glyphicon-chevron-down"></i></span>
                      </div>
                  </span>

                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                      Berikut persyaratan yang harus kamu penuhi untuk menerbitkan pengajuan di Kapiten: 
                    </div>
                    <ul class="list-group">
                      <li class="list-group-item">Belum pernah memiliki rumah</li>
                      <li class="list-group-item">Memiliki modal sebesar minimal 20% dari harga rumah</li>
                      <li class="list-group-item">Rumah yang diinginkan memenuhi kriteria minimum Kapiten</li>
                      <li class="list-group-item">Mampu membayar uang komitmen (hamish jiddiyah) sebagai bukti keseriusan</li>
                      <li class="list-group-item">Bersedia memberikan data diri serta menjalani proses seleksi secara jujur oleh Kapiten</li>
                    </ul>
                  </div>
              </div>
              <!-- / panel 2 -->
              
              <!--  panel 3 -->
          </div> <!-- / panel-group -->
           
          <div class="centered">
            <%= link_to '#', remote: true, class: "btn btn-primary btn-round-lg", id: "BT2" do %>
              <i class="fa fa-calculator fa-3x pull-left"></i>
              <span>Jalankan Simulasi</span><br>
              <b>Untuk Hijrah</b>
            <% end %>
          </div>
        </div><!-- End of right column -->        
    </div>
</div>
<div class="spacing"></div>
<%= render 'elements/buying_details' %>