<section class="explaining-kapiten extra-bottom-margin">
    <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="prose centered">
                  <h2 class="extra-bottom-margin">Akad yang digunakan</h2>
                </div>
              </div>            
          </div> <!--/ .row -->
          <div class="spacing"></div>
          <div class="row">
              <div class="col-md-7 col-sm-8">
                <%= image_tag('//res.cloudinary.com/instilla/image/upload/s--y2dlKwAu--/c_scale,w_400/v1461426824/svg/combination_of_contracts.svg', class: 'img-responsive')  %>
              </div>
              <div class="col-md-5 col-sm-4 goleft">
                <div class="col-xs-12">
                    <h4>Wakalah</h4>
                    <p>Akad perwakilan yang menjelaskan hak dan kewajiban antara pihak pendana dengan pihak Kapiten sekaligus memberikan kuasa kepada Kapiten untuk mengelola syirkah (kerja sama).</p>
                </div>
                <div class="col-xs-12">
                    <h4>Musyarakah Mutanaqishah</h4>
                    <p>Akad pendanaan investasi antara klien (calon pemilik rumah) dengan rekan pendana yang dibentuk oleh Kapiten. Tujuan pendanaan adalah pembelian rumah yang telah dipilih oleh klien dalam proposal. Akad ini mengatur bagaimana tata cara pemindahan porsi kepemilikan antara anggota syirkah.</p>
                </div>
                <div class="col-xs-12">
                    <h4>Ijarah</h4>
                    <p>Jika klien ingin memakai rumah yang menjadi obyek syirkah, maka Kapiten sebagai wakil dari syirkah akan membuat akad sewa dengan klien. Akad sewa ini terpisah dari dan tidak disyarakatan dalam akad Musyarakah Mutanaqishah.</p>
                </div>
              </div>
              <div class="visible-lg col-lg-1"></div>
              <div class="col-md-6 col-md-offset-3 button-group get-offer-button-group">
                <div class="col-sm-6 col-sm-offset-3 centered">
                    
                </div>
              </div>          
              <div class="spacing"></div>
          </div>
          <div class="spacing extra-bottom-margin"></div>
      </div>
</section>
      <section class="closing detail-box active">
        <div class="container prose">
          <div class="row">
              <div class="row">
                  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <div class="prose centered">
                      <h2 class="extra-bottom-margin">Rincian</h2>
                    </div>
                  </div>            
              </div> <!--/ .row -->            
            <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                <div class="col-xs-12">
                    <h5>Investasi</h5>
                    <h6>1 - Durasi Akad</h6>
                    <p>Kerja sama diestimasi berlangsung hingga 10 tahun, ini berarti akad Wakalah, Musyarakah Mutanaqishah, dan Ijarah (jika ada) juga berlangsung selama 10 tahun.</p>
                    <h6>2 - Dana Investasi</h6>
                    <p>Untuk setiap proposal, besaran minimal untuk dapat berpartisipasi adalah sebesar 1% dari target dana yang disebutkan dalam tawaran oleh pendana. Pengumpulan dana dari tawaran tiap pendana baru dilakukan ketika target dana sudah 100% tercapai.</p>
                    <h6>3 - Akuisisi Kepemilikan Oleh Klien</h6>
                    <p>Porsi kepemilikan yang dibeli oleh klien dibagi secara merata antara rekan pendana dan menggunakan harga pasar yang berlaku pada saat transaksi dijalankan.</p>
                    <h6>4 - Exit Strategy</h6>
                    <p>Rekan pendana yang ingin keluar lebih awal dari syirkah dapat menjual kepemilikannya kepada pihak di dalam atau di luar syirkah selama mematuhi ketentuan di dalam akad Musyarakah Mutanaqishah.</p>
                    <br><br>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5">
                <div class="col-xs-12">
                    <h6>Aspek Legal</h6>
                    Berikut berbagai unsur legalitas dari skema ini:
                      <ul class="list-group">
                        <li class="list-group-item">Setiap anggota syirkah dan Kapiten menandatangani akad Wakalah.</li>
                        <li class="list-group-item">Akad Musyarakah Mutanaqishah dan Ijarah ditandatangani oleh Kapiten, sebagai wakil dari syirkah, dan klien (calon pemilik rumah).</li>
                        <li class="list-group-item">Dokumen porsi kepemilikan sebagai addendum dari kontrak Musyarakah dan akan direvisi setiap 12 bulan.</li>
                        <li class="list-group-item">Properti yang dibeli atas dasar akad Musyarakah menjadi obyek syirkah.</li>
                        <li class="list-group-item">Sertifikat properti tetap atas nama penjual, sedangkan PPJB & AJB atas nama klien. Dokumen-dokumen tersebut disimpan oleh Kapiten sebagai jaminan di safe deposit yang disetujui bersama.</li>
                        <li class="list-group-item">Mendapatkan sertifikat tanda kepemilikan saham atas obyek syirkah.</li>
                      </ul>                    
                    <div class="divider"></div>
                    <p></p>
                    <p></p>
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1 centered">
                <h5>Tidak ada jaminan keuntungan atau pendapatan dari Kapiten karena hal tersebut merupakan elemen riba. Semua pendapatan dan keuntungan yang diperoleh oleh semua pihak dalam skema ini adalah halal karena merupakan hasil dari usaha dan risiko yang ditanggung oleh masing-masing</h5>
            </div>            
          </div>          
        </div>
      </section>  