<p>Selamat datang di www.sikapiten.com.</p>
<p>
Syarat & ketentuan yang ditetapkan di bawah ini mengatur pemakaian jasa yang ditawarkan oleh CV. Satrindo Jayatama terkait penggunaan situs www.sikapiten.com. Pengguna disarankan membaca dengan seksama karena dapat berdampak kepada hak dan kewajiban Pengguna di bawah hukum.
Dengan mendaftar dan/atau menggunakan situs www.siKapiten.com, maka pengguna dianggap telah membaca, mengerti, memahami dan menyutujui semua isi dalam Syarat & ketentuan. Syarat & ketentuan ini merupakan bentuk kesepakatan yang dituangkan dalam sebuah perjanjian yang sah antara Pengguna dengan CV. Satrindo Jayatama. Jika pengguna tidak menyetujui salah satu, sebagian, atau seluruh isi Syarat & ketentuan, maka pengguna tidak diperkenankan menggunakan layanan di www.sikapiten.com.
</p>
<br>
<h5>A. Definisi</h5>
<p>1. CV Satrindo Jayatama adalah suatu persekutuan komanditer yang menjalankan kegiatan usaha jasa web portal www.sikapiten.com, yakni situs platform pembiayaan syariah untuk rumah. Selanjutnya disebut siKapiten. <br>
2. Situs siKapiten adalah www.sikapiten.com. <br>
3. Aset yang dibiayai oleh siKapiten adalah properti, termasuk namun tidak terbatas pada rumah, apartemen, tanah, ataupun jenis properti lain yang diajukan melalui siKapiten. <br>
4. Layanan siKapiten adalah membantu klien untuk mengajukan pembiayaan untuk Aset, menyalurkan pengajuan tersebut kepada mitra pendana siKapiten, dan memfasilitasi terjadinya kontrak pembiayaan antara kedua belah pihak tersebut. <br>
5. Syarat & ketentuan adalah perjanjian antara Pengguna dan siKapiten yang berisikan seperangkat peraturan yang mengatur hak, kewajiban, tanggung jawab pengguna dan siKapiten, serta tata cara penggunaan sistem layanan siKapiten. <br>
6. Pengguna adalah pihak yang menggunakan layanan siKapiten, termasuk namun tidak terbatas pada klien, mitra pendana ataupun pihak lain yang sekedar berkunjung ke Situs siKapiten. <br>
7. Klien adalah Pengguna terdaftar yang dapat mengajukan atau sudah mengajukan pembiayaan untuk Aset melalui situs siKapiten namun belum terlibat kontrak dengan siKapiten dan/atau mitra pendana. <br>
8. Klien Aktif adalah Pengguna terdaftar yang sudah mengajukan pembiayaan untuk Aset melalui situs siKapiten dan sudah terlibat dalam kontrak dengan siKapiten dan/atau mitra pendana. <br>
9. Mitra Pendana adalah, termasuk namun tidak terbatas pada Pengguna, lembaga keuangan, institusi pemerintah, perusahaan swasta ataupun pihak lain yang telah terlibat dalam kontrak kerja sama dengan siKapiten untuk membiayai pengajuan pembiayaan yang dianggap pantas oleh tiap Mitra Pendana. <br>
10. Akad adalah kontrak yang sesuai dengan syariah Islam dan dapat dipilih oleh Klien dalam Situs siKapiten. <br>
11. Pengajuan Pembiayaan adalah proposal dalam format digital yang dibuat oleh Klien dalam Situs siKapiten untuk pembiayaan aset yang di dalamnya mencakup informasi yang relevan dengan pembiayaan, termasuk namun tidak terbatas pada harga aset, lokasi aset, bentuk aset, jenis Akad yang dipilih, dan lama tenor.<br>
</p>
<br>
<h5>B. Akun, Password, dan Keamanan</h5>
<p>
1. Pengguna dengan ini menyatakan bahwa pengguna adalah orang yang cakap dan mampu untuk mengikatkan dirinya dalam sebuah perjanjian yang sah menurut hukum. <br>
2. siKapiten tidak memungut biaya pendaftaran kepada Pengguna. <br>
3. Pengguna yang telah mendaftar berhak bertindak sebagai:
- Klien <br>
- Mitra Pendana, dengan memanfaatkan layanan kerja sama. <br>
4. siKapiten tanpa pemberitahuan terlebih dahulu kepada Pengguna, memiliki kewenangan untuk melakukan tindakan yang perlu atas setiap dugaan pelanggaran atau pelanggaran Syarat & ketentuan dan/atau hukum yang berlaku, yakni tindakan berupa memindahkan memeriksa aset, penghapusan proposal, moderasi konten proposal, pembatalan kontrak, suspensi akun, dan/atau penghapusan akun Pengguna. <br>
5. siKapiten memiliki kewenangan untuk menutup akun Pengguna baik sementara maupun permanen apabila didapati adanya tindakan kecurangan dalam bertransaksi untuk kepentingan pribadi Pengguna. <br>
6. Pengguna dilarang untuk menciptakan dan/atau menggunakan alat dan fitur otomatis yang bertujuan untuk memanipulasi data pada sistem siKapiten, termasuk namun tidak terbatas pada (i) manipulasi data (ii) melakukan perambanan (crawling). <br>
7. Pengguna tidak memiliki hak untuk mengubah user id, nama lengkap akun dan nomor identifikasi kependudukan. Pengecualian untuk kondisi tertentu berupa kesalahan input data yang tidak disengaja dan dapat dibuktikan kebenarannya, atau keperluan update fitur siKapiten yang menyebabkan perubahan, maka pengguna dapat melakukan permintaan perubahan nama lengkap atau nomor identifikasi kependudukan dengan mengkontak manajemen siKapiten, yang hanya bisa dilakukan satu kali saja. <br>
8. Pengguna bertanggung jawab secara pribadi untuk menjaga kerahasiaan akun dan password untuk semua aktivitas yang terjadi dalam akun Pengguna. <br>
9. siKapiten tidak akan meminta password akun Pengguna untuk alasan apapun, oleh karena itu SiKapiten menghimbau Pengguna agar tidak memberikan password akun Anda kepada pihak manapun, baik kepada pihak ketiga maupun kepada pihak yang mengatasnamakan siKapiten. <br>
10. Pengguna setuju untuk memastikan bahwa Pengguna keluar dari akun di akhir setiap sesi dan memberitahu siKapiten jika ada penggunaan tanpa izin atas sandi atau akun Pengguna.<br>
11. Pengguna dengan ini menyatakan bahwa siKapiten tidak bertanggung jawab atas kerugian atau kerusakan yang timbul dari penyalahgunaan akun Pengguna.<br>
</p>
<br>
<h5>C. Data Profil dan Dokumen Unggahan</h5>
<p>
1. Klien diwajibkan mengisi profil dengan informasi yang sebenar-benarnya sebelum pengajuan pembiayaan diproses. Kesalahan informasi, baik disengaja maupun tidak disengaja, dapat berujung pada penarikan Pengajuan Pembiayaan dan pembatalan kontrak. <br>
2. Pengguna juga wajib menyediakan dokumen-dokumen yang relevan dalam bentuk softcopy dan mengunggahnya melalui fitur ‘unggah berkas’ di Situs siKapiten.<br>
3. Dokumen yang palsu, salah, dan bersifat menipu akan ditindak tegas oleh siKapiten. Sekiranya diketahui terdapat tindakan kriminal yang berkaitan dengan dokumen tersebut, siKapiten berhak melaporkan ke pihak yang berwajib.<br>
4. siKapiten tidak akan pernah meminta Pengguna memberikan PIN rekening bank. Apabila ada pihak yang mengatasnamakan siKapiten dan meminta PIN rekening hendaknya Pengguna melaporkan ke siKapiten.<br>
5. siKapiten tidak menerima dan tidak bertanggungjawab atas data profil dan dokumen yang diserahkan oleh Pengguna bukan melalui fitur ‘unggah berkas’ di Situs siKapiten. <br>
</p>
<br>
<h5>D. Pembiayaan</h5>
<p>
1. Klien dan Mitra Pendana menyetujui bahwa Pengajuan Pembiayaan merupakan janji tertulis  Klien yang tidak bersifat mengikat secara hukum sehingga apabila klien membatalkan Pengajuan Pembiayaan atau menolak melanjutkan proses pembiayaan melebihi tahap pengajuan, maka Klien tidak mempunyai hak dan kewajiban apapun di mata hukum. <br>
2. Klien dan Mitra Pendana memahami sepenuhnya dan menyetujui bahwa segala transaksi yang dilakukan antara Klien dan Mitra Pendana selain melalui Rekening Resmi siKapiten dan/atau tanpa sepengetahuan siKapiten (melalui fasilitas/jaringan pribadi, pengiriman pesan, pengaturan transaksi khusus diluar Situs siKapiten atau upaya lainnya) adalah merupakan tanggung jawab pribadi dari masing-masing pihak. <br>
3. siKapiten berhak membatalkan Pengajuan Pembiayaan yang dinilai melanggar syarat dan ketentuan, hukum, dan juga nilai-nilai serta rambu syariah. <br>
4. Akad Pembiayaan yang dijalankan di siKapiten adalah murabahah dan musyarakah. Peraturan mengenai dua akad ini tertulis di sini. <br>
5. Klien dan Mitra Pendana menyetujui bahwa tanggung jawab siKapiten dalam setiap pembiayaan hanya sebatas pada apa yang tertulis dalam kontrak pembiayaan dan bahwa siKapiten merupakan wakil dari pihak-pihak yang terlibat dan mempunyai kewajiban dan hak sebatas pada apa yang tertulis di tiap kontrak. Peran dan tanggung jawab siKapiten tergantung dengan Akad yang dipilih: <br>
- Untuk Akad murabahah, siKapiten masuk dalam kontrak wakalah dengan Mitra Pendana yang tertarik dengan Pengajuan Pembiayaan tertentu dan berperan sebagai wakil dari Mitra Pendana untuk membeli Aset dari penjual pertama/pasar dan menjualnya kepada Klien yang membuat Pengajuan Pembiayaan tersebut.<br>
- Untuk Akad musyarakah,  siKapiten masuk dalam kontrak wakalah dengan syirkah  yang terdiri dari Mitra Pendana dan Klien untuk membeli Aset dari penjual pertama/pasar dan mengelola transaksi selanjutnya yang muncul atas Aset syirkah tersebut. Transaksi yang dapat muncul selanjutnya adalah transaksi penyewaan aset, pembelian porsi kepemilikan, dan penjualan Aset secara penuh.<br>
6. siKapiten membantu proses Pengajuan Pembiayaan dengan melakukan survey Aset dan wawancara Klien dan menyampaikan hasilnya dalam bentuk informasi mentah kepada Mitra Pendana melalui Situs siKapiten. Namun penilaian siKapiten merupakan informasi yang tidak dapat diminta pertanggungjawaban secara hukum. <br>
7. Klien menyetujui bahwa siKapiten tidak menjanjikan bahwa Pengajuan Pembiayaan Klien pasti akan diterima dan dibiayai oleh Mitra Pendana.<br>
8. Klien memahami bahwa tidak ada biaya sama sekali yang dikenakan atas Klien untuk membuat Pengajuan Pembiayaan dan siKapiten tidak menerima pembayaran apapun dari Klien kecuali komisi yang disebutkan di bagian F.<br>
9. Mitra Pendana boleh melakukan survey Aset dan wawancara Klien independen atau ikut serta dengan survey dan wawancara yang dilakukan oleh siKapiten selama informasi dan penilaian yang didapatkannya juga diberikan kepada pihak Mitra Pendana lain yang mungkin tertarik melalui situs siKapiten.<br>
10. Mitra Pendana menyetujui bahwa keputusan untuk menerima Mitra Pendana bertanggung jawab atas keputusannya atas setiap Pengajuan Pembiayaan yang diterimanya melalui Situs siKapiten dan tidak akan menuntut siKapiten atas kerugian yang mungkin timbul.<br>
</p>
<br>
<h5>E. Komisi dan Kompensasi Untuk siKapiten</h5>
<p>
1. Untuk pembiayaan murabahah, siKapiten memberlakukan sistem komisi 3% dari nilai penjualan Aset  yang dilakukan melalui Situs siKapiten. <br>
2. Untuk pembiayaan musyarakah, siKapiten memberlakukan sistem komisi 5% dari nilai transaksi untuk setiap pembiayaan musyarakah yang dilakukan melalui Situs siKapiten. Beban biaya komisi ini dibagi kepada semua rekan syirkah, Klien dan Mitra Pendana, sesuai dengan proporsi kepemilikan Aset dalam syirkah tersebut.<br>
3. Untuk Mitra Pendana yang merupakan Lembaga Keuangan dan Perusahaan Swasta, terdapat biaya administrasi bulanan sebesar 500 (lima ratus) ribu rupiah.<br>
4. Apabila dikemudian hari terdapat perubahan besaran komisi dan biaya administrasi, maka akan dilakukan sosialisasi terlebih dahulu jangka waktu selambat-lambatnya 1 (satu) bulan sebelum perubahan besaran tersebut dinyatakan berlaku oleh siKapiten.<br>
</p>
<br>
<h5>F. Penolakan Jaminan dan Batasan Tanggung Jawab</h5>
<p>
siKapiten berusaha sekuat mungkin untuk memberikan Layanan yang aman, nyaman, dan berfungsi dengan baik, tapi kami tidak dapat menjamin operasi terus-menerus atau akses ke Layanan kami dapat selalu sempurna. 
Pengguna setuju bahwa Anda memanfaatkan Layanan siKapiten atas risiko Pengguna sendiri, dan Layanan siKapiten diberikan kepada Anda pada "SEBAGAIMANA ADANYA" dan "SEBAGAIMANA TERSEDIA".<br>
Sejauh diizinkan oleh hukum yang berlaku, siKapiten (termasuk Persekutuan, direktur, dan karyawan) adalah tidak bertanggung jawab, dan Anda setuju untuk tidak menuntut siKapiten bertanggung jawab, atas segala kerusakan atau kerugian (termasuk namun tidak terbatas pada hilangnya uang, reputasi, keuntungan, atau kerugian tak berwujud lainnya) yang diakibatkan secara langsung atau tidak langsung dari :<br>
- Penggunaan atau ketidakmampuan Pengguna dalam menggunakan Layanan SiKapiten.<br>
- Keterlambatan atau gangguan dalam Layanan SiKapiten.<br>
- Kelalaian dan kerugian yang ditimbulkan oleh masing-masing Pengguna.<br>
- Pelanggaran Hak atas Kekayaan Intelektual.<br>
- Perselisihan antar Pengguna.<br>
- Pencemaran nama baik pihak lain.<br>
- Kerusakan Aset<br>
- Setiap penyalahgunaan Aset yang sudah dibeli pihak Pengguna.<br>
- Kerugian yang timbul dari keputusan Pembiayaan, seperti angsuran macet, turunnya nilai Aset, Aset tidak disewa, Aset tidak laku dijual, kepemilikan Aset tidak dibeli penuh, investasi tidak menghasilkan imbal yang diinginkan, Aset disita, dan kerugian lainnya.<br>
- Kerugian akibat pembayaran tidak resmi kepada pihak lain selain ke Rekening Resmi siKapiten, yang dengan cara apa pun mengatas-namakan siKapiten ataupun kelalaian penulisan rekening dan/atau informasi lainnya dan/atau kelalaian pihak bank.<br>
- Aktivitas perbaikan Aset musyarakah  yang telah disetujui oleh semua pihak dalam syirkah. <br>
- Virus atau perangkat lunak berbahaya lainnya yang diperoleh dengan mengakses , atau menghubungkan ke layanan siKapiten.<br>
- Gangguan, bug, kesalahan atau ketidakakuratan apapun dalam Layanan siKapiten.<br>
- Kerusakan pada perangkat keras Anda dari penggunaan setiap Layanan siKapiten.<br>
- Tindak penegakan yang diambil sehubungan dengan akun Pengguna.<br>
- Adanya tindakan peretasan yang dilakukan oleh pihak ketiga kepada akun pengguna.<br>
</p>
<br>
<h5>G. Pelepasan</h5>
<p>Jika Anda memiliki perselisihan dengan satu atau lebih pengguna, Anda melepaskan siKapiten (termasuk badan usaha, Direktur, dan karyawan) dari klaim dan tuntutan atas kerusakan dan kerugian (aktual dan tersirat) dari setiap jenis dan sifatnya , yang dikenal dan tidak dikenal, yang timbul dari atau dengan cara apapun berhubungan dengan sengketa tersebut. Dengan demikian maka Pengguna dengan sengaja melepaskan segala perlindungan hukum (yang terdapat dalam undang-undang atau peraturan hukum yang lain) yang akan membatasi cakupan ketentuan pelepasan ini.</p>
<br>
<h5>H. Ganti Rugi</h5>
<p>Pengguna akan melepaskan siKapiten dari tuntutan ganti rugi dan menjaga siKapiten (termasuk badan usaha, direktur, dan karyawan) dari setiap klaim atau tuntutan, termasuk biaya hukum yang wajar, yang dilakukan oleh pihak ketiga yang timbul dalam hal Anda melanggar Perjanjian ini, penggunaan Layanan siKapiten yang tidak semestinya dan/ atau pelanggaran Anda terhadap hukum atau hak-hak pihak ketiga.</p>
<br>
<h5>I. Pilihan Hukum</h5>
<p>
Perjanjian ini akan diatur oleh dan ditafsirkan sesuai dengan hukum Republik Indonesia, tanpa memperhatikan pertentangan aturan hukum. Anda setuju bahwa tindakan hukum apapun atau sengketa yang mungkin timbul dari, berhubungan dengan, atau berada dalam cara apapun berhubungan dengan situs dan/atau Perjanjian ini akan diselesaikan secara eksklusif dalam yurisdiksi pengadilan Republik Indonesia.
</p>
<br>
<h5>J. Pembaharuan</h5>
<p>
Syarat & ketentuan mungkin di ubah dan/atau diperbaharui dari waktu ke waktu tanpa pemberitahuan sebelumnya. siKapiten menyarankan agar anda membaca secara seksama dan memeriksa halaman Syarat & ketentuan ini dari waktu ke waktu untuk mengetahui perubahan apapun. Dengan tetap mengakses dan menggunakan layanan siKapiten, maka pengguna dianggap menyetujui perubahan-perubahan dalam Syarat & ketentuan.
</p>
<br>
<p class="coral">Terakhir diperbaharu: 6 Oktober 2015</p>