<%= render 'layouts/messages' %>
<div class="col-md-8 col-md-offset-2 intro-section">
	<h3 class="sub-heading">
		Platform Pembiayaan Syariah Untuk Rumah
	</h3><hr>
	<h1 class="intro">
	<% if ab_test(:big_signup_link) %>
		Dengan gotong royong, tanpa bunga dan penyitaan, atau tanpa hutang
	<% else %>
		Wujudkan impianmu memiliki rumah dan bantu yang lain untuk mewujudkan impiannya
	<% end %>
	</h1>

</div>
<div class="col-md-10 col-md-offset-1" id="subcribe-prompt">
		<% if user_signed_in? %>
			<%= link_to "Keluar", destroy_user_session_path, data:{method: :delete}, class: "btn btn-lg btn-outlined btn-white" %>
		<% else %>
			<%= link_to "Masuk", new_user_session_url(subdomain: ''), class: "btn btn-lg btn-outlined btn-white" %>
		<% end %>
		<%= link_to "Daftar", new_user_registration_url(subdomain: ''), class: "btn btn-lg btn-primary" %>
</div>

