<section class="intro padded text-center">
  <div class="container">
    <div class="prose">
      <h2>Dibalik Kapiten</h2>
<!--       <h1 class="highlight">Bagaimana rincian skema yang disusun oleh Kapiten?</h1> -->
      <p class="" style="opacity: 1;">Kami sekumpulan anak muda yang prihatin dengan kesenjangan kemakmuran yang ada di Indonesia saat ini. Industri keuangan, terutama perbankan, telah gagal menjalankan fungsi utamanya, yaitu mengalirkan modal dari mereka yang mempunyai kelebihan, kepada mereka yang membutuhkan, dengan menerapkan syarat-syarat dan proses yang memberatkan bagi mayoritas. Bahkan jka mereka memberikan modal, itupun dilakukan melalui akad yang bersifat menindas.</p>
    </div>
  </div>
</section>
<section class="about-section" id="about-us">
  <div class="about-cont about-to-left">
    <div class="container">
        <div class="row">
          <!-- ABOUT TEXT SECTION -->
          <div class="col-md-6">
            <!-- ABOUT TITLE -->
            <h3 class="" style="opacity: 1;">Dibalik Kapiten</h3>
            <!-- ABOUT DESCRIPTION -->
            <p class="" style="opacity: 1;">Kami sekumpulan anak muda yang prihatin dengan kesenjangan kemakmuran yang ada di Indonesia saat ini. Industri keuangan, terutama perbankan, telah gagal menjalankan fungsi utamanya, yaitu mengalirkan modal dari mereka yang mempunyai kelebihan, kepada mereka yang membutuhkan, dengan menerapkan syarat-syarat dan proses yang memberatkan bagi mayoritas. Bahkan jka mereka memberikan modal, itupun dilakukan melalui akad yang bersifat menindas.</p>
          </div>

          <!-- ABOUT IMAGE -->
          <div class="col-md-6 about-img">
            <img src="">
          </div>
        </div>
    </div>
  </div>
</section>
<section class="section home-tour works" id="screens works">
<div class="grid">
    <div class="tour-observe">
        <div class="section-heading text-center">
            <h1 class="section-headline">Tentang Pendiri</h1>
        </div>
        <div class="row">
            <!-- Team Members Row -->
            <div class="col-lg-4 col-sm-12 text-center">
            <img class="img-circle img-responsive img-center" src="https://res.cloudinary.com/instilla/image/upload/s--BYxNYO51--/c_scale,h_200,w_150/v1450852964/asset/photos/imageedit_31_5849906895.jpg" alt="">
            <h3 style="Margin-bottom: 5px;">Galih Muhammad</h3>
            <h3 style="Margin-top: 5px;"><small>Production</small></h3>
            <p>Seorang programmer otodidak, Galih mengembangkan  produk pendanaan Kapiten serta bertanggung jawab atas sisi teknis dari Kapiten. </p>
            <div class="social">
                <a href="https://www.facebook.com/galih.muhammad.501" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>
                <a href="https://plus.google.com/u/0/+GalihMuhammadKapiten/posts" class="[ social-icon google-plus ] animate"><span class="fa fa-google-plus"></span></a>
                <a href="https://id.linkedin.com/in/galihmuhammad" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>
            </div>
            </div>
            <div class="col-lg-4 col-sm-12 text-center">
            <img class="img-circle img-responsive img-center" src="http://res.cloudinary.com/instilla/image/upload/s--yhYs8lIa--/c_scale,h_200,w_150/v1450841630/asset/photos/3.5x4.jpg.jpg" alt="">
            <h3 style="Margin-bottom: 5px;">Diandra Setiabudi</h3>
            <h3 style="Margin-top: 5px;"><small>Accounting</small></h3>
            <p>Lulusan Administrasi Fiskal FISIP UI, fokus Diandra adalah mengurus accounting dan kewajiban fiskal Kapiten.</p>
            <div class="social">
                <a href="https://plus.google.com/116429395704849769131/posts" class="[ social-icon google-plus ] animate"><span class="fa fa-google-plus"></span></a>
                <a href="https://id.linkedin.com/in/diandra-setiabudi-15809838" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>
            </div>            
            </div>
            <div class="col-lg-4 col-sm-12 text-center">
            <img class="img-circle img-responsive img-center" src="https://res.cloudinary.com/instilla/image/upload/s--Y54g4xAB--/c_scale,w_150/v1450853602/asset/photos/imageedit_37_5895444191.jpg" alt="">
            <h3 style="Margin-bottom: 5px;">Pamungkas Hendra</h3>
            <h3 style="Margin-top: 5px;"><small>Marketing</small></h3>
            <p>Saat ini sedang menunggu sidang untuk lulus dari FEUI, Hendra bertanggung jawab untuk pemasaran.</p>
            <div class="social">
                <a href="https://plus.google.com/103729721492470743604/posts" class="[ social-icon google-plus ] animate"><span class="fa fa-google-plus"></span></a>
                <a href="https://id.linkedin.com/in/pamungkas-hendra-prakosa-785b2361/en" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>
            </div>            
            </div>
        </div>
    </div>
</div>
</section>