<div style="margin-top: -50px; margin-bottom: 50px;">
    <h1 class="page-header">Tentang Kami
        <small>Hai!</small>
    </h1>
<!-- Introduction Row -->
<%= render 'pages/mantra' %>
<div class="col-lg-12">
    <img class="img-responsive img-center" src="https://res.cloudinary.com/instilla/image/upload/s--rUc7nSSZ--/c_scale,h_400/v1450860291/asset/photos/IMG_0339.jpg">
    <p>Kami sekumpulan anak muda yang prihatin dengan kesenjangan kemakmuran yang ada di Indonesia saat ini. Industri keuangan, terutama perbankan, telah gagal menjalankan fungsi utamanya, yaitu mengalirkan modal dari mereka yang mempunyai kelebihan, kepada mereka yang membutuhkan, dengan menerapkan syarat-syarat dan proses yang memberatkan bagi mayoritas. Bahkan jka mereka memberikan modal, itupun dilakukan melalui akad yang bersifat menindas.</p>
    <p>Itulah mengapa kami mendirikan Kapiten. Kami ingin membantu mengalirkan pendanaan kepada mereka yang membutuhkan. Fokus kami saat ini adalah <strong>pendanaan rumah</strong> karena rumah adalah basis dari kehidupan berkeluarga. Dengan memiliki rumah, sebuah keluarga akan memiliki optimisme untuk membangun masa depan yang lebih baik. Sementara alasan kami menerapkan sistem pendanaan syariah adalah karena metode transaksi syariah, apabila 100% syar'i, menjamin keadilan untuk semua pihak yang terlibat. Secara singkat, bentuk-bentuk penindasan seperti denda dan penyitaan dihilangkan.</p>
</div>

<!-- Team Members Row -->
<div class="col-lg-12">
    <h2 class="page-header">Pendiri</h2>
</div>
<div class="col-lg-4 col-sm-12 text-center">
    <img class="img-circle img-responsive img-center" src="https://res.cloudinary.com/instilla/image/upload/s--BYxNYO51--/c_scale,h_200,w_150/v1450852964/asset/photos/imageedit_31_5849906895.jpg" alt="">
    <h3 style="Margin-bottom: 5px;">Galih Muhammad</h3>
    <h3 style="Margin-top: 5px;"><small>The Innovator</small></h3>
    <p>Seorang programmer otodidak, Galih mengembangkan  produk pendanaan Kapiten serta bertanggung jawab atas sisi teknis dari Kapiten. </p>
    <div class="social">
        <a href="https://www.facebook.com/galih.muhammad.501" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>
        <a href="https://plus.google.com/u/0/+GalihMuhammadKapiten/posts" class="[ social-icon google-plus ] animate"><span class="fa fa-google-plus"></span></a>
        <a href="https://id.linkedin.com/in/galihmuhammad" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>
    </div>
</div>
<div class="col-lg-4 col-sm-12 text-center">
    <img class="img-circle img-responsive img-center" src="http://res.cloudinary.com/instilla/image/upload/s--yhYs8lIa--/c_scale,h_200,w_150/v1450841630/asset/photos/3.5x4.jpg.jpg" alt="">
    <h3 style="Margin-bottom: 5px;">Diandra Setiabudi</h3>
    <h3 style="Margin-top: 5px;"><small>The Manager</small></h3>
    <p>Lulusan Administrasi Fiskal FISIP UI, peran Diandra secara singkat adalah mengurus semua pekerjaan yang tidak diurus oleh Galih atau Hendra. </p>
    <div class="social">
        <a href="https://plus.google.com/116429395704849769131/posts" class="[ social-icon google-plus ] animate"><span class="fa fa-google-plus"></span></a>
        <a href="https://id.linkedin.com/in/diandra-setiabudi-15809838" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>
    </div>            
</div>
<div class="col-lg-4 col-sm-12 text-center">
    <img class="img-circle img-responsive img-center" src="https://res.cloudinary.com/instilla/image/upload/s--Y54g4xAB--/c_scale,w_150/v1450853602/asset/photos/imageedit_37_5895444191.jpg" alt="">
    <h3 style="Margin-bottom: 5px;">Pamungkas Hendra</h3>
    <h3 style="Margin-top: 5px;"><small>The Entrepreneur</small></h3>
    <p>Saat ini sedang menunggu sidang untuk lulus dari FEUI, Hendra bertanggung jawab untuk memasarkan Kapiten. </p>
    <div class="social">
        <a href="https://plus.google.com/103729721492470743604/posts" class="[ social-icon google-plus ] animate"><span class="fa fa-google-plus"></span></a>
        <a href="https://id.linkedin.com/in/pamungkas-hendra-prakosa-785b2361/en" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>
    </div>            
</div>

</div>