<section class="hero-container">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="hero-info">
          <h1 class="hero-title"><span>Untuk Pembeli Rumah</span></h1>
        </div>
      </div>
      <div class="col-md-4">
        <div class="hero-aside">
          <%= link_to 'Kontak Kami', contact_path, class: "btn btn-block btn-primary", remote: true  %> 
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section" id="client-benefits">
<div class="container">
  <div class="row">
    <div class="col-md-12 benefits">
      <div class="col-md-4 hidden-xs mt">
        <div class="media-box white mt">
          <h1 class="text-center">Manfaat</h1>
        </div>
      </div>
      <div class="col-md-8 col-xs-12 white">
        <h3>Tinggal di rumah impian dengan tenang dan tentram</h3>
        <div class="row benefits">
          <ul>
            <li>Murni syariah</li>
            <li>Proses lebih sederhana dan mudah dari bank</li>
            <li>Tanpa bunga, harga tidak berubah hingga lunas</li>
            <li>Tidak ada denda, penalti, dan penyitaan</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section style="background-color: white;">
<div class="container">
  <div class="row centered">
      <div class="page-header">
          <h1 id="timeline">Proses</h1>
      </div>
      <ul class="timeline">
          <li>
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Registrasi</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
              </div>
              <div class="timeline-body">
                <p>Lakukan registrasi di Kapiten dengan mengklik tombol "Daftar". Apabila sudah mendaftar, silahkan klik tombol "Masuk". Setelah registrasi, isi formulir data diri.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Isi Berkas</h4>
              </div>
              <div class="timeline-body">
                <p>Unggah dokumen-dokumen penting yang kamu miliki seperti KTP, Kartu Keluarga, dan sebagainya. Semakin banyak dokumen yang diunggah, semakin besar kredibilitasmu untuk mendapatkan pembiayaan dari investor kami. </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Pengajuan Pembiayaan</h4>
              </div>
              <div class="timeline-body">
                <p>Kamu mengisi formulir pengajuan secara online melalui Kapiten, yang menyebutkan tentang rumah mana yang ingin kamu miliki. Informasi yang dibutuhkan adalah lokasi, harga, dan sebagainya.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Survei</h4>
              </div>
              <div class="timeline-body">
                <p>Kapiten akan melakukan survei terhadap rumah yang disebutkan dalam formulir pengajuan dan juga terhadap kamu sebagai klien Kapiten.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Perundingan dan Pertimbangan</h4>
              </div>
              <div class="timeline-body">
                <p>Pengajuanmu akan dipublikasikan kepada para investor yang tergabung dengan Kapiten dan akan dipertimbangkan oleh mereka. Kapiten akan membantu kamu berunding dengan para investor yang tertarik untuk membiayai pengajuanmu.</p>
                <hr>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Kontrak Pembiayaan</h4>
              </div>
              <div class="timeline-body">
                <p>Setelah semua selesai, kontrak pembiayaan dapat dijalankan dan kamu dapat menempati rumah. Pemenuhan kewajiban akan dibantu oleh Kapiten.</p>
              </div>
            </div>
          </li>
      </ul>
  </div>
</div>
</section>