<section class="hero-container">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="hero-info">
          <h1 class="hero-title"><span>Untuk Developer</span></h1>
        </div>
      </div>
      <div class="col-md-4">
        <div class="hero-aside">
          <%= link_to 'Kontak Kami', contact_path, class: "btn btn-block btn-primary", remote: true  %> 
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section" id="developer-benefits">
<div class="container">
  <div class="row">
    <div class="col-md-12 benefits">
      <div class="col-md-4 hidden-xs mt">
        <div class="media-box white mt">
          <h1 class="text-center">Manfaat</h1>
          <%= inline_svg "0267-plus.svg", class: "media-image" %>
        </div>
      </div>
      <div class="col-md-8 col-xs-12 white">
        <h3>Tingkatkan daya jual dan kecepatan penjualan</h3>
        <div class="row benefits">
          <ul>
            <li>Kredit rumah secara syariah, murabahah atau musyarakah</li>
            <li>Tidak ada fee atau margin yang diminta oleh Kapiten</li>
            <li>Kerja sama operasional dan pemasaran</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section style="background-color: white;">
<div class="container">
  <div class="row">
    <div class="page-header centered">
      <h1 id="timeline">Rincian</h1>
    </div>
    <div class="row mt-40">
      <div class="col-md-8 col-md-offset-2">
        <div class="icon-block icon-block-1">
            <div class="icon-block-item">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>
            <div class="icon-block-body">
                <h4 class="">Target Segmen</h4>
                <p>Kapiten berniat bekerja sama dengan developer properti yang menjual rumah yang telah selesai dibangun, dengan kisaran harga di bawah 500 juta rupiah.</p>
            </div>
        </div>
        <div class="icon-block icon-block-1">
            <div class="icon-block-item">
              <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
            </div>
            <div class="icon-block-body">
                <h4 class="">Bentuk Kerja Sama</h4>
                <p>Setiap pembeli rumah potensial yang berniat membeli rumah yang kamu jual dan membutuhkan pembiayaan, didorong dan dibantu untuk menggunakan platform Kapiten. Kapiten tidak meminta fee dari kamu sebagai developer.</p>
            </div>
        </div>
        <div class="icon-block icon-block-1">
            <div class="icon-block-item">
              <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
            </div>
            <div class="icon-block-body">
                <h4 class="">Proses</h4>
                <p>Untuk memulai kerja sama atau sekedar ingin tahu lebih lanjut, jangan sungkan untuk mengkontak Kapiten dengan mengklik tombol "Kontak Kami" di bagian atas halaman, atau kirim email ke management@kapiten.xyz.</p>
            </div>
        </div>        
      </div>


  </div>
</div>
</section>