<section class="hero-container">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="hero-info">
          <h1 class="hero-title"><span>Untuk Pendana</span></h1>
        </div>
      </div>
      <div class="col-md-8">
        <div class="hero-aside">
          <%= render 'elements/subscribe_form' %>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section" id="investor-benefits">
<div class="container">
  <div class="row">
    <div class="col-md-12 benefits">
      <div class="col-md-4 hidden-xs mt">
        <div class="media-box white mt">
          <h1 class="text-center">Manfaat</h1>
        </div>
      </div>
      <div class="col-md-8 col-xs-12 white">
        <h3>Investasi yang aman, riil, dan membantu sesama</h3>
        <div class="row benefits">
          <ul>
            <li>Murni syariah</li>
            <li>Dilindungi oleh aset riil yang berupa rumah</li>
            <li>Imbal hasil lebih tinggi dari deposito</li>
            <li>Proses yang mudah dan nyaman</li>
            <li>Terjangkau, minimum investasi sebesar 1/1000 dari nilai rumah</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section style="background-color: white;">
<div class="container">
  <div class="row centered">
      <div class="page-header">
          <h1 id="timeline">Proses</h1>
      </div>
      <ul class="timeline">
          <li>
            <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Registrasi</h4>
                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
              </div>
              <div class="timeline-body">
                <p>Lakukan registrasi di Kapiten dengan mengklik tombol "Daftar". Apabila sudah mendaftar, silahkan klik tombol "Masuk". Setelah registrasi, isi formulir data diri.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Pilih Investasi</h4>
              </div>
              <div class="timeline-body">
                <p>Kamu pilih pengajuan pembiayaan mana yang akan kamu dukung dan nyatakan dukungan dengan menyebutkan berapa besar dana yang kamu berniat investasikan untuk pengajuan tersebut. Pada tahap ini, Kapiten tidak meminta kamu untuk menyerahkan dana tersebut, melainkan hanya berupa janji yang tidak ada konsekuensinya.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Finalisasi</h4>
              </div>
              <div class="timeline-body">
                <p>Apabila komitmen dana yang terkumpul sudah mencapai target, maka Kapiten akan meminta konfirmasi dari kamu apakah akan melanjutkan komitmenmu tersebut. Apabila iya, maka Kapiten akan menyusun dan memberikan kontrak bagi hasil (mudharabah atau musyarakah) untuk kamu teken.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Kontrak Pembiayaan</h4>
              </div>
              <div class="timeline-body">
                <p>Kapiten akan menjalankan kontrak pembiayaan dengan konsumen pembeli rumah sesuai dengan yang disebutkan dalam kontrak yang kamu teken.</p>
                <hr>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Bagi Hasil</h4>
              </div>
              <div class="timeline-body">
                <p>Kamu menerima bagi hasil atas investasimu sesuai dengan yang tertera dalam kontrak. Kamu juga dapat memantau status serta keberlanjutan dari kontrak pembiayaan melalui platform Kapiten.</p>
              </div>
            </div>
          </li>
      </ul>
  </div>
</div>
</section>