<% meta title: "Solusi investasi properti yang syariah dan nyaman", description: '',
     keywords: '' %>
<section class="about-section" id="investment-product">
  <div class="about-cont about-to-left">
    <div class="container">
        <div class="row">
          <!-- ABOUT TEXT SECTION -->
          <div class="col-md-4 overlay">
            <!-- ABOUT TITLE -->
            <h3 class="" style="opacity: 1;">Cara berinvestasi properti yang nyaman, berdampak sosial, dan Halal.</h3>
            <!-- ABOUT DESCRIPTION -->
            <p class="" style="opacity: 1;">Kami di Kapiten yakin bahwa investasi yang menguntungkan juga dapat bermanfaat besar secara sosial, dalam hal ini, membantu sebuah keluarga memiliki rumah untuk pertama kalinya secara halal.</p>
          </div>

          <!-- ABOUT IMAGE -->
          <div class="col-md-8 about-img">
            <img src="">
          </div>
        </div>
    </div>
  </div>
</section>
<section class="section home-tour works" id="screens works">
  <div class="grid">    
    <div class="tour-observe">
      <div class="section-heading centered">
        <h2 class="section-title">Produk</h2>
        <h1 class="section-headline">Kami merancang skema investasi properti berdampak sosial</h1>
      </div>
      <div class="row">
        <div class="col-md-6">
          <ul class="article-list-basic">
            <li>
              <a href="#">
                <img src="http://res.cloudinary.com/instilla/image/upload/v1449582606/asset/father-656734_640.jpg" alt="Industrial Mech" />
              </a>
              <div>
                <h2><a href="#">Amanah</a></h2>
                <p>Skema investasi untuk mendanai pembelian rumah tanpa hutang  sebuah keluarga dengan akad Musyarakah Mutanaqishah.</p>
              </div>
            </li>            
          </ul>
        </div>
        <div class="col-md-6">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              
              <!-- panel 1 -->
              <div class="panel panel-default">
                <!--wrap panel heading in span to trigger image change as well as collapse -->
                <span class="side-tab" data-target="#tab1" data-toggle="tab" role="tab" aria-expanded="false">
                  <div class="panel-heading" role="tab" id="headingOne"data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h4 class="panel-title">Manfaat</h4>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                  </div>
                </span>
                
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    <!-- Tab content goes here -->
                    Siapa bilang investasi tidak bisa menguntungkan sekaligus berdampak sosial? Kami di Kapiten ingin membuktikan hal tersebut mungkin. Dengan skema produk ini, ekspektasi imbal hasil yang didapat berkisar antara <strong>6-15%</strong> per tahunnya, yang berasal dari pembayaran sewa rumah oleh si pembeli dan penjualan saham kepemilikanmu. 
                  </div>
                </div>
              </div> 
              <!-- / panel 1 -->
              
              <!-- panel 2 -->
              <div class="panel panel-default">
                  <!--wrap panel heading in span to trigger image change as well as collapse -->
                  <span class="side-tab" data-target="#tab2" data-toggle="tab" role="tab" aria-expanded="false">
                    <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <h4 class="panel-title collapsed">Skema</h4>
                      <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                    </div>
                  </span>

                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body">
                        Berikut merupakan skema dari produk investasi ini:
                      </div>
                        <ul class="list-group">
                          <li class="list-group-item">Menggunakan akad Wakalah (perwakilan) antara kamu sebagai pendana dengan Kapiten</li>
                          <li class="list-group-item">Pendanaan diestimasi berlangsung hingga 10 tahun, namun pendana mempunyai fleksibilitas untuk keluar selama sesuai prosedur</li>
                          <li class="list-group-item">Minimal nilai investasi adalah 0,5% dari harga rumah.</li>
                          <li class="list-group-item">Tidak ada jaminan atas imbal hasil yang didapatkan, tetapi investasi dijamin oleh rumah yang didanai</li>
                          <li class="list-group-item">Dapat menjual saham kepemilikan kepada pihak luar selama memenuhi proses dari Kapiten</li>
                        </ul>
                  </div>
              </div>
              <!-- / panel 2 -->
              
              <!--  panel 3 -->
              <div class="panel panel-default">
                <!--wrap panel heading in span to trigger image change as well as collapse -->
                <span class="side-tab" data-target="#tab3" data-toggle="tab" role="tab" aria-expanded="false">
                    <div class="panel-heading" role="tab" id="headingThree"  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <h4 class="panel-title">Legalitas</h4>
                      <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
                    </div>
                </span>

                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    Berikut berbagai unsur legalitas dari skema ini:
                  </div>
                  <ul class="list-group">
                    <li class="list-group-item">Kontrak Musyarakah Mutanaqishah dan Ijarah dapat dilihat oleh pendana terkait</li>
                    <li class="list-group-item">Dokumen porsi kepemilikan sebagai addendum dari kontrak Musyarakah</li>
                    <li class="list-group-item">Mendapatkan sertifikat tanda kepemilikan saham dan kontrak Wakalah</li>
                    <li class="list-group-item">Perpanjangan kontrak wakalah setiap 2 tahun sekali selama 10 tahun.</li>
                    <li class="list-group-item">Sertifikat rumah tetap atas nama penjual, sedangkan PPJB & AJB atas nama pembeli. Dokumen-dokumen tersebut disimpan oleh Kapiten sebagai jaminan dan dapat dilihat pula</li>
                  </ul>                  
                </div>
              </div>
          </div> <!-- / panel-group -->
           
          <div class="centered">
    
          </div>              
        </div>
      </div>
    </div>
  </div>
</section>
<div class="section section-dk container-fluid home-tour">
  <div class="grid">
    <div class="section-heading text-center">
      <h2 class="section-title">Proses</h2>
      <h1 class="section-headline inverse">Alur Program Investasi Rumah Kapiten</h1>
    </div>
    <div class="timeline">
      <!--  <div class="date-title">
        <span>March 2014</span>
      </div> -->
      <div class="row">
        <div class="col-sm-6 news-item">
          <div class="news-content">
            <div class="date">
              <p>1</p>
              <small></small>
            </div>
            <h2 class="news-title">Registrasi</h2>
            <p>Registrasi dengan akun facebook, linkedin, atau buat akun Kapiten. Singkat, kurang dari 1 menit. </p>
            <!-- <a class="read-more" href="#">Read More</a> -->
          </div>
        </div>
        
        <div class="col-sm-6 news-item right">
          <div class="news-content">
            <div class="date">
              <p>2</p>
              <small></small>
            </div>
            <h2 class="news-title">Pilih Penawaran</h2>
            <p>Pilih proposal pendanaan sesuai seleramu. Beberapa aspek yang perlu dipertimbangkan seperti lokasi, calon pembeli, dan tingkat risiko. Setelah memilih, kamu diminta menyebutkan jumlah saham yang ingin kamu beli, namun kamu tidak diminta untuk langsung membayar.</p>
            <!-- <a class="read-more" href="#">Read More</a> -->
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-6 news-item">
          <div class="news-content">
            <div class="date">
              <p>3</p>
              <small></small>
            </div>
            <h2 class="news-title">Konfirmasi</h2>
            <p>Apabila semua saham untuk proposal tersebut sudah dipesan, maka kamu akan diminta konfirmasi dengan menandatangani kontrak Wakalah dan membayar untuk jumlah saham yang kamu pesan.</p>
            <!-- <a class="read-more" href="#">Read More</a> -->
          </div>
        </div>
        
        <div class="col-sm-6 news-item right">
          <div class="news-content">
            <div class="date">
              <p>4</p>
              <small></small>
            </div>
            <h2 class="news-title">Eksekusi Kontrak</h2>
            <p>Kontrak Musyarakah Mutanaqishah diteken antara Kapiten sebagai wakil para pendana dengan pembeli rumah sebagai klien. Setelah itu Kapiten membeli rumah atas nama syirkah.</p>
            <!-- <a class="read-more" href="#">Read More</a> -->
          </div>
        </div>
      </div>
      
      <!-- <div class="date-title">
        <span>February 2014</span>
      </div> -->
      <div class="row"> 
        <div class="col-sm-6 news-item">
          <div class="news-content">
            <div class="date">
              <p>5</p>
              <small></small>
            </div>
            <h2 class="news-title">Terima Imbal Hasil</h2>
            <p>Kamu sebagai pendana dan anggota syirkah yang tidak memakai aset syirkah (rumah) berhak kompensasi dari si pemakai aset syirkah dalam bentuk pembayaran sewa. Selain itu, kamu juga mempunyai potensi keuntungan dari penjualan saham kepemilikan.</p>
            <!-- <a class="read-more" href="#">Read More</a> -->
          </div>
        </div>
        
        <div class="col-sm-6">

        </div>
      </div>
    </div>
  </div>
</div>     
<%= render 'pages/reminder' %>
<%= render 'layouts/footer' %>
<!-- <div class="section section-dk container-fluid">
  <div class="row">
    <div class="col-md-7 col-md-push-4">
      <h2>100% Responsive</h2>
      <p class="lead">Keuntungan dari investasi yang kamu peroleh di Kapiten dapat kamu kumpulkan. Dan ketika sudah mencapai titik yang kamu butuhkan, kamu bisa langsung mengajukan pendanaan di Kapiten. Sebagai manfaat tambahan, karena kamu sudah membangun reputasi yang bagus dengan Kapiten melalui serangkaian pendanaan, maka kamu akan mendapatkan diskon biaya.</p>
    </div>
    <div class="col-md-4 col-md-pull-7 text-center">
      <div class="fa fa-mobile fa-4x circles"></div>
    </div>
  </div>
</div> -->