<div class="container-fluid container-top" id="saving-product">
  <div class="hex"></div>
  <div class="hex-overlay">
    <div class="hex-logo">Karma
      <p class="hex-text">P l a n</p>
    </div>
  </div>
  <h1 class="text-center">Membantu sesama berarti membantu dirimu sendiri.</h1>
</div>
<div class="section container-fluid">
  <div class="row">
    <div class="col-md-7 col-md-offset-1">
      <div class="features">              
        <h5>Online Reporting</h5>
        <p>
        Pantau kelanjutan dan status investasi secara online.
        </p>
      </div>
      <div class="features">              
        <h5>Bukti Kepemilikan</h5>
        <p>
        Setiap investasimu, berapapun jumlahnya, dinyatakan dalam dokumen resmi secara nyata dan digital.
        </p>
      </div>
      <div class="features">              
        <h5>Sindikasi</h5>
        <p>
          Bingung dalam memilih investasi? Bentuk grup investasi dengan teman-temanmu untuk mempermudah pengambilan keputusan.
        </p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="fa fa-twitter-square fa-4x circles"></div>
    </div>
  </div>
</div>
<div class="section section-dk container-fluid">
  <div class="row">
    <div class="col-md-7 col-md-push-4">
      <h2>100% Responsive</h2>
      <p class="lead">Keuntungan dari investasi yang kamu peroleh di Kapiten dapat kamu kumpulkan. Dan ketika sudah mencapai titik yang kamu butuhkan, kamu bisa langsung mengajukan pendanaan di Kapiten. Sebagai manfaat tambahan, karena kamu sudah membangun reputasi yang bagus dengan Kapiten melalui serangkaian pendanaan, maka kamu akan mendapatkan diskon biaya.</p>
    </div>
    <div class="col-md-4 col-md-pull-7 text-center">
      <div class="fa fa-mobile fa-4x circles"></div>
    </div>
  </div>
</div>
<div class="section container-fluid">
  <div class="section-heading text-center">
      <h1>Musyarakah</h1>
      <p class="wow fadeInDown" data-wow-delay=".5s">
          Ini yang kami tawarkan kepada calon pembeli rumah atau pemilik rumah
      </p>
      <br>
      <br>
  </div>
  <div class="section-heading text-center">
      <div class="controlsBlock">
          <div class="controls">
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
              <h3 class="title landing" data-wow-delay=".3s">Untuk Pendana</h3>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
          </div>
      </div>  
  </div>
  <div class="row">
      <div class="col-md-4 col-lg-4 col-xs-12">
          <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
              <div class="media-left">
                  <div class="icon">
                      <i class="fa fa-star"></i>
                  </div>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">Halal</h4>
                  <p>Imbal hasil dari pendapatan sewa dan penjualan porsi kepemilikan.</p>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xs-12">
          <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
              <div class="media-left">
                  <div class="icon">
                      <i class="fa fa-magic"></i>
                  </div>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">Fleksibel</h4>
                  <p>Jual sahammu atau terus nikmati keuntungan sewa dan apresiasi aset.</p>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-lg-4 col-xs-12">
          <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
              <div class="media-left">
                  <div class="icon">
                      <i class="fa fa-lock"></i>
                  </div>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">Aman</h4>
                  <p>Investasi dilindungi oleh aset serta terdapat langkah-langkah memitigasi risiko.</p>
              </div>
          </div>
      </div>
  </div>  
</div>

<div class="section section-dk container-fluid">
  <div class="row">
     <div class="col-sm-6 col-sm-offset-3">
       <h1 class="text-center">Kapiten masih dalam pengembangan.</h1>
       <h4 class="text-center text-info">we just have to make a few finishing touches</h4>
       <h2 class="text-center"></h2>
       <form class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1">
         <div class="input-group input-group-lg text-center">
           <input class="form-control input-lg" title="Don't worry. We hate spam, and will not share your email with anyone." placeholder="enter your email" type="text">
           <span class="input-group-btn"><button class="btn btn-primary" type="button">Notify me</button></span>
         </div>
       </form>
     </div>
  </div>
</div>