<% meta title: "Solusi Pendanaan Rumah Secara Syariah", description: '',
     keywords: '' %>

<div class="container-fluid container-top" id="financing-product">
  <div class="hex"></div>
  <div class="hex-overlay">
    <div class="hex-logo">Kepemilikan
      <p class="hex-text">R u m a h</p>
    </div>
  </div>
  <h1 class="text-center">Cara terbaik membangun masa depanmu.</h1>
</div>
<%= render 'pages/benefits' %>  
<div class="section section-dk container-fluid home-tour">
  <div class="grid">
    <div class="section-heading text-center">
      <h2 class="section-title">Proses</h2>
      <h1 class="section-headline">Alur Program Kepemilikan Rumah Kapiten</h1>
    </div>

  </div>     
</div>
<div class="section container-fluid">
  <div class="row">
     <div class="col-sm-6 col-sm-offset-3">
       <h1 class="text-center">Kapiten masih dalam pengembangan.</h1>
       <h4 class="text-center text-info">we just have to make a few finishing touches</h4>
       <h2 class="text-center"></h2>
       <form class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1">
         <div class="input-group input-group-lg text-center">
           <input class="form-control input-lg" title="Don't worry. We hate spam, and will not share your email with anyone." placeholder="enter your email" type="text">
           <span class="input-group-btn"><button class="btn btn-primary" type="button">Notify me</button></span>
         </div>
       </form>
     </div>
  </div>
</div>
<%= render 'layouts/footer' %>