<div class="container-fluid container-top" id="saving-product">
  <div class="hex"></div>
  <div class="hex-overlay">
    <div class="hex-logo">Karma
      <p class="hex-text">P l a n</p>
    </div>
  </div>
  <h1 class="text-center">Membantu sesama berarti membantu dirimu sendiri.</h1>
</div>
<div class="section container-fluid">
  <div class="row">
    <div class="col-md-7 col-md-offset-1">
      <h2>Uberly Social</h2>
      <p class="lead">"Karma" adalah skema bagi kamu yang ingin memiliki rumah, namun masih mengumpulkan uang untuk down payment pertama. Pada dasarnya skema ini menjadikan kamu sebagai salah satu pendana di Kapiten yang akan membantu mendanai mereka yang memilih skema "Hijrah".</p>
    </div>
    <div class="col-md-4 text-center">
      <div class="fa fa-twitter-square fa-4x circles"></div>
    </div>
  </div>
</div>
<div class="section section-dk container-fluid">
  <div class="row">
    <div class="col-md-7 col-md-push-4">
      <h2>100% Responsive</h2>
      <p class="lead">Keuntungan dari investasi yang kamu peroleh di Kapiten dapat kamu kumpulkan. Dan ketika sudah mencapai titik yang kamu butuhkan, kamu bisa langsung mengajukan pendanaan di Kapiten. Sebagai manfaat tambahan, karena kamu sudah membangun reputasi yang bagus dengan Kapiten melalui serangkaian pendanaan, maka kamu akan mendapatkan diskon biaya.</p>
    </div>
    <div class="col-md-4 col-md-pull-7 text-center">
      <div class="fa fa-mobile fa-4x circles"></div>
    </div>
  </div>
</div>
<div class="section container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3 class="text-center">Bahu membahu dalam kebaikan, menikmati keuntungan bersama-sama.</h3>
    </div>
  </div>
</div>

<div class="section section-dk container-fluid">
  <div class="row">
     <div class="col-sm-6 col-sm-offset-3">
       <h1 class="text-center">Kapiten masih dalam pengembangan.</h1>
       <h4 class="text-center text-info">we just have to make a few finishing touches</h4>
       <h2 class="text-center"></h2>
       <form class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1">
         <div class="input-group input-group-lg text-center">
           <input class="form-control input-lg" title="Don't worry. We hate spam, and will not share your email with anyone." placeholder="enter your email" type="text">
           <span class="input-group-btn"><button class="btn btn-primary" type="button">Notify me</button></span>
         </div>
       </form>
     </div>
  </div>
</div>