<div class="landing-header">
    <div class="container">
    	<div class="row centered">
<div class="col-md-10 col-md-offset-1 intro-section well">
	<h2 class="black">
		Mohon ganti browser 
	</h2>
	<h4 class="black">
		Maaf, browser yang kamu gunakan kurang memadai untuk mengakses platform siKapiten. Mohon gunakan browser modern seperti  Firefox, Google Chrome, Safari, Baidu, Opera (bukan mobile/mini). 
	</h4>
	<%= link_to "Ke Blog", blog_posts_path, class: "btn btn-md btn-outlined btn-white" %>
</div>
    		<br>
    	</div>
    </div> <!--/ .container -->
</div><!--/ #headerwrap -->	