<%= search_form_for @ven_search, url: home_path do |f| %>

  	<%= f.text_field :name_cont, class: "form-control", placeholder: "nama tempat" %>

    <div align="center">
    	<%= render partial: 'elements/clear_search_button', locals: { path: home_path } %>
    	<%= f.submit "Cari", class: "btn btn-primary" %>
    </div>            


<% end %>	 