<li class="list-group-item">
    <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
			<span><%= venue.name %></span>
			<span>| <%= venue.courts.count %> Lapangan</span>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
			<%= link_to venue_path(venue), class: "btn btn-success" do %>
				<span class="glyphicon glyphicon-zoom-in"></span> Lihat
			<% end %>
		</div>        
        <div class="col-md-2 col-sm-3 col-xs-6	">
        	<%= render partial: 'relationships/follow_form', locals: { followed: venue } %>
        </div>
    </div>

</li>
