<% title("Indeks Arena") %>
    
  <%=  %>

    <div class="row">

      <div class="col-md-10 col-md-offset-1">

          <% @venues.each_with_index do |(province, venue), index| %>
          <h3><%= province %></h3><hr>
            <ul class="list-group">
              <%= render venue %>
             </ul>
          <% end %>
      </div>

    </div>

