<h3>Halaman Manajemen</h3><hr>
  <div class="row stylish-panel">
    <div class="col-md-4">
      <div>
        <i class="fa fa-credit-card fa-3x"></i>
        <h3>Langganan</h3>
        <p>
          Tempat mengurus segala hal yang berurusan dengan urusan berlangganan kamu seperti pembayaran, pencetakan bukti bayar, dan lain-lain.
        </p>
        <% if @firm.subscription.nil? %>
          <%= link_to "Berlangganan", biz_subscribes_path, method: :post, class: "btn btn-danger" %>
        <% else %>
          <%= link_to "Ke Halaman Langganan »", biz_subscription_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <i class="fa fa-users fa-3x"></i>
        <h3>Akses Anggota Tim</h3>
        <p>
          Atur akses dan tindakan yang bisa dilakukan tiap pengguna yang berkaitan.
        </p>
        <a href="<%= biz_rosters_path %>" class="btn btn-primary" title="See more">Ke Halaman Tim »</a>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <i class="fa fa-crosshairs fa-3x"></i>
        <h3>Preferensi</h3>
        <p>
          Untuk mengatur preferensi seperti metode pembayaran, uang muka, dan sebagainya.
        </p>
        <a href="<%= biz_settings_path %>" class="btn btn-primary" title="See more">Ke Halaman Preferensi »</a>
      </div>
    </div>
  </div>