
  <div class="row stylish-panel">
    <div class="col-md-4">
      <div>
        <i class="fa fa-credit-card fa-3x"></i>
        <h3>Pembayaran</h3>
        <p>
          Tempat mengurus segala hal yang berurusan dengan urusan berlangganan kamu seperti pembayaran, pencetakan bukti bayar, dan lain-lain.
        </p>
          <%= link_to "Ke Halaman Pembayaran »", '#', class: "btn btn-primary" %>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <i class="fa fa-users fa-3x"></i>
        <h3>Akses Anggota Tim</h3>
        <p>
          Atur akses dan tindakan yang bisa dilakukan tiap pengguna yang berkaitan.
        </p>
        <a href="<%=  %>" class="btn btn-primary" title="See more">Ke Halaman Anggota »</a>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <i class="fa fa-crosshairs fa-3x"></i>
        <h3>Preferensi</h3>
        <p>
          Untuk mengatur preferensi seperti metode pembayaran, uang muka, dan sebagainya.
        </p>
        <a href="<%=  %>" class="btn btn-primary" title="See more">Ke Halaman Akun Usaha »</a>
      </div>
    </div>
  </div>