<% title("Dashboard #{@firm.name}") %>

  <div class="col-lg-9 main-chart">            
    <div class="row mtbox">
      <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
        <div class="box1">
          <i class="fa fa-5x fa-heart-o"></i>
          <h3>933</h3>
        </div>
        <p>933 People liked your page the last 24hs. Whoohoo!</p>
      </div>
      <div class="col-md-2 col-sm-2 box0">
        <div class="box1">
          <i class="fa fa-5x fa-inbox"></i>
          <h3>+48</h3>
        </div>
        <p>48 New files were added in your cloud storage.</p>
      </div>
      <div class="col-md-2 col-sm-2 box0">
        <div class="box1">
          <i class="fa fa-5x fa-bell-o"></i>
          <h3>23</h3>
        </div>
        <p>You have 23 unread messages in your inbox.</p>
      </div>
      <div class="col-md-2 col-sm-2 box0">
        <div class="box1">
          <i class="fa fa-5x fa-tasks"></i>
          <h3>+10</h3>
        </div>
        <p>More than 10 news were added in your reader.</p>
      </div>
      <div class="col-md-2 col-sm-2 box0">
        <div class="box1">
          <i class="fa fa-5x fa-check"></i>
          <h3>OK!</h3>
        </div>
        <p>Your subscription is working perfectly. Relax & enjoy.</p>
      </div>
    </div><!-- /row mt -->      
    <div class="row mt">
      <div class="col-md-12">
        <section class="task-panel tasks-widget">
          <div class="panel-heading">
            <div class="pull-left">
              <h5><i class="fa fa-tasks"></i> Pengajuan Terbuka Terbaru
              </h5>
            </div>
            <br>
          </div>
          <div class="panel-body">
            <div class="task-content">
              <ul class="task-list">
                <%= render @tenders %>
              </ul>
            </div>
            <div class=" add-task-row">
              <a class="btn btn-success btn-sm pull-left" href="todo_list.html#">Add New Tasks</a>
              <a class="btn btn-info btn-sm pull-right" href="todo_list.html#">Lihat Semua Pengajuan Terbuka</a>
            </div>
          </div>
        </section>
      </div><!-- /col-md-12-->
    </div><!-- /row -->            
  </div><!-- /col-lg-9 END SECTION MIDDLE -->
          
          
  <!-- RIGHT SIDEBAR CONTENT-->                  
          
  <div class="col-lg-3 ds">
    <h3>Notifikasi</h3>
    <%= render 'elements/notification' %>
  </div><!-- /col-lg-3 -->