<h2>Pengelolaan Berkas</h2>

<% unless @documents.blank? %>
  <div class="col-xs-12">
    <% @documents.each do |document| %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <%= render partial: "documents/document", locals: { document: document, thumbnail: true } %>
      </div>
    <% end %>
  </div>  
<% else %>
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
    <div class="spacing"></div>
    <h5 class="centered">Belum ada </h5>
  </div>

<% end %>