<% title("Edit Dokumen") %>

  <div class="portlet portlet-bordered">
  	<%= render partial: 'documents/form', locals: { category: @category, types: all_docs } %>

  	<strong>
  		<%= link_to "Kembali ke Profil", user_path(current_user) %> |
  		<%= link_to "Kembali ke Beranda", user_root_path %>
  	</strong>
  	
  </div>
