<% title("Unggah Dokumen") %>

  <div class="portlet portlet-bordered">
  	<%= render 'form' %>

  	<strong>
  		<%= link_to "Kembali ke Profil", user_path(current_user) %> |
  		<%= link_to "Kembali ke Beranda", user_root_path %>
  	</strong>
  	
  </div>
