
<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
  <div class="portlet portlet-bordered">
  	<%= render 'form' %>

  	<strong>
  		<%= link_to "Kembali ke Profil", user_path(current_user) %> |
  		<%= link_to "Kembali ke Beranda", user_root_path %>
  	</strong>
  	
  </div>
</div>