<% title("Riwayat Reservasi") %>

<div class="col-md-11">

<div class="widget-box">
    <div class="widget-header bordered-bottom bordered-themesecondary">
        <i class="widget-icon fa fa-tags themesecondary"></i>
        <h3 class="widget-caption themesecondary">Riwayat Reservasi</h3>
    </div><!--Widget Header-->
    <div class="widget-body">
        <div class="widget-main no-padding">
          
          <%= render partial: 'reservations/reservations', locals: { collection: @reservations, type: 'user' } %>
        
        </div>
    </div>
</div>
  
</div>
