<div class="main_container">

  <!-- page content -->
  <div class="col-md-12">
    <div class="col-middle">
      <div class="text-center error-display">
        <h1 class="error-number">500</h1>
        <h2>Maaf, tapi ada gangguan yang muncul</h2>
        <p>Akan sangat membantu kami jika kamu bersedia memberitahu kami dengan mengisi formulir di bawah ini </p>
        <div class="mid_center">
        	<h5>Silahkan informasikan tentang gangguannya</h5>
        </div>
			<%= render 'elements/form_contact' %>
      </div>
    </div>
  </div>
  <!-- /page content -->

</div>  