<%= render layout: 'error_style' do %>
	<h1 class="error-number">404</h1>
	<h2>Halaman yang kamu cari tidak ada</h2>
	<p>Kamu mungkin telah salah alamat atau halaman yang kamu cari telah dihapus atau dipindahkan</p>
<% end %>