<div class="main_container">

  <!-- page content -->
  <div class="col-md-12">
    <div class="col-middle">
      <div class="text-center error-display">
        <h1 class="error-number">404</h1>
        <h2>Halaman yang kamu cari tidak ada</h2>
        <p>Kamu mungkin telah salah alamat atau halaman yang kamu cari telah dihapus atau dipindahkan</p>
        <div class="mid_center">
        	<h5>Silahkan kontak kami dengan mengisi formulir ini</h5>
        </div>
			<%= render 'elements/form_contact' %>
      </div>
    </div>
  </div>
  <!-- /page content -->

</div>  