<div class="main_container">

  <!-- page content -->
  <div class="col-md-12">
    <div class="col-middle">
      <div class="text-center error-display">
        <h1 class="error-number">422</h1>
        <h2>Perubahan gagal dilakukan</h2>
        <p>Mungkin karena kamu tidak punya wewenang atas perubahan tersebut</p>
      </div>
    </div>
  </div>
  <!-- /page content -->

</div>    