<div class="x_panel card">
  <div class="x_title">
    <h4>Daftar Tawaran <small></small></h4>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <table class="table table-striped">
      <thead>
        <tr style="font-size: 13px; font-weight: 300;">
          <th>Nama</th>
          <th>Unit</th>
          <th>Nilai</th>
        </tr>
      </thead>
      <tbody>
        <% @bids.each do |bid| %>
          <tr>
            <td><%= bid.bidder.name %></td>
            <td><%= bid.volume %></td>
            <td><%= idr_money(bid.contribution) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>