<div class="widget-box">
  <div class="widget-header bordered-bottom bordered-themesecondary">
    <i class="widget-icon fa fa-tags themesecondary"></i>
    <h5 class="widget-caption themesecondary">Pendana</h5>
  </div><!--Widget Header-->
  <div class="widget-body">
    <div class="widget-main no-padding">
      <div class="tickets-container">
      <% if bids.empty? %>
      <div class="blankslate">
        <div class="spacious">
          <h3><%= "Belum Ada Pendana" %></h3>
        </div>
      </div>                
      <% else %>
        <ul class="tickets-list">
          <%= render bids  %>
        </ul>
      <% end %>
      </div>
    </div>
  </div>
</div>