@import "bootstrap-datepicker3";
@import "styles/landing";
@import "styles/clickable-panel";
@import "styles/profile-box";
@import "styles/shoji-layout";
@import "styles/v-card";
@import "styles/stylish-panel";
@import "styles/tab-panel";
@import "styles/ticket-styles";
@import "styles/colorful-modal";


/* Progress Bar */
$nprogress-color: $brand-coral;
$nprogress-height: 10px;
$nprogress-zindex: 10100;
@import 'nprogress';
@import 'nprogress-bootstrap';



.white {
	color: white;
}

div.reservation {
    padding: 0px;
}

.danger-link {
	color: #BE371F;
}

.coral {
	color: $brand-coral;
}