@import "bootstrap-datepicker3";
@import "styles/landing";
@import "styles/clickable-panel";
@import "styles/profile-box";
@import "styles/shoji-layout";
@import "styles/v-card";
@import "styles/circular-layout-tabs";
@import "styles/ticket-styles";
@import "styles/user-profile-flat";
@import "styles/stylish-panel";
@import "styles/responsive-table";
@import "bootstrap-toggle";

.white {
	color: white;
}

div.reservation {
    padding: 0px;
}

.danger-link {
	color: #BE371F;
}

/*@media( max-width : 585px ){*/
    #main {
    	padding-left: 15px;
    	padding-right: 15px;
    }

/*}*/

