/*@import "styles/mobile-navbar";
@import "styles/image-panel";
@import "styles/ticket-style";
@import "styles/base-layout";
*/
@import "bootstrap-slider";
@import "styles/user";
@import "styles/lists";
@import "styles/custom-panels";
@import 'ionicons';
@import "styles/portlet";
@import "styles/tender";
@import "styles/colorful-modal";
@import "styles/file-upload";
@import "styles/forms";
@import "styles/buttons";
@import "styles/blog";
@import "styles/new-landing";
@import "styles/login";
@import "styles/AdminLTE";
@import "styles/skins/skin-blue";

/* Progress Bar */
$nprogress-color: $brand-coral;
$nprogress-height: 10px;
$nprogress-zindex: 10100;
@import 'nprogress';
@import 'nprogress-bootstrap';


#medium-wrap{
  border: 1px solid #ddd;
  padding-left: 0px; padding-right: 0px;
}

.right-display {
  margin-bottom: 30px;
  .item {
    margin-bottom: 15px;
  }
}

.img-center {
    margin: 0 auto;
}

.pop-helper {
  cursor: pointer;
  font-size: 30px;
  margin-top: 10px;
}

.blankslate {
  position: relative;
  padding: 30px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.05);  
  .spacious {
    padding: 100px 60px 120px;
  }
}

.etc-login-form {
  color: #919191;
  padding: 10px 20px;
}
.etc-login-form p {
  margin-bottom: 5px;
}

#welcome-box{
    /*border: 1px solid #ddd;*/
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    margin-bottom: 10px;
}
.red { color: #f75353 !important; }
.black { color: black; }
.white { color: white; }
.danger-link { color: #BE371F; }
.primary{ color: $brand-primary; }
.grey{ color: $brand-grey; }
.coral { color: $brand-coral; }
.white-background { background-color: white; }
.coral-background { background-color: $brand-coral; }
.primary-background { background-color: $brand-primary; }
.green-background { background-color: $brand-green; }
.blue-background { background-color: $brand-blue; }

/* Main format */
p {
  font-weight: $font-weight-base
}
hr {
    /*max-width: 50px;*/
    border-width: 3px;
}

hr.light {
    border-color: #575757;
    border-width: 1px;
}

hr.coral {
    border-color: $brand-coral;
    border-width: 3px;
}


a:hover, a.selected, a:focus {
  color: #eb3812;
}

/*Helpers*/

.centered {
  text-align: center;
}

.goleft {
  text-align: left;
}

.goright {
  text-align: right;
}

.mt {
  margin-top: 25px;
}

.mb {
  margin-bottom: 25px;
}

.ml {
  margin-left: 5px;
  }

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.side-tab {
  &:hover {
    cursor: pointer;
  }
  .panel-heading {
    border: none;
    background-color: $brand-primary;
    color: white;
  }
  .panel.panel-default {
    border: none;
    box-shadow: none !important;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;      
  }
  .panel-body {
    background-color: $brand-grey;
    text-align: left;
  }
  .panel-title {
    font-weight: 400;
  }    
}