<nav class="navbar navbar-default" id="classic-navbar" style="height: calc(0%); margin-bottom: 10px;">
  <div class="container">
    <div class="navbar-header pull-left">
      <%= link_to root_url(subdomain: ''), class: 'navbar-brand' do %>
      <% end %>
    </div>
    <ul class="nav nav-pills pull-right">
      <li role="presentation">
        <%= active_link_to root_path, :active => :exclusive do %>
              Investasi <span class="hidden-xs">Properti</span>
        <% end %>
      </li>
      <li role="presentation">
        <%= active_link_to ownership_job_path, :active => :exclusive do %>
          Jual-beli <span class="hidden-xs">Rumah</span>
        <% end %>      
      </li>
      <li role="presentation">
        <%= active_link_to "Markas", user_root_url(subdomain: ''), :active => :exclusive if user_signed_in? %>      
      </li>
    </ul>    
  </div>
</nav>