<nav class="navbar navbar-inverse" id="classic-navbar" style="height: calc(0%); margin-bottom: 0px;">
  <div class="container">
    <div class="navbar-header">
      <%= link_to root_url(subdomain: ''), class: 'navbar-brand' do %>
        <%= ENV["SITE_NAME"] %> <span class="label label-success text-capitalize"></span>
      <% end %>
    </div>
<!--     <%= render 'layouts/language_selector' %> -->
  </div>
</nav>