<nav class="navbar navbar-inverse" id="classic-navbar" style="height: calc(0%); margin-bottom: 0px;">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to root_url(subdomain: ''), class: 'navbar-brand' do %>
        <%= ENV["SITE_NAME"] %> <span class="label label-success text-capitalize"></span>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
  </div>
</nav>