<p>
1 PT Investree Radhika Jaya (Perusahaan) adalah badan hukum yang didirikan berdasarkan Hukum Republik Indonesia, tidak diatur oleh atau dalam pengawasan Otoritas Jasa Keuangan (OJK) di Indonesia. Perusahaan menyediakan layanan intermediary: menyalurkan jasa investasi dan pinjam meminjam meliputi investasi dari individu, organisasi, maupun badan hukum kepada individu atau badan hukum tertentu selaku peminjam.
</p>
<p>
2 Perusahaan tidak menyediakan segala bentuk saran atau rekomendasi investasi terkait dengan pilihan-pilihan dalam situs ini. Isi dan materi yang tersedia di investree.id dimaksudkan untuk memberikan informasi dan tidak dianggap sebagai sebuah penawaran, permohonan, undangan, saran, maupun rekomendasi untuk menginvestasikan sekuritas, produk pasar modal, atau jasa keuangan lainnya. Perusahaan dalam memberikan jasanya hanya terbatas pada fungsi administratif.
</p>
<p>
3 Dana investasi dan pinjaman yang ditempatkan di rekening Investree adalah tidak dan tidak akan dianggap sebagai simpanan yang diselenggarakan oleh Perusahaan seperti diatur dalam Peraturan Perundang-Undangan tentang Perbankan di Indonesia.  Perusahaan atau setiap Direktur, Pegawai, Karyawan, Wakil, Afiliasi, atau Agen-Agennya tidak memiliki tanggung jawab terkait dengan segala gangguan atau masalah yang terjadi atau yang dianggap terjadi, yang disebabkan oleh minimnya persiapan atau publikasi dari materi yang tercantum pada situs Perusahaan.
</p>