<div id="footer">
  

    <div class="row footer-first-row">

      <div class="col-xs-12 text-center">
        <p><small>
          &copy; <%= Time.now.year %> - Yourself!
          <br/>
          Co-Founded by: <%= link_to "Galih Muhammad", "#" %>, <%= link_to "Hendra Pamungkas", "#" %>
        </small></p>
      </div>

    </div>

  
</div>