<nav class="navbar navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to root_url(subdomain: ''), class: 'navbar-brand' do %>
        <%= app_name %> <span class="label label-success text-capitalize">Syariah</span>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

  </div>
</nav>