<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'GOALDEN', root_path, class: 'navbar-brand' %>
      <% if user_signed_in? %>

        <%= link_to into_hub(current_user), class: 'navbar-brand' do %>
          <i class="glyphicon glyphicon-home"></i> 
        <% end %>
        <%= link_to destroy_user_session_path, class: 'navbar-brand', data:{method: :delete} do %>
            <i class="glyphicon glyphicon-log-out"></i> 
        <% end %>
        
      <% end %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </div>
</nav>
