      <div class="wrap">
        <div class="container" id="outer-container">
          <div class="row">
            <%= render 'layouts/messages' %>
              
              <section class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 10px; padding-bottom: 100px">

                <div class="col-md-10 col-md-offset-1 col-sm-12 white-background" id="main-layout">
                  <%= yield %>
                </div>
              </section>
                
          </div>
        </div>
      </div>    