  <div class="row">
    <div class="board">
          <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
      <div class="board-inner">
        <ul class="nav nav-tabs" id="myTab">
          <div class="liner"></div>
          <li>
            <%= link_to home_path do %>
              <span class="round-tabs one">
                <i class="glyphicon glyphicon-chevron-left"></i>
              </span> 
            <% end %>
          </li>
          <li class="active">
            <a href="#main" data-toggle="tab" title="main">
              <span class="round-tabs two">
                <span class="glyphicon glyphicon-flag"></span>
              </span> 
            </a>
          </li>
          <li>
            <a href="#booking" data-toggle="tab" title="blah blah">
              <span class="round-tabs three">
                <i class="glyphicon glyphicon-pushpin"></i>
              </span> 
            </a>
          </li>
          <li>
            <a href="#doner" data-toggle="tab" title="completed">
             <span class="round-tabs four">
                <i class="glyphicon glyphicon-ok"></i>
             </span> 
            </a>
          </li>
           
        </ul>
      </div>

      <div class="tab-content">
        <%= render 'main_tab'  %>
        <%= render 'booking_tab' %>
        <%= render 'doner_tab' %>
        <div class="clearfix"></div>
      </div>

    </div>

  </div>   